

@inject SmartContract.Infrastructure.Interfaces.Authenticate.IUserService UserService
@using SmartContract.Utils

@{
    ViewData["Title"] = "ขอแก้ไขข้อมูลนิติกรรมใหม่";
    if (GroupRoles.GroupRoleUnit.Contains(UserService.GetRoleRoleCode()))
        Layout = "_LayoutTemplatesVendor";
    else
        Layout = "_LayoutTemplates";
}


<link href="~/css/home/progressbar.css" rel="stylesheet" />
<link href="~/css/formcontract/formcontract.css" rel="stylesheet" asp-append-version="true" />


<section>
    <div class="">
        <div class="col-md-12">
            <div class="form-group m-1">
                <div class="row">
                    <div class="col-6">
                        <h4>
                            <small><i class="fa fa-book mr-1"></i>แก้ไขข้อมูลสัญญา > </small>
                            <small><span class="text-primary"><u>ขอแก้ไขข้อมูลสัญญาใหม่</u></span></small>
                        </h4>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card mb-3"></div>
        </div>
    </div>
</section>


<div class="card accordion-group">
    <div class="card-header" id="headingDetailContract">
        <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" type="button" data-target="#collapseDetailContract" aria-expanded="true" aria-controls="collapseDetailContract">
                <i class="fas fa-pencil-alt"></i> รายละเอียดนิติกรรมสัญญา
            </button>
        </h5>
    </div>
    <div id="collapseDetailContract" class="collapse show" aria-labelledby="headingDetailContract">
        <div class="card-body thead_tabsub1">
            <div class="form-group">
                <label class="lable_blue" for="">นิติกรรมสัญญา</label>
                <div class="list-group text-center">รายละเอียดข้อมูลนิติกรรมสัญญา</div>
                <hr class="my-4">
            </div>
        </div>
    </div>
</div>


<div class="card accordion-group">
    <div class="card-header" id="headingDetailVendor">
        <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" type="button" data-target="#collapseDetailVendor" aria-expanded="true" aria-controls="collapseDetailVendor">
                <i class="fas fa-pencil-alt"></i> รายละเอียดคู่สัญญา
            </button>
        </h5>
    </div>
    <div id="collapseDetailVendor" class="collapse show" aria-labelledby="headingDetailVendor">
        <div class="card-body thead_tabsub1">
            <div class="form-group">
                <label class="lable_blue" for="">คู่สัญญา</label>
                <div class="list-group text-center">รายละเอียดข้อมูลคู่สัญญา</div>
                <hr class="my-4">
            </div>
        </div>
    </div>
</div>


<div class="card accordion-group">
    <div class="card-header" id="headingDetailContractPeriods">
        <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" type="button" data-target="#collapseDetailContractPeriods" aria-expanded="true" aria-controls="collapseDetailContractPeriods">
                <i class="fas fa-pencil-alt"></i> รายละเอียดงวดงาน
            </button>
        </h5>
    </div>
    <div id="collapseDetailContractPeriods" class="collapse show" aria-labelledby="headingDetailContractPeriods">
        <div class="card-body thead_tabsub1">
            <div class="form-group">
                <label class="lable_blue" for="">งวดงาน</label>
                <div class="list-group text-center">รายละเอียดข้อมูลงวดงาน</div>
                <hr class="my-4">
            </div>
        </div>
    </div>
</div>


<div class="card accordion-group">
    <div class="card-header" id="headingDetailAttachFile">
        <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" type="button" data-target="#collapseDetailAttachFile" aria-expanded="true" aria-controls="collapseDetailAttachFile">
                <i class="fas fa-file"></i> รายละเอียดไฟล์แนบท้ายสัญญา
            </button>
        </h5>
    </div>
    <div id="collapseDetailAttachFile" class="collapse show" aria-labelledby="headingDetailAttachFile">
        <div class="card-body thead_tabsub1">
            <div class="form-group">
                <label class="lable_blue" for="">ไฟล์แนบท้ายสัญญา</label>
                <div class="list-group text-center">รายละเอียดข้อมูลไฟล์แนบท้ายสัญญา</div>
                <hr class="my-4">
            </div>
        </div>
    </div>
</div>

<div class="card accordion-group">
    <div class="card-header" id="headingDetailContractFile">
        <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" type="button" data-target="#collapseDetailContractFile" aria-expanded="true" aria-controls="collapseDetailAttachFile">
                <i class="fas fa-file-alt"></i> รายละเอียดแบบฟอร์มไฟล์สัญญา(ฉบับร่าง)
            </button>
        </h5>
    </div>
    <div id="collapseDetailContractFile" class="collapse show" aria-labelledby="headingDetailContractFile">
        <div class="card-body thead_tabsub1">
            <div class="form-group">
                <label class="lable_blue" for="">แบบฟอร์มไฟล์สัญญา(ฉบับร่าง)</label>
                <div class="list-group text-center">รายละเอียดแบบฟอร์มไฟล์สัญญา(ฉบับร่าง)</div>
                <hr class="my-4">
            </div>
        </div>
    </div>
</div>


<div class="card accordion-group">
    <div class="card-header" id="headingDetailVendorApprove">
        <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" type="button" data-target="#collapseDetailVendorApprove" aria-expanded="true" aria-controls="collapseDetailVendorApprove">
                <i class="fas fa-file-alt"></i> รายละเอียดการลงนามหน่วยบริการ(ผู้มีอำนาจลงนาม)
            </button>
        </h5>
    </div>
    <div id="collapseDetailVendorApprove" class="collapse show" aria-labelledby="headingDetailVendorApprove">
        <div class="card-body thead_tabsub1">
            <div class="form-group">
                <label class="lable_blue" for="">การลงนามหน่วยบริการ(ผู้มีอำนาจลงนาม)</label>
                <div class="list-group text-center">รายละเอียดการลงนามหน่วยบริการ(ผู้มีอำนาจลงนาม)</div>
                <hr class="my-4">
            </div>
        </div>
    </div>
</div>

<div class="card accordion-group">
    <div class="card-header" id="headingDetailSBBVendorApprove">
        <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" type="button" data-target="#collapseDetailSBBVendorApprove" aria-expanded="true" aria-controls="collapseDetailSBBVendorApprove">
                <i class="fas fa-file-alt"></i> รายละเอียดการอนุมัติรหัสคู่สัญญา
            </button>
        </h5>
    </div>
    <div id="collapseDetailSBBVendorApprove" class="collapse show" aria-labelledby="headingDetailSBBVendorApprove">
        <div class="card-body thead_tabsub1">
            <div class="form-group">
                <label class="lable_blue" for="">การอนุมัติรหัสคู่สัญญา</label>
                <div class="list-group text-center">รายละเอียดการอนุมัติรหัสคู่สัญญา</div>
                <hr class="my-4">
            </div>
        </div>
    </div>
</div>

<div class="card accordion-group">
    <div class="card-header" id="headingDetailDepartmentApprove">
        <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" type="button" data-target="#collapseDetailDepartmentApprove" aria-expanded="true" aria-controls="collapseDetailDepartmentApprove">
                <i class="fas fa-file-alt"></i> รายละเอียดการอนุมัติสำนัก/กองทุนย่อย/เขต(ผู้มีอำนาจลงนาม)
            </button>
        </h5>
    </div>
    <div id="collapseDetailDepartmentApprove" class="collapse show" aria-labelledby="headingDetailDepartmentApprove">
        <div class="card-body thead_tabsub1">
            <div class="form-group">
                <label class="lable_blue" for="">การอนุมัติสำนัก/กองทุนย่อย/เขต(ผู้มีอำนาจลงนาม)</label>
                <div class="list-group text-center">รายละเอียดการอนุมัติสำนัก/กองทุนย่อย/เขต(ผู้มีอำนาจลงนาม)</div>
                <hr class="my-4">
            </div>
        </div>
    </div>
</div>

<div class="card accordion-group">
    <div class="card-header" id="headingDetailContractFileSuccess">
        <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" type="button" data-target="#collapseDetailContractFileSuccess" aria-expanded="true" aria-controls="collapseDetailAttachFileSuccess">
                <i class="fas fa-file-alt"></i> รายละเอียดไฟล์สัญญา(ฉบับจริง)
            </button>
        </h5>
    </div>
    <div id="collapseDetailContractFileSuccess" class="collapse show" aria-labelledby="headingDetailContractFileSuccess">
        <div class="card-body thead_tabsub1">
            <div class="form-group">
                <label class="lable_blue" for="">ไฟล์สัญญา(ฉบับจริง)</label>
                <div class="list-group text-center">รายละเอียดไฟล์สัญญา(ฉบับจริง)</div>
                <hr class="my-4">
            </div>
        </div>
    </div>
</div>

<div class="card accordion-group">
    <div class="card-header" id="headingDetailNHSOApprove">
        <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" type="button" data-target="#collapseDetailNHSOApprove" aria-expanded="true" aria-controls="collapseDetailNHSOApprove">
                <i class="fas fa-file-alt"></i> รายละเอียดการอนุมัติส่วนกลาง(ออกเลขที่สัญญา)
            </button>
        </h5>
    </div>
    <div id="collapseDetailNHSOApprove" class="collapse show" aria-labelledby="headingDetailNHSOApprove">
        <div class="card-body thead_tabsub1">
            <div class="form-group">
                <label class="lable_blue" for="">การอนุมัติส่วนกลาง(ออกเลขที่สัญญา)</label>
                <div class="list-group text-center">รายละเอียดการอนุมัติส่วนกลาง(ออกเลขที่สัญญา)</div>
                <hr class="my-4">
            </div>
        </div>
    </div>
</div>


<div class="card accordion-group">
    <div class="card-header" id="headingDetailContractEdit">
        <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" type="button" data-target="#collapseDetailContractEdit" aria-expanded="true" aria-controls="collapseDetailContractEdit">
                <i class="fas fa-file-alt"></i> รายละเอียดการขอแก้ไขข้อมูลสัญญา
            </button>
        </h5>
    </div>
    <div id="collapseDetailContractEdit" class="collapse show" aria-labelledby="headingDetailContractEdit">
        <div class="card-body thead_tabsub1">
            <div class="form-group">
                <label class="lable_blue" for="">การขอแก้ไขข้อมูลสัญญา</label>
                <div class="list-group text-center">รายละเอียดการขอแก้ไขข้อมูลสัญญา</div>
                <hr class="my-4">
            </div>
        </div>
    </div>
</div>


<br />
<div class="col-md-12">
    <div class="col text-center">
        <button type="button" class="btn btn-warning">บันทึกร่าง</button>&nbsp;
        @*<button type="button" class="btn btn-success">บันทึกส่งต่อ <i class="fa fa-angle-right align-middle"></i></button>&nbsp;*@
        <a class="btn btn-success" onclick="showLoading()" asp-area="" asp-controller="Contract" asp-action="EditTracking">บันทึกส่งต่อ</a>&nbsp;
        <button type="button" class="btn btn-dark"><i class="fa fa-angle-left align-middle"></i> ยกเลิกทำรายการ</button>
    </div>
</div>
<br />
<br />