.progressbar-wrapper {
    background: #fff;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 5px;
}

.progressbar li {
    list-style-type: none;
    width: 10%;
    float: left;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    color: #7d7d7d;
    padding-bottom: 10px;
    cursor: pointer;
}

    .progressbar li:before {
        width: 55px;
        height: 55px;
        content: "";
        line-height: 60px;
        border: 2px solid #7d7d7d;
        display: block;
        text-align: center;
        margin: 0 auto 3px auto;
        border-radius: 50%;
        position: relative;
        z-index: 2;
        background-color: #fff;
    }

    .progressbar li:after {
        width: 100%;
        height: 3px;
        content: '';
        position: absolute;
        background-color: #7d7d7d;
        top: 30px;
        left: -50%;
        z-index: 0;
    }

    .progressbar li:first-child:after {
        content: none;
    }

    .progressbar li.active {
        color: green;
        font-weight: bold;
    }

        .progressbar li.active:before {
            border-color: #55b776;
            background: green;
        }

        .progressbar li.active + li:after {
            background-color: #55b776;
        }


        .progressbar li.active:before {
            background: #2c8655 url('../../images/logo/user.svg') no-repeat center center;
            background-size: 60%;
        }

    /*.progressbar li::before {
        background: #fff url('../../images/logo/user.svg') no-repeat center center;
        background-size: 60%;
    }*/

    /*Tab1*/
    .progressbar li.proposal2_tab1all:before {
        content: attr(data-before);
        font-size: 14px;
        font-weight: bold;
        background-size: 60%;
    }

    .progressbar li.proposal2_tab11:before {
        content: attr(data-before);
        font-size: 14px;
        font-weight: bold;
        background-size: 60%;
    }

    .progressbar li.proposal2_tab12:before {
        content: attr(data-before);
        font-size: 14px;
        font-weight: bold;
        background-size: 60%;
    }

    .progressbar li.proposal2_tab13:before {
        content: attr(data-before);
        font-size: 14px;
        font-weight: bold;
        background-size: 60%;
    }

    .progressbar li.proposal2_tab14:before {
        content: attr(data-before);
        font-size: 14px;
        font-weight: bold;
        background-size: 60%;
    }

    .progressbar li.proposal2_tab15:before {
        content: attr(data-before);
        font-size: 14px;
        font-weight: bold;
        background-size: 60%;
    }

    .progressbar li.proposal2_tab16:before {
        content: attr(data-before);
        font-size: 14px;
        font-weight: bold;
        background-size: 60%;
    }

    .progressbar li.proposal2_tab_background:before {
        background: #91bbec;
    }


    /*Tab2*/
    .progressbar li.proposal2_tab2all:before {
        content: attr(data-before);
        font-size: 14px;
        font-weight: bold;
        background-size: 60%;
    }

    .progressbar li.proposal2_tab21:before {
        content: attr(data-before);
        font-size: 14px;
        font-weight: bold;
        background-size: 60%;
    }

    .progressbar li.proposal2_tab22:before {
        content: attr(data-before);
        font-size: 14px;
        font-weight: bold;
        background-size: 60%;
    }

    .progressbar li.proposal2_tab23:before {
        content: attr(data-before);
        font-size: 14px;
        font-weight: bold;
        background-size: 60%;
    }

    .progressbar li.proposal2_tab24:before {
        content: attr(data-before);
        font-size: 14px;
        font-weight: bold;
        background-size: 60%;
    }

    .progressbar li.proposal2_tab25:before {
        content: attr(data-before);
        font-size: 14px;
        font-weight: bold;
        background-size: 60%;
    }

    .progressbar li.proposal2_tab26:before {
        content: attr(data-before);
        font-size: 14px;
        font-weight: bold;
        background-size: 60%;
    }


    /*Tab3*/
    .progressbar li.proposal2_tab3all:before {
        content: attr(data-before);
        font-size: 14px;
        font-weight: bold;
        background-size: 60%;
    }

    .progressbar li.proposal2_tab31:before {
        content: attr(data-before);
        font-size: 14px;
        font-weight: bold;
        background-size: 60%;
    }

    .progressbar li.proposal2_tab32:before {
        content: attr(data-before);
        font-size: 14px;
        font-weight: bold;
        background-size: 60%;
    }

    .progressbar li.proposal2_tab33:before {
        content: attr(data-before);
        font-size: 14px;
        font-weight: bold;
        background-size: 60%;
    }

    .progressbar li.proposal2_tab34:before {
        content: attr(data-before);
        font-size: 14px;
        font-weight: bold;
        background-size: 60%;
    }

    .progressbar li.proposal2_tab35:before {
        content: attr(data-before);
        font-size: 14px;
        font-weight: bold;
        background-size: 60%;
    }

    .progressbar li.proposal2_tab36:before {
        content: attr(data-before);
        font-size: 14px;
        font-weight: bold;
        background-size: 60%;
    }

    .progressbar li.proposal2_tab37:before {
        content: attr(data-before);
        font-size: 14px;
        font-weight: bold;
        background-size: 60%;
    }

    /*Tab4*/
    .progressbar li.proposal2_tab4all:before {
        content: attr(data-before);
        font-size: 14px;
        font-weight: bold;
        background-size: 60%;
    }

    .progressbar li.proposal2_tab41:before {
        content: attr(data-before);
        font-size: 14px;
        font-weight: bold;
        background-size: 60%;
    }

    .progressbar li.proposal2_tab42:before {
        content: attr(data-before);
        font-size: 14px;
        font-weight: bold;
        background-size: 60%;
    }

    .progressbar li.proposal2_tab43:before {
        content: attr(data-before);
        font-size: 14px;
        font-weight: bold;
        background-size: 60%;
    }

    .progressbar li.proposal2_tab44:before {
        content: attr(data-before);
        font-size: 14px;
        font-weight: bold;
        background-size: 60%;
    }

    .progressbar li.proposal2_tab45:before {
        content: attr(data-before);
        font-size: 14px;
        font-weight: bold;
        background-size: 60%;
    }

    .progressbar li.proposal2_tab46:before {
        content: attr(data-before);
        font-size: 14px;
        font-weight: bold;
        background-size: 60%;
    }
