<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <title>@ViewBag.Title</title>
    <link rel="Shortcut Icon" href="~/favicon.ico" type="image/x-icon" />

    <!-- Mobile Specific Meta
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <link href="~/lib/fontawesome5_11_2/css/fontawesome.css" rel="stylesheet">
    <link href="~/lib/fontawesome5_11_2/css/brands.css" rel="stylesheet">
    <link href="~/lib/fontawesome5_11_2/css/solid.css" rel="stylesheet">

    <link href="~/lib/sweetalert2_9_10/dist/sweetalert2.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/lib/datepicker/DateThai/css/bootstrap-datepicker.css" rel="stylesheet" />
    <link href="~/css/pagination.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/templates/css/bootstrap-select.min.css" rel="stylesheet" />

    <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/style.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/btnOnTop.css" rel="stylesheet" asp-append-version="true" />

</head>
<body>
    <div id="body" class="page-container loaddingcontent bg-light">
        <div id="content-wrap">
            <partial name="/Views/Shared/LayoutRegister/_HeaderNHSO.cshtml" />
            <partial name="/Views/Shared/LayoutRegister/_MenuRegisterNHSO.cshtml" />
            @RenderBody()
            <partial name="/Views/Shared/LayoutPartial/_PartialFooter.cshtml" />

            <script src="~/lib/jquery/dist/jquery.min.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

            <script src="~/lib/datepicker/DateThai/js/bootstrap-datepicker.js"></script>
            <script src="~/lib/datepicker/DateThai/js/bootstrap-datepicker-custom.js"></script>
            <script src="~/lib/datepicker/DateThai/locales/bootstrap-datepicker.th.min.js"></script>

            <!-- Sweetalert2 js -->
            <script src="~/lib/sweetalert2_9_10/dist/sweetalert2.js"></script>

            <script src="~/templates/js/bootstrap-select.min.js"></script>

            <!-- signalr js -->
            <script src="~/js/signalr/dist/browser/signalr.js"></script>

            <script src="~/js/site.js" asp-append-version="true"></script>

            @RenderSection("Scripts", required: false)
        </div>
    </div>
    <div id="divLoading">
    </div>
</body>
</html>
