@{
    ViewData["Title"] = "สร้างข้อมูลนิติกรรมใหม่";
}

<link href="~/css/home/progressbar.css" rel="stylesheet" />
<link href="~/css/formcontract/formcontract.css" rel="stylesheet" asp-append-version="true" />


<section>
    <div class="">
        <div class="col-md-12">
            <div class="form-group m-1">
                <div class="row">
                    <div class="col-6">
                        <h4>
                            <small><i class="fa fa-book mr-1"></i>สร้างนิติกรรมสัญญา > </small>
                            <small><span class="text-primary"><u>สร้างนิติกรรมสัญญาใหม่</u></span></small>
                        </h4>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card mb-3"></div>
        </div>
    </div>
</section>



<div class="card accordion-group">
    <div class="card-header" id="headingDetailContract">
        <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" type="button" data-target="#collapseDetailContract" aria-expanded="true" aria-controls="collapseDetailContract">
                <i class="fas fa-pencil-alt"></i> รายละเอียดนิติกรรมสัญญา
            </button>
        </h5>
    </div>
    <div id="collapseDetailContract" class="collapse show" aria-labelledby="headingDetailContract">
        <div class="card-body thead_tabsub1">
            <div class="form-group">
                <label class="lable_blue" for="">เงื่อนไขนิติกรรมสัญญา</label>
                <div class="list-group text-center">รายละเอียดเงื่อนไขข้อมูลนิติกรรมสัญญา</div>
                <hr class="my-4">
            </div>
        </div>
    </div>
</div>


<div class="card accordion-group">
    <div class="card-header" id="headingDetailVendor">
        <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" type="button" data-target="#collapseDetailVendor" aria-expanded="true" aria-controls="collapseDetailVendor">
                <i class="fas fa-pencil-alt"></i> รายละเอียดคู่สัญญา
            </button>
        </h5>
    </div>
    <div id="collapseDetailVendor" class="collapse show" aria-labelledby="headingDetailVendor">
        <div class="card-body thead_tabsub1">
            <div class="form-group">
                <label class="lable_blue" for="">คู่สัญญา</label>
                <div class="list-group text-center">รายละเอียดข้อมูลคู่สัญญา</div>
                <hr class="my-4">
            </div>
        </div>
    </div>
</div>


<div class="card accordion-group">
    <div class="card-header" id="headingDetailRequestApprove">
        <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" type="button" data-target="#collapseDetailRequestApprove" aria-expanded="true" aria-controls="collapseDetailRequestApprove">
                <i class="fas fa-pencil-alt"></i> แบบฟอร์มหนังสือขออนุมัติ
            </button>
        </h5>
    </div>
    <div id="collapseDetailRequestApprove" class="collapse show" aria-labelledby="headingDetailRequestApprove">
        <div class="card-body thead_tabsub1">
            <div class="form-group">
                <label class="lable_blue" for="">หนังสือขออนุมัติ</label>
                <div class="list-group text-center">รายละเอียดหนังสือขออนุมัติ</div>
                <hr class="my-4">
            </div>
        </div>
    </div>
</div>


<div class="card accordion-group">
    <div class="card-header" id="headingDetailContractT03">
        <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" type="button" data-target="#collapseDetailContractT03" aria-expanded="true" aria-controls="collapseDetailContractT03">
                <i class="fas fa-pencil-alt"></i> แบบฟอร์มสัญญาดำเนินงานตามโครงการ
            </button>
        </h5>
    </div>
    <div id="collapseDetailContractT03" class="collapse show" aria-labelledby="headingDetailContractT03">
        <div class="card-body thead_tabsub1">
            <div class="form-group">
                <label class="lable_blue" for="">สัญญาดำเนินงานตามโครงการ</label>
                <div class="list-group text-center">รายละเอียดสัญญาดำเนินงานตามโครงการ</div>
                <hr class="my-4">
            </div>
        </div>
    </div>
</div>


<div class="card accordion-group">
    <div class="card-header" id="headingDetailAttachFile">
        <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" type="button" data-target="#collapseDetailAttachFile" aria-expanded="true" aria-controls="collapseDetailAttachFile">
                <i class="fas fa-file"></i> รายละเอียดไฟล์แนบท้ายสัญญา
            </button>
        </h5>
    </div>
    <div id="collapseDetailAttachFile" class="collapse show" aria-labelledby="headingDetailAttachFile">
        <div class="card-body thead_tabsub1">
            <div class="form-group">
                <label class="lable_blue" for="">ไฟล์แนบท้ายสัญญา</label>
                <div class="list-group text-center">รายละเอียดข้อมูลไฟล์แนบท้ายสัญญา</div>
                <hr class="my-4">
            </div>
        </div>
    </div>
</div>

<br />
<div class="col-md-12">
    <div class="col text-center">
        <button type="button" class="btn btn-warning">บันทึกร่าง</button>&nbsp;
        @*<button type="button" class="btn btn-success">บันทึกส่งต่อ <i class="fa fa-angle-right align-middle"></i></button>*@
        <a class="btn btn-success" onclick="showLoading()" asp-area="" asp-controller="Home" asp-action="ContractApproveStation">บันทึกส่งต่อ</a>&nbsp;
        <button type="button" class="btn btn-dark"><i class="fa fa-angle-left align-middle"></i> ยกเลิกทำรายการ</button>
    </div>
</div>
<br />
<br />