@{
    ViewData["Title"] = "Tracking";
    Layout = "_LayoutTemplatesVendor";

    var _tab = "tab_all";
}
<style>
    .tbl_padding1 td {
        padding: 10px;
    }
</style>

<link href="~/css/home/Tracking.css" rel="stylesheet" />

<section>
    <div class="">
        <div class="col-md-12">
            <div class="form-group m-1">
                <div class="row">
                    <div class="col-6">
                        <h4>
                            <small><i class="fa fa-book mr-1"></i>สร้างนิติกรรมสัญญา > </small>
                            <small><span class="text-primary"><u>ติดตามสถานะ(Tracking)</u></span></small>
                        </h4>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card mb-3"></div>
        </div>
    </div>
</section>

<section>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <nav>
                    <ul id="tabs" class="nav nav-tabs nav-fill">
                        <li class="nav-item tab_station_bar"><a href="" data-target="#tab_all" data-toggle="tab" class="tab_station_bar_active tab_all up-arrow nav-link" onclick="show_table1()">ทั้งหมด(5)</a></li>
                        <li class="nav-item tab_station_bar"><a href="" data-target="#tab_1" data-toggle="tab" class="tab_station_bar_active tab_document up-arrow nav-link text-uppercase" onclick="show_table2()">คู่สัญญา(1)</a></li>
                        <li class="nav-item tab_station_bar"><a href="" data-target="#tab_2" data-toggle="tab" class="tab_station_bar_active tab_approve_dircetor nav-link text-uppercase">สปสช.เขต(2)</a></li>
                        <li class="nav-item tab_station_bar"><a href="" data-target="#tab_3" data-toggle="tab" class="tab_station_bar_active tab_approve_manager nav-link text-uppercase">สปสช.ส่วนกลาง(0)</a></li>
                        <li class="nav-item tab_station_bar"><a href="" data-target="#tab_4" data-toggle="tab" class="tab_station_bar_active tab_receive_doc up-arrow nav-link text-uppercase">ลงนาม(1)</a></li>
                        <li class="nav-item tab_station_bar"><a href="" data-target="#tab_5" data-toggle="tab" class="tab_station_bar_active tab_check nav-link text-uppercase">สำเร็จ(1)</a></li>
                        @*<li class="nav-item tab_station_bar"><a href="" data-target="#tab_6" data-toggle="tab" class="tab_station_bar_active tab_account nav-link text-uppercase">ผูกพันเงิน(0)</a></li>*@
                        <li class="nav-item tab_station_bar"><a href="" data-target="#tab_7" data-toggle="tab" class="tab_station_bar_active tab_finance nav-link text-uppercase">ยกเลิก(0)</a></li>
                    </ul>
                </nav>
                <br />

                <div id="tabsContent" class="tab-content">
                    @*//TabAll---ทั้งหมด---*@
                    <div id="tab_all" class="tab-pane fade">
                        <label class="lable_blue" for="">แสดงข้อมูลรายการนิติกรรมสัญญา :</label> <span class=""><b>ทั้งหมด : 5 ฉบับ</b>&nbsp;&nbsp;&nbsp;&nbsp;<b>วงเงินรวม: 1,xxx,xxx.xx บ.</b></span>
                        <div class="list-group">
                            <table style="font-size:13px;" class="table-bordered thead_tabsub2 tbl_padding1">
                                @*table-hover*@
                                <tbody>
                                    <tr class="text-black">
                                        <td><b>ลำดับที่</b>&nbsp;1</td>
                                        <td class="text-left">
                                            <b>เลขที่ REF</b>&nbsp;:&nbsp;REF65/00001&nbsp;&nbsp;<b>ลงวันที่</b>&nbsp;:&nbsp;01/10/2564
                                            <br />
                                            <b>ประเถทนิติกรรม</b>&nbsp;:&nbsp;สัญญาดำเนินงานตามโครงการ
                                            @*<br />
                                            <b>คู่สัญญา</b>&nbsp;:&nbsp;โรงพยาบาลทดสอบ1(Hxxxx)*@
                                            <br />
                                            <b>สำนัก/ฝ่าย</b>&nbsp;:&nbsp;สำนักงานเขตพื้นที่ xxx
                                            <br />
                                            <b>ผู้ขออนุมัติ</b>&nbsp;:&nbsp;นายxxx xxx&nbsp;&nbsp;<b>วันที่บันทึก</b>&nbsp;:&nbsp;01/10/2564
                                            <br />
                                            <b>ผู้บันทึกล่าสุด</b>&nbsp;:&nbsp;นายxxx xxx&nbsp;&nbsp;<b>วันทีบันทึกล่าสุด</b>&nbsp;:&nbsp;01/10/2564
                                        </td>
                                        <td><b>station</b>&nbsp;:&nbsp;คู่สัญญา</td>
                                        <td>
                                            <b>
                                                สถานะเอกสาร
                                            </b> : บันทึกร่าง
                                            <br /><br /><b>วงเงินตั้งต้น</b> : <b class="text-primary">2xx,xxx.xx บ.</b>
                                        </td>
                                    </tr>
                                    <tr class="text-black">
                                        <td><b>ลำดับที่</b>&nbsp;2</td>
                                        <td class="text-left">
                                            <b>เลขที่ REF</b>&nbsp;:&nbsp;REF65/00002&nbsp;&nbsp;<b>ลงวันที่</b>&nbsp;:&nbsp;01/10/2564
                                            <br />
                                            <b>ประเถทนิติกรรม</b>&nbsp;:&nbsp;สัญญาดำเนินงานตามโครงการ
                                            @*<br />
                                            <b>คู่สัญญา</b>&nbsp;:&nbsp;โรงพยาบาลทดสอบ2(Hxxxx)*@
                                            <br />
                                            <b>สำนัก/ฝ่าย</b>&nbsp;:&nbsp;สำนักงานเขตพื้นที่ xxx
                                            <br />
                                            <b>ผู้ขออนุมัติ</b>&nbsp;:&nbsp;นายxxx xxx&nbsp;&nbsp;<b>วันที่บันทึก</b>&nbsp;:&nbsp;01/10/2564
                                            <br />
                                            <b>ผู้บันทึกล่าสุด</b>&nbsp;:&nbsp;นายxxx xxx&nbsp;&nbsp;<b>วันทีบันทึกล่าสุด</b>&nbsp;:&nbsp;01/10/2564
                                        </td>
                                        <td><b>station</b>&nbsp;:&nbsp;คู่สัญญา</td>
                                        <td>
                                            <b>
                                                สถานะเอกสาร
                                            </b> : รอบันทึกส่งอนุมัติ
                                            <br /><br /><b>วงเงินตั้งต้น</b> : <b class="text-primary">3xx,xxx.xx บ.</b>
                                        </td>
                                    </tr>
                                    <tr class="text-black">
                                        <td><b>ลำดับที่</b>&nbsp;3</td>
                                        <td class="text-left">
                                            <b>เลขที่ REF</b>&nbsp;:&nbsp;REF65/00003&nbsp;&nbsp;<b>ลงวันที่</b>&nbsp;:&nbsp;01/10/2564
                                            <br />
                                            <b>ประเถทนิติกรรม</b>&nbsp;:&nbsp;สัญญาดำเนินงานตามโครงการ
                                            @*<br />
                                            <b>คู่สัญญา</b>&nbsp;:&nbsp;โรงพยาบาลทดสอบ2(Hxxxx)*@
                                            <br />
                                            <b>สำนัก/ฝ่าย</b>&nbsp;:&nbsp;สำนักงานเขตพื้นที่ xxx
                                            <br />
                                            <b>ผู้ขออนุมัติ</b>&nbsp;:&nbsp;นายxxx xxx&nbsp;&nbsp;<b>วันที่บันทึก</b>&nbsp;:&nbsp;01/10/2564
                                            <br />
                                            <b>ผู้บันทึกล่าสุด</b>&nbsp;:&nbsp;นายxxx xxx&nbsp;&nbsp;<b>วันทีบันทึกล่าสุด</b>&nbsp;:&nbsp;01/10/2564
                                        </td>
                                        <td><b>station</b>&nbsp;:&nbsp;สปสช.เขต</td>
                                        <td>
                                            <b>
                                                สถานะเอกสาร
                                            </b> : รอบันทึกส่งต่อ
                                            <br /><br /><b>วงเงินตั้งต้น</b> : <b class="text-primary">4xx,xxx.xx บ.</b>
                                        </td>
                                    </tr>
                                    <tr class="text-black">
                                        <td><b>ลำดับที่</b>&nbsp;4</td>
                                        <td class="text-left">
                                            <b>เลขที่ REF</b>&nbsp;:&nbsp;REF65/00004&nbsp;&nbsp;<b>ลงวันที่</b>&nbsp;:&nbsp;01/10/2564
                                            <br />
                                            <b>ประเถทนิติกรรม</b>&nbsp;:&nbsp;หนังสือแสดงความจำนง
                                            @*<br />
                                            <b>คู่สัญญา</b>&nbsp;:&nbsp;โรงพยาบาลทดสอบ3(Hxxxx)*@
                                            <br />
                                            <b>สำนัก/ฝ่าย</b>&nbsp;:&nbsp;สำนักงานเขตพื้นที่ xxx
                                            <br />
                                            <b>ผู้ขออนุมัติ</b>&nbsp;:&nbsp;นายxxx xxx&nbsp;&nbsp;<b>วันที่บันทึก</b>&nbsp;:&nbsp;01/10/2564
                                            <br />
                                            <b>ผู้บันทึกล่าสุด</b>&nbsp;:&nbsp;นายxxx xxx&nbsp;&nbsp;<b>วันทีบันทึกล่าสุด</b>&nbsp;:&nbsp;01/10/2564
                                        </td>
                                        <td><b>station</b>&nbsp;:&nbsp;สปสช.เขต</td>
                                        <td>
                                            <b>
                                                สถานะเอกสาร
                                            </b> : รอบันทึกส่งต่อ
                                            <br /><br /><b>วงเงินตั้งต้น</b> : <b class="text-primary">5xx,xxx.xx บ.</b>
                                        </td>
                                    </tr>
                                    <tr class="text-black">
                                        <td><b>ลำดับที่</b>&nbsp;5</td>
                                        <td class="text-left">
                                            <b>เลขที่ REF</b>&nbsp;:&nbsp;REF65/00005&nbsp;&nbsp;<b>ลงวันที่</b>&nbsp;:&nbsp;01/10/2564
                                            <br />
                                            <b>ประเถทนิติกรรม</b>&nbsp;:&nbsp;โครงการ
                                            @*<br />
                                            <b>คู่สัญญา</b>&nbsp;:&nbsp;โรงพยาบาลทดสอบ4(Hxxxx)*@
                                            <br />
                                            <b>สำนัก/ฝ่าย</b>&nbsp;:&nbsp;สำนักงานเขตพื้นที่ xxx
                                            <br />
                                            <b>ผู้ขออนุมัติ</b>&nbsp;:&nbsp;นายxxx xxx&nbsp;&nbsp;<b>วันที่บันทึก</b>&nbsp;:&nbsp;01/10/2564
                                            <br />
                                            <b>ผู้บันทึกล่าสุด</b>&nbsp;:&nbsp;นายxxx xxx&nbsp;&nbsp;<b>วันทีบันทึกล่าสุด</b>&nbsp;:&nbsp;01/10/2564
                                        </td>
                                        <td><b>station</b>&nbsp;:&nbsp;ลงนาม</td>
                                        <td>
                                            <b>
                                                สถานะเอกสาร
                                            </b> : รอบันทึกส่งต่อ
                                            <br /><br /><b>วงเงินตั้งต้น</b> : <b class="text-primary">9xx,xxx.xx บ.</b>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    @*//Tab1--- คู่สัญญา---*@
                    <div id="tab_1" class="tab-pane fade">
                        <label class="lable_blue" for="">แสดงข้อมูลรายการนิติกรรมสัญญา :</label> <span class=""><b>คู่สัญญา : 1 ฉบับ</b>&nbsp;&nbsp;&nbsp;&nbsp;<b>วงเงินรวม: 2xx,xxx.xx บ.</b></span>
                        <div class="list-group">
                            <table style="font-size:13px;" class="table-bordered thead_tabsub2 table-hover tbl_padding1">
                                @*table-hover*@
                                <tbody>
                                    <tr class="text-black" data-toggle="modal" data-placement="right" title="คลิก" onclick="showLoading();location.href = '@(Url.Action("T03", "ContractTypeVendor"))'">
                                        <td><b>ลำดับที่</b>&nbsp;1</td>
                                        <td class="text-left">
                                            <b>เลขที่ REF</b>&nbsp;:&nbsp;REF65/00001&nbsp;&nbsp;<b>ลงวันที่</b>&nbsp;:&nbsp;01/10/2564
                                            <br />
                                            <b>ประเถทนิติกรรม</b>&nbsp;:&nbsp;สัญญาดำเนินงานตามโครงการ
                                            @*<br />
                                            <b>คู่สัญญา</b>&nbsp;:&nbsp;โรงพยาบาลทดสอบ1(Hxxxx)*@
                                            <br />
                                            <b>สำนัก/ฝ่าย</b>&nbsp;:&nbsp;สำนักงานเขตพื้นที่ xxx
                                            <br />
                                            <b>ผู้ขออนุมัติ</b>&nbsp;:&nbsp;นายxxx xxx&nbsp;&nbsp;<b>วันที่บันทึก</b>&nbsp;:&nbsp;01/10/2564
                                            <br />
                                            <b>ผู้บันทึกล่าสุด</b>&nbsp;:&nbsp;นายxxx xxx&nbsp;&nbsp;<b>วันทีบันทึกล่าสุด</b>&nbsp;:&nbsp;01/10/2564
                                        </td>
                                        <td><b>station</b>&nbsp;:&nbsp;คู่สัญญา</td>
                                        <td>
                                            <b>
                                                สถานะเอกสาร
                                            </b> : บันทึกร่าง
                                            <br /><br /><b>วงเงินตั้งต้น</b> : <b class="text-primary">2xx,xxx.xx บ.</b>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    @*//Tab2--- สปสช.เขต---*@
                    <div id="tab_2" class="tab-pane fade">
                        <label class="lable_blue" for="">แสดงข้อมูลรายการนิติกรรมสัญญา :</label> <span class=""><b>สปสช.เขต : 1 ฉบับ</b>&nbsp;&nbsp;&nbsp;&nbsp;<b>วงเงินรวม: 9xx,xxx.xx บ.</b></span>
                        <div class="list-group">
                            <table style="font-size:13px;" class="table-bordered thead_tabsub2 tbl_padding1">
                                @*table-hover*@
                                <tbody>
                                    <tr class="text-black">
                                        <td><b>ลำดับที่</b>&nbsp;1</td>
                                        <td class="text-left">
                                            <b>เลขที่ REF</b>&nbsp;:&nbsp;REF65/00003&nbsp;&nbsp;<b>ลงวันที่</b>&nbsp;:&nbsp;01/10/2564
                                            <br />
                                            <b>ประเถทนิติกรรม</b>&nbsp;:&nbsp;สัญญาดำเนินงานตามโครงการ
                                            @*<br />
                                            <b>คู่สัญญา</b>&nbsp;:&nbsp;โรงพยาบาลทดสอบ2(Hxxxx)*@
                                            <br />
                                            <b>สำนัก/ฝ่าย</b>&nbsp;:&nbsp;สำนักงานเขตพื้นที่ xxx
                                            <br />
                                            <b>ผู้ขออนุมัติ</b>&nbsp;:&nbsp;นายxxx xxx&nbsp;&nbsp;<b>วันที่บันทึก</b>&nbsp;:&nbsp;01/10/2564
                                            <br />
                                            <b>ผู้บันทึกล่าสุด</b>&nbsp;:&nbsp;นายxxx xxx&nbsp;&nbsp;<b>วันทีบันทึกล่าสุด</b>&nbsp;:&nbsp;01/10/2564
                                        </td>
                                        <td><b>station</b>&nbsp;:&nbsp;สปสช.เขต</td>
                                        <td>
                                            <b>
                                                สถานะเอกสาร
                                            </b> : รอบันทึกส่งต่อ
                                            <br /><br /><b>วงเงินตั้งต้น</b> : <b class="text-primary">4xx,xxx.xx บ.</b>
                                        </td>
                                    </tr>
                                    <tr class="text-black">
                                        <td><b>ลำดับที่</b>&nbsp;2</td>
                                        <td class="text-left">
                                            <b>เลขที่ REF</b>&nbsp;:&nbsp;REF65/00002&nbsp;&nbsp;<b>ลงวันที่</b>&nbsp;:&nbsp;01/10/2564
                                            <br />
                                            <b>ประเถทนิติกรรม</b>&nbsp;:&nbsp;สัญญาดำเนินงานตามโครงการ
                                            @*<br />
                                            <b>คู่สัญญา</b>&nbsp;:&nbsp;โรงพยาบาลทดสอบ2(Hxxxx)*@
                                            <br />
                                            <b>สำนัก/ฝ่าย</b>&nbsp;:&nbsp;สำนักงานเขตพื้นที่ xxx
                                            <br />
                                            <b>ผู้ขออนุมัติ</b>&nbsp;:&nbsp;นายxxx xxx&nbsp;&nbsp;<b>วันที่บันทึก</b>&nbsp;:&nbsp;01/10/2564
                                            <br />
                                            <b>ผู้บันทึกล่าสุด</b>&nbsp;:&nbsp;นายxxx xxx&nbsp;&nbsp;<b>วันทีบันทึกล่าสุด</b>&nbsp;:&nbsp;01/10/2564
                                        </td>
                                        <td><b>station</b>&nbsp;:&nbsp;สปสช.เขต</td>
                                        <td>
                                            <b>
                                                สถานะเอกสาร
                                            </b> : รอบันทึกส่งอนุมัติ
                                            <br /><br /><b>วงเงินตั้งต้น</b> : <b class="text-primary">3xx,xxx.xx บ.</b>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    @*//Tab3--- สปสช.ส่วนกลาง---*@
                    <div id="tab_3" class="tab-pane fade">
                        <label class="lable_blue" for="">แสดงข้อมูลรายการนิติกรรมสัญญา :</label> <span class=""><b>สปสช.ส่วนกลาง : 0 ฉบับ</b></span>
                        <div class="list-group text-center">ไม่พบข้อมูล</div>
                    </div>

                    @*//Tab4---ลงนาม---*@
                <div id="tab_4" class="tab-pane fade">
                    <label class="lable_blue" for="">แสดงข้อมูลรายการนิติกรรมสัญญา :</label> <span class=""><b>ลงนาม : 1 ฉบับ</b>&nbsp;&nbsp;&nbsp;&nbsp;<b>วงเงินรวม: 9xx,xxx.xx บ.</b></span>
                    <div class="list-group">
                        <table style="font-size:13px;" class="table-bordered thead_tabsub2 table-hover tbl_padding1">
                            @*table-hover*@
                            <tbody>
                                <tr class="text-black" data-toggle="modal" data-placement="right" title="คลิก" onclick="showLoading();location.href = '@(Url.Action("T03ACS", "ContractType"))'">
                                    <td><b>ลำดับที่</b>&nbsp;1</td>
                                    <td class="text-left">
                                        <b>เลขที่ REF</b>&nbsp;:&nbsp;REF65/00003&nbsp;&nbsp;<b>ลงวันที่</b>&nbsp;:&nbsp;01/10/2564
                                        <br />
                                        <b>ประเถทนิติกรรม</b>&nbsp;:&nbsp;หนังสือแสดงความจำนง
                                        @*<br />
                                        <b>คู่สัญญา</b>&nbsp;:&nbsp;โรงพยาบาลทดสอบ3(Hxxxx)*@
                                        <br />
                                        <b>สำนัก/ฝ่าย</b>&nbsp;:&nbsp;สำนักงานเขตพื้นที่ xxx
                                        <br />
                                        <b>ผู้ขออนุมัติ</b>&nbsp;:&nbsp;นายxxx xxx&nbsp;&nbsp;<b>วันที่บันทึก</b>&nbsp;:&nbsp;01/10/2564
                                        <br />
                                        <b>ผู้บันทึกล่าสุด</b>&nbsp;:&nbsp;นายxxx xxx&nbsp;&nbsp;<b>วันทีบันทึกล่าสุด</b>&nbsp;:&nbsp;01/10/2564
                                    </td>
                                    <td><b>station</b>&nbsp;:&nbsp;ลงนาม</td>
                                    <td>
                                        <b>
                                            สถานะเอกสาร
                                        </b> : รอบันทึกส่งต่อ
                                        <br /><br /><b>วงเงินตั้งต้น</b> : <b class="text-primary">4xx,xxx.xx บ.</b>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                    @*//Tab5---สำเร็จ---*@
                    <div id="tab_5" class="tab-pane fade">
                        <label class="lable_blue" for="">แสดงข้อมูลรายการนิติกรรมสัญญา :</label> <span class=""><b>สำเร็จ : 1 ฉบับ</b>&nbsp;&nbsp;&nbsp;&nbsp;<b>วงเงินรวม: 9xx,xxx.xx บ.</b></b></span>
                        <div class="list-group">
                            <table style="font-size:13px;" class="table-bordered thead_tabsub2 tbl_padding1">
                                @*table-hover*@
                                <tbody>

                                    <tr class="text-black">
                                        <td><b>ลำดับที่</b>&nbsp;1</td>
                                        <td class="text-left">
                                            <b>เลขที่ REF</b>&nbsp;:&nbsp;REF65/00005&nbsp;&nbsp;<b>ลงวันที่</b>&nbsp;:&nbsp;01/10/2564
                                            <br />
                                            <b>ประเถทนิติกรรม</b>&nbsp;:&nbsp;โครงการ
                                            @*<br />
                                            <b>คู่สัญญา</b>&nbsp;:&nbsp;โรงพยาบาลทดสอบ4(Hxxxx)*@
                                            <br />
                                            <b>สำนัก/ฝ่าย</b>&nbsp;:&nbsp;สำนักงานเขตพื้นที่ xxx
                                            <br />
                                            <b>ผู้ขออนุมัติ</b>&nbsp;:&nbsp;นายxxx xxx&nbsp;&nbsp;<b>วันที่บันทึก</b>&nbsp;:&nbsp;01/10/2564
                                            <br />
                                            <b>ผู้บันทึกล่าสุด</b>&nbsp;:&nbsp;นายxxx xxx&nbsp;&nbsp;<b>วันทีบันทึกล่าสุด</b>&nbsp;:&nbsp;01/10/2564
                                        </td>
                                        <td><b>station</b>&nbsp;:&nbsp;สำเร็จ</td>
                                        <td>
                                            <b>
                                                สถานะเอกสาร
                                            </b> : รอบันทึกส่งต่อ
                                            <br /><br /><b>วงเงินตั้งต้น</b> : <b class="text-primary">9xx,xxx.xx บ.</b>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    @*//Tab6---ผูกพันเงิน---*@
                    <div id="tab_6" class="tab-pane fade">
                        <label class="lable_blue" for="">แสดงข้อมูลรายการนิติกรรมสัญญา :</label> <span class=""><b>ผูกพันเงิน : 1 ฉบับ</b></span>
                        <div class="list-group text-center">ไม่พบข้อมูล</div>
                    </div>

                    @*//Tab7---ยกเลิก---*@
                    <div id="tab_7" class="tab-pane fade">
                        <label class="lable_blue" for="">แสดงข้อมูลรายการนิติกรรมสัญญา :</label> <span class=""><b>ยกเลิก : 0 ฉบับ</b></span>
                        <div class="list-group text-center">ไม่พบข้อมูล</div>
                    </div>

                    <br />
                </div>
                <br /><br />
            </div>
        </div>
    </div>
</section>



@section Scripts {
    <script type="text/javascript">
        var _tab_active = '@(_tab)';
        $(function () {
            if (_tab_active != "" && _tab_active != undefined) {
                $(`.${_tab_active}`).addClass('active'); $(`#${_tab_active}`).addClass('active show');
            } else {
                $('.tab_all').addClass('active'); $('#tab_all').addClass('active show');
            }

            $('[data-toggle="modal"]').tooltip()
        });
    </script>
}
