
@model ErrorViewModel
@{
    ViewData["Title"] = "SystemNoti";
    Layout = "~/Views/Shared/_LayoutError.cshtml";
}

<h4 class="alert alert-info" role="alert">
    System Notification
</h4>

<div id="accordion">
    <div class="card">
        <div class="">
            <div class="card-body">
                @if (Model.MessageError != null)
                {
                    <p class="text-danger">
                        @Model.MessageError
                    </p>
                }
            </div>
        </div>
    </div>

</div>

