
@model SmartContract.Infrastructure.Resources.ContractTypeVendor.TAllMasterVendorView
@using SmartContract.Utils

@{
    Layout = null;
}

<section>
    <div>
        <div class="col-md-12">
            <div class="form-group mt-md-3">
                <div class="row">
                    <div class="col-md-12 justify-content-center">
                        <div class="progressbar-wrapper bg-transparent">
                            <ul id="progressbar_tab1" class="progressbar">
                                <li style="width:14.0%" class="proposal2_tab11">สร้าง(ร่าง)นิติกรรม</li>
                                <li style="width:14.0%" class="proposal2_tab12">หนังสือขออนุมัติ</li>
                                <li style="width:14.0%" class="proposal2_tab13">สร้างนิติกรรมสัญญา</li>
                                <li style="width:14.0%" class="proposal2_tab14">ออกเลขที่สัญญา</li>
                                <li style="width:14.0%" class="proposal2_tab15">ลงนาม 2 ฝ่าย</li>
                                <li style="width:14.0%" class="proposal2_tab16">ผูกพัน</li>
                                <li style="width:14.0%" class="proposal2_tab17">ยกเลิก</li>
                            </ul>
                        </div>
                    </div>
                    <br />
                </div>
                <br />
            </div>
        </div>
    </div>
</section>
