
@model SmartContract.Infrastructure.Resources.ContractTypeVendor.TAllMasterVendorView
@using SmartContract.Utils;

@{
    Layout = null;
    var indata = Model.InfoContract;
}

<section>
    <div class="">
        <div class="col-md-12">
            <div class="form-group row">
                <label class="col-sm-3 col-form-label text-sm-right">เลขที่อ้างอิง :</label>
                <div class="col-sm-7">
                    <input type="text" readonly class="form-control-plaintext text-primary"
                           asp-for="InfoContract.RefId" value="@(indata.RefId !=null ? indata.RefId : "-")">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label text-sm-right">เลขที่สัญญา :</label>
                <div class="col-sm-7">
                    <input type="text" readonly class="form-control-plaintext text-primary"
                           asp-for="InfoContract.ContractId" value="@(indata.ContractId !=null ? indata.ContractId : "-")">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label text-sm-right">วันที่ทำสัญญา :</label>
                <div class="col-sm-7">
                    <input type="text" readonly class="form-control-plaintext text-primary"
                           asp-for="InfoContract.ContractDate" value="@(indata.ContractDate.HasValue ?  GeneralUtils.DateToThString(indata.ContractDate) : "-")">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label text-sm-right">สำนัก/กองทุนย่อย/เขต :</label>
                <div class="col-sm-7">
                    <input type="text" readonly class="form-control-plaintext text-primary"
                           asp-for="InfoContract.BureauSubFundCounty">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label text-sm-right">ประเภทนิติกรรมสัญญา :</label>
                <div class="col-sm-7">
                    <input type="text" readonly class="form-control-plaintext text-primary"
                           asp-for="InfoContract.ContractTypeFullName">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label text-sm-right">รูปแบบการลงนาม :</label>
                <div class="col-sm-7">
                    <input type="text" readonly class="form-control-plaintext text-primary"
                           asp-for="InfoContract.SigningType">
                </div>
            </div>
        </div>
    </div>
</section>
