
@{
    Layout = null;
}

<section>
    <div class="">
        <div class="col-md-12">
            <form>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label text-sm-right">สัญญาฉบับนี้ทำขึ้น ณ :</label>
                    <div class="col-sm-7">
                        <input type="text" readonly class="form-control-plaintext text-primary" value="สำนักงานหลักประกันสุขภาพแห่งชาติ เขต 13 กรุงเทพมหานคร">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-3 col-form-label text-sm-right">จังหวัด :</label>
                    <div class="col-sm-7">
                        <input type="text" readonly class="form-control-plaintext text-primary" value="กรุงเทพฯ">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label text-sm-right">อำเภอ/เขต :</label>
                    <div class="col-sm-7">
                        <input type="text" readonly class="form-control-plaintext text-primary" value="หลักสี่">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label text-sm-right">ตำบล/แขวง :</label>
                    <div class="col-sm-7">
                        <input type="text" readonly class="form-control-plaintext text-primary" value="ทุ่งสองห้อง">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label text-sm-right">ถนน :</label>
                    <div class="col-sm-7">
                        <input type="text" readonly class="form-control-plaintext text-primary" value="แจ้งวัฒนะ">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label text-sm-right">ตั้งอยู่เลขที่ :</label>
                    <div class="col-sm-7">
                        <input type="text" readonly class="form-control-plaintext text-primary" value="120 ม.3 อาคารรัฐประศาสนภักดี ชั้น 5 (ฝั่งลานจอดรถ) ศูนย์ราชการเฉลิมพระเกียรติฯ">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label text-sm-right">ผู้มีอำนาจลงนาม :</label>
                    <div class="col-sm-1 pr-sm-0">
                        <input type="text" class="form-control bg-focus" placeholder="คำนำหน้า">
                    </div>
                    <div class="col-sm-3 pr-sm-0">
                        <input type="text" class="form-control bg-focus" placeholder="ชื่อ">
                    </div>
                    <div class="col-sm-3 ">
                        <input type="text" class="form-control bg-focus" placeholder="นามสกุล">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label text-sm-right">ตำแหน่ง :</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control bg-focus" placeholder="">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label text-sm-right">E-mail :</label>
                    <div class="col-sm-7">
                        <input type="email" class="form-control bg-focus" placeholder="example@nhso.go.th">
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>


@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {


        });


    </script>
}