
@{
    Layout = null;
}

<section>
    <div class="">
        <div class="col-md-12">
                <label class="lable_blue" for=""><i class="fa fa-th-list mr-1 mb-2"></i>ฝ่ายสำนักงาน</label>
                <div class="form-group">
                    <label class="lable_blue" for="">รายละเอียดลงนาม(สปสช.)</label>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label text-sm-right">ผู้มีอำนาจลงนาม (สำนักงาน) :</label>
                        <div class="col-sm-7">
                            <input type="text" readonly class="form-control-plaintext text-primary" value="นายทดสอบ1 ลงนามสำนักงาน">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label text-sm-right">ตำแหน่ง :</label>
                        <div class="col-sm-7">
                            <input type="text" readonly class="form-control-plaintext text-primary" value="เจ้าหน้าที่XXX สำนักงานหลักประกันสุขภาพแห่งชาติ เขต X">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label text-sm-right">ลายเซนต์ :</label>
                        <div class="col-sm-4">
                            <textarea name="approval_nsho_sign" cols="40" rows="5" placeholder=""></textarea>
                        </div>
                        <div class="col-sm-4 align-baseline">
                            <button type="button" class="btn btn-info fa-1x">เพิ่มลายเซนต์</button>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</section>
