
@model SmartContract.Infrastructure.Resources.Guarantee.ELGCreateMain
@using SmartContract.Infrastructure.Resources.Share
@using SmartContract.Utils;

@{
    ViewData["Title"] = "Create";
}


<link href="~/css/formcontract/formcontract.css" rel="stylesheet" asp-append-version="true" />
<link href="~/css/home/progressbarproposal.css" rel="stylesheet" />

@if (Model.errorCheck)
{
    <partial name="../Shared/LayoutPartial/_PartialMessageError.cshtml" model="new CommonModel() { errorMessage = Model.errorMessage }" />
}
else
{
    <form asp-controller="Guarantee" asp-action="Create" enctype="multipart/form-data" method="post"
          data-ajax="true" data-ajax-method="post"
          data-ajax-begin="onbeginForm"
          data-ajax-complete="completedForm"
          data-ajax-failure="failedForm">
        <div>
            <section>
                <div class="">
                    <div class="col-md-12">
                        <div class="form-group m-1">
                            <div class="row">
                                <div class="col-12">
                                    <h4>
                                        <small><i class="fa fa-file-alt mr-1 x_title_before"></i>สร้างคำขอหนังสือค้ำประกัน</small>
                                    </h4>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card mb-3"></div>
                    </div>
                </div>
            </section>
            <div class="card accordion-group">
                <div class="card-header" id="headingDetailT03_12">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" type="button" data-target="#collapseDetailT03_12" aria-expanded="true" aria-controls="collapseDetailT03_12">
                            <i class="fas fa-file-alt"></i> รายละเอียดคำขอหนังสือค้ำประกัน
                        </button>
                    </h5>
                </div>
                <div id="collapseDetailT03_12" class="collapse show" aria-labelledby="headingDetailT03_12">
                    <div class="card-body thead_tabsub1 bg-form">
                        <section>
                            <div class="">
                                <div class="col-md-12 py-3">
                                    <label class="lable_blue h6" for=""><i class="fa fa-th-list mr-1 mb-2"></i>ประเภทใบคำขอ</label>
                                </div>
                                <div class="col-md-12">
                                    <label class="col-sm-1 col-form-label text-sm-right"></label>
                                    <div class="form-check form-check-inline mr-5">
                                        <input class="form-check-input" type="radio" asp-for="Request.appTypeId" id="inlineRadio3" value="3">
                                        <label class="form-check-label" for="inlineRadio3">ขอคืน</label>
                                    </div>
                                    <div class="form-check form-check-inline mr-5">
                                        <input class="form-check-input" type="radio" asp-for="Request.appTypeId" id="inlineRadio4" value="4">
                                        <label class="form-check-label" for="inlineRadio4">ขอเคลม</label>
                                    </div>
                                    <div class="form-check form-check-inline mr-5">
                                        <input class="form-check-input" type="radio" asp-for="Request.appTypeId" id="inlineRadio5" value="5">
                                        <label class="form-check-label" for="inlineRadio5">ขอเพิ่ม</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" asp-for="Request.appTypeId" id="inlineRadio6" value="6">
                                        <label class="form-check-label" for="inlineRadio6">ขอลด</label>
                                    </div>
                                </div>
                                <div class="col-md-12 py-3">
                                    <label class="lable_blue h6" for=""><i class="fa fa-th-list mr-1 mb-2"></i>รายละเอียดหนังสือค้ำประกัน</label>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group row mb-0">
                                        <label class="col-sm-1 col-form-label text-sm-right"></label>
                                        <label class="col-sm-2 col-form-label">Tax ID :</label>
                                        <div class="col-sm-7">
                                            <input type="text" readonly class="form-control-plaintext text-primary"
                                                   asp-for="Request.taxId" value="1234455666789">
                                        </div>
                                    </div>
                                    <div class="form-group row mb-0">
                                        <label class="col-sm-1 col-form-label text-sm-right"></label>
                                        <label class="col-sm-2 col-form-label">ชื่อลูกค้า :</label>
                                        <div class="col-sm-7">
                                            <input type="text" readonly class="form-control-plaintext text-primary"
                                                   asp-for="Request.requesterNameTh" value="ชื่อลูกค้าที่เป็นเจ้าของงาน">
                                        </div>
                                    </div>
                                    <div class="form-group row mb-0">
                                        <label class="col-sm-1 col-form-label text-sm-right"></label>
                                        <label class="col-sm-2 col-form-label">เลขที่สัญญา :</label>
                                        <div class="col-sm-7">
                                            <input type="text" readonly class="form-control-plaintext text-primary"
                                                   asp-for="Request.contractNo" value="65-00001">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-1 col-form-label text-sm-right"></label>
                                        <label class="col-sm-2 col-form-label">สัญญาลงวันที่ :</label>
                                        <div class="col-sm-7">
                                            <input type="text" readonly class="form-control-plaintext text-primary"
                                                   asp-for="Request.contractDate" value="01/05/2565">
                                        </div>
                                    </div>
                                    <div class="form-row mt-4">
                                        <label class="col-sm-1 col-form-label text-sm-right"></label>
                                        <div class="form-group col-md-5">
                                            <label for="inputEmail4">วันที่เริ่มค้ำประกัน</label>
                                            <input type="text" class="form-control input_icon_calendar datepicker"
                                                   asp-for="Request.effectiveDateStart"
                                                   placeholder="วว/ดด/ปปปป" autocomplete="off">
                                        </div>
                                        <div class="form-group col-md-5">
                                            <label for="inputPassword4">วันที่สิ้นสุดค้ำประกัน</label>
                                            <input type="text" class="form-control input_icon_calendar datepicker"
                                                   asp-for="Request.effectiveDateEnd"
                                                   placeholder="วว/ดด/ปปปป" autocomplete="off">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <label class="col-sm-1 col-form-label text-sm-right"></label>
                                        <div class="form-group col-md-5">
                                            <label for="">เลขที่หนังสือค้ำประกัน</label>
                                            <input type="text" asp-for="Request.lgNumber" class="form-control" value="00019/200008/0203/63">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <label class="col-sm-1 col-form-label text-sm-right"></label>
                                        <div class="form-group col-md-5">
                                            <label for="">มูลค่าค้ำประกัน</label>
                                            <input type="number" asp-for="Request.lgAmount" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <label class="col-sm-1 col-form-label text-sm-right"></label>
                                        <div class="form-group col-md-5">
                                            <label for="inputEmail4">ประเภทหนังสือค้ำประกัน</label>
                                            <select class="form-control selectpicker" data-live-search="true" asp-for="Request.guaranteeTypeId">
                                                <option value="">---เลือก---</option>
                                                <option value="1">ยื่นซอง</option>
                                                <option value="2">การรับเงินล่วงหน้า</option>
                                                <option value="3">การปฎิบัติตามสัญญา</option>
                                                <option value="5">การใช้กระแสไฟฟ้า</option>
                                                <option value="6">ค่าภาษีอากร 19 ทวิ</option>
                                                <option value="7">การซื้อสินค้า</option>
                                                <option value="8">สาธารณูปโภคเพื่อการจัดสรรที่ดิน</option>
                                                <option value="9">การรับเงินประกันผลงาน</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-md-5">
                                            <label for="inputPassword4">ประเภทสัญญา</label>
                                            <select class="form-control selectpicker" data-live-search="true" asp-for="Request.contractTypeId">
                                                <option value="">---เลือก---</option>
                                                <option value="1">สัญญาจ้าง</option>
                                                <option value="2">สัญญาซื้อขาย</option>
                                                <option value="3">สัญญาจะซื้อจะขาย</option>
                                                <option value="4">สัญญาเช่า</option>
                                                <option value="5">ใบเสนอราคา</option>
                                                <option value="6">ใบสั่งซื้อ</option>
                                                <option value="7">Purchase Order</option>
                                                <option value="8">เอกสารยืนยันการว่าจ้าง</option>
                                                <option value="99">อื่นๆ โปรดระบุ</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <label class="col-sm-1 col-form-label text-sm-right"></label>
                                        <div class="form-group col-md-10">
                                            <label for="">รายละเอียดงานตามสัญญา</label>
                                            <textarea class="form-control" asp-for="Request.contractDetail" rows="3"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <label class="col-sm-1 col-form-label text-sm-right"></label>
                                        <div class="form-group col-md-10">
                                            <label for="">หมายเหตุ</label>
                                            <input type="text" asp-for="Request.comment" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <label class="col-sm-1 col-form-label text-sm-right"></label>
                                        <div class="form-group col-md-5">
                                            <label for="">Email ของลูกค้าสำหรับส่งใบเสร็จ</label>
                                            <input type="text" asp-for="Request.email" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <label class="col-sm-1 col-form-label text-sm-right"></label>
                                        <div class="form-group col-md-5">
                                            <label for="">เบอร์โทรศัพท์ของลูกค้าสำหรับส่ง sms</label>
                                            <input type="text" asp-for="Request.sms" class="form-control">
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </section>

                    </div>
                </div>
            </div>

            <div class="col text-center mt-5">
                <a class="btn btn-secondary mr-2" asp-controller="Home" asp-action="Index"> ยกเลิกทำรายการ</a>
                <button type="submit" class="btn btn-success" name="BtnSubmit" value="1">บันทึกคำขอ </button>
            </div>
        </div>
    </form>

    @section Scripts {
        <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>
        <script src="~/js/guarantee/ELGCreate.js" asp-append-version="true"></script>
    }
}