
@model SmartContract.Infrastructure.Resources.Authenticate.DDOPALogin

@{
    ViewData["Title"] = "DDOPA";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<link href="~/css/home/progressbar.css" rel="stylesheet" />
<link href="~/css/formcashpay/cashpaycreate.css" rel="stylesheet" asp-append-version="true" />


<section>
    <div class="">
        <div class="col-md-12">
            <div class="form-group m-3">
                <div class="row">
                    <div class="col-6">
                        <h4>
                            <small class="text-dark"><i class="fa fa-book mr-1"></i>ลงชื่อเข้าใช้งาน</small>
                        </h4>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card mb-3"></div>
        </div>
    </div>
</section>

<br />
<br />
<div class="col-md-12">
    <div>code : @Model.code</div>
    <div>state : @Model.state</div>
    <div class="col text-center">
        <a class="fa-4x" onclick="showLoading()" asp-controller="Register" asp-action="Profile"><img src="~/images/logo/Ddopa1.jpg" /></a>
    </div>
</div>
<br />
<br />
@section Scripts {
    <script type="text/javascript">

    </script>
}