@{
    ViewData["Title"] = "FM-403-02-01";
    Layout = null;
}
<link rel="stylesheet" href="~/css/font.css" />
<link rel="stylesheet" href="~/css/FM.css" asp-append-version="true" />

<section>
    <div class="main-page size-16">
        <div class="header-page ">
            <p class="text-right">เลขที่อ้างอิง XXXXXX</p>
        </div>
        <div class="content-page ">
            <div class="text-center">
                <img src="../images/logo/NHSO.png" alt="Mountain">
            </div>
            <h3 class="text-center size-18">สัญญาให้บริการสาธารณสุข (สำรองเตียง) กรณีอุบัติเหตุหรือกรณีเจ็บป่วยฉุกเฉิน</h3>
            <div class="text-right ">สัญญาเลขที่ XXXXXX</div>
            <div class="text-1">
                สัญญาฉบับนี้ทำขึ้น  ณ {1@02} เลขที่ {2@03} ถนน {3@05} ตำบล {4@06} อำเภอ {5@07} จังหวัด {6@08} เมื่อวันที่{7@09}เดือน{8@10}พ.ศ.{9@11} ระหว่างสำนักงานหลักประกันสุขภาพแห่งชาติ  โดย {10@12} ซึ่งต่อไปในสัญญานี้เรียกว่า“สำนักงาน”ฝ่ายหนึ่ง กับ {11@13} สำนักงานใหญ่ตั้งอยู่ เลขที่ {12@14} ถนน {13@16} ตำบล {14@17} อำเภอ {15@18} จังหวัด {16@19} โดย {17@20} ได้รับมอบอำนาจจาก {18@21} อำนาจลงนามผูกพัน  ปรากฏตามหนังสือ {19@22} เลขที่ {20@23} ลงวันที่ {21@24} เดือน {22@25} พ.ศ. {23@26} ตามหนังสือมอบอำนาจลงวันที่ {24@27} เดือน {25@28} พ.ศ. {26@29} แนบท้ายสัญญานี้  ซึ่งเป็นผู้ประกอบกิจการสถานพยาบาลชื่อ {27@30} ตั้งอยู่เลขที่ {28@31} ถนน {29@33} ตำบล {30@34} อำเภอ {31@35} จังหวัด {32@36} ตามใบอนุญาตประกอบกิจการสถานพยาบาล เลขที่ {33@37} ลงวันที่ {34@38} เดือน {35@39} พ.ศ. {36@40} รับเป็นสถานบริการสำรองเตียง กรณีอุบัติเหตุ หรือกรณีเจ็บป่วยฉุกเฉิน ซึ่งต่อไปในสัญญานี้เรียกว่า “สถานบริการสำรองเตียง” อีกฝ่ายหนึ่ง
            </div>
            <br />
            <div class="text-1">คู่สัญญาทั้งสองฝ่ายได้ตกลงกันมีข้อความ ดังต่อไปนี้</div>
            <div class="text-1"><b>ข้อ 1 ข้อตกลงให้บริการสาธารณสุข</b> </div>
            <div class="text-1">
                สำนักงาน ตกลงให้สถานบริการเป็นสถานบริการสำรองเตียงให้บริการสาธารณสุขแก่ผู้มีสิทธิ ตามกฎหมายว่าด้วยหลักประกันสุขภาพแห่งชาติ ในกรณีอุบัติเหตุหรือกรณีเจ็บป่วยฉุกเฉิน ซึ่งได้รับการส่งต่อจาก ศูนย์ประสานการส่งต่อผู้ป่วยหลักประกันสุขภาพ หรือสายด่วน สปสช. 1330 หรือหน่วยบริการ ที่สำนักงานกำหนด และสถานบริการสำรองเตียงตกลงรับให้บริการดังกล่าว ตามกฏ ระเบียบ ข้อบังคับ ประกาศ มติ คำสั่ง หรือหลักเกณฑ์ คู่มือหรือแนวทาง ที่คณะกรรมการหลักประกันสุขภาพแห่งชาติ หรือคณะกรรมการควบคุมคุณภาพและมาตรฐานบริการสาธารณสุข คณะอนุกรรมการ หรือสำนักงานกำหนด ขึ้นก่อนหรือระหว่างหรือภายหลังทำสัญญานี้ทุกประการโดยไม่มีเงื่อนไข
            </div>
            <br />
        </div>
        <div class="footer-page size-12">
            <div class="float-left w-50 text-left">(ลงชื่อ)...............................................สำนักงานหรือพยาน</div>
            <div class="float-left w-50 text-right">(ลงชื่อ)...............................................สถานบริการ (สำรองเตียง)</div>
            <div class="text-center size-10">แบบสัญญาให้บริการสาธารณสุข (สำรองเตียง) กรณีอุบัติเหตุหรือกรณีเจ็บป่วยฉุกเฉิน สำนักกฎหมาย  สำนักงานหลักประกันสุขภาพแห่งชาติ</div>
            <div class="float-left w-33 text-left">FM-403 02-002</div>
            <div class="float-left w-33 text-center">หน้า 1/6</div>
            <div class="float-left w-33 text-right">วันที่ 31 ตุลาคม 2557</div>
        </div>
    </div>
</section>

<section>
    <div class="main-page size-16">
        <div class="header-page ">
            <p class="text-right">เลขที่อ้างอิง XXXXXX</p>
        </div>
        <div class="content-page ">
            <br />
            <div class="text-1">
                <b>ข้อ 2  เอกสารอันเป็นส่วนหนึ่งของสัญญา</b>
            </div>
            <div class="text-1">
                เอกสารหลักฐานแนบท้ายสัญญาดังต่อไปนี้  ให้ถือเป็นส่วนหนึ่งของสัญญานี้ด้วย
            </div>
            <div class="text-1">
                2.1 ผนวก 1  มติคณะกรรมการหลักประกันสุขภาพแห่งชาติ ครั้งที่ 6/2557 วันที่ 14 มิถุนายน 2557   และครั้ง 6/2551 ลงวันที่ 27 พฤษภาคม 2551 จำนวน  5 หน้า
            </div>
            <div class="text-1">
                2.2 ผนวก 2 กฎ ระเบียบ ข้อบังคับ ประกาศ มติ หลักเกณฑ์เงื่อนไข คู่มือ แนวปฏิบัติที่คณะกรรมการหลักประกันสุขภาพแห่งชาติ คณะกรรมการควบคุมคุณภาพและมาตรฐานบริการสาธารณสุข คณะอนุกรรมการ หรือสำนักงานกำหนดจำนวน {37@45} หน้า (ถ้ามี)
            </div>
            <div class="text-1">
                2.3  ผนวก 3 รายงานผลการตรวจประเมินสถานบริการสำรองเตียง พร้อมเอกสารหลักฐานที่เกี่ยวข้อง จำนวน {38@46} หน้า
            </div>
            <div class="text-1">
                2.4 ผนวก 4 {39@47}
            </div>
            <br />
            <div class="text-1">
                <b> ข้อ 3 หน้าที่ของสถานบริการที่รับเป็นสถานบริการสำรองเตียง</b>
            </div>
            <div class="text-1">
                สถานบริการสำรองเตียง ตกลงจัดระบบและให้บริการสาธารณสุข กรณีอุบัติเหตุ หรือกรณีเจ็บป่วยฉุกเฉิน แก่ผู้มีสิทธิตามกฎหมายว่าด้วยหลักประกันสุขภาพแห่งชาติ ดังนี้
            </div>
            <div class="text-1">
                (1) จัดให้มีการสำรองเตียง เพื่อรองรับผู้ป่วยกรณีอุบัติเหตุ หรือกรณีเจ็บป่วยฉุกเฉิน ในห้อง ICU ไม่น้อยกว่า 2 เตียง ต่อวัน และในห้องผู้ป่วยทั่วไปไม่น้อยกว่า 5 เตียง ต่อวัน
            </div>
            <div class="text-1">
                (2) จัดเตรียมบุคลากรทางการแพทย์ เช่น แพทย์ พยาบาล ฯลฯ ให้มีความพร้อมที่จะให้บริการตลอด 24 ชั่วโมง ทั้งนี้ จะต้องให้มีแพทย์และพยาบาลเฉพาะทางนั้น ๆ ซึ่งสถานบริการสำรองเตียง สามารถติดตามตัวมาให้บริการได้ภายใน 30 นาที นับแต่สถานบริการสำรองเตียงได้รับผู้ป่วยไว้ทำการรักษา
            </div>
            <div class="text-1">
                (3) สถานบริการสำรองเตียงจะรับผู้ป่วยไว้รักษาได้ เมื่อสถานบริการสำรองเตียงได้รับการส่งต่อผู้ป่วยผ่านการประสานจากศูนย์ประสานการส่งต่อผู้ป่วยหลักประกันสุขภาพ หรือสายด่วน สปสช. 1330 หรือหน่วยบริการ ที่สำนักงานหลักประกันสุขภาพแห่งชาติแต่งตั้งขึ้นหรือมอบหมาย เท่านั้น
            </div>
            <div class="text-1">
                (4) สถานบริการสำรองเตียงจะต้องให้การรักษาผู้ป่วยจนพ้นจากภาวะวิกฤตหรืออาการดีขึ้นและให้แพทย์ผู้รักษากับศูนย์ประสานการส่งต่อผู้ป่วยหลักประกันสุขภาพ หรือโรงพยาบาลต้นสังกัดของผู้ป่วยพิจารณาว่าสามารถส่งผู้ป่วยกลับไปรักษาต่อยังหน่วยบริการประจำหรือหน่วยบริการอื่นได้
            </div>
            <div class="text-1">
                (5) สถานบริการสำรองเตียงต้องไม่ปฏิเสธการรักษาพยาบาลผู้ป่วยและไม่เรียกเก็บเงินจากผู้ป่วย หรือญาติ รวมทั้งจะต้องให้การดูแลผู้ป่วยตามมาตรฐานวิชาชีพ  หากมีความจำเป็นต้องส่งต่อผู้ป่วย ให้สถานบริการสำรองเตียงแจ้งศูนย์ประสานการส่งต่อผู้ป่วยหลักประกันสุขภาพทราบและให้ความยินยอมก่อนที่จะมีการส่งต่อ เว้นแต่กรณีฉุกเฉินเร่งด่วนวิกฤต ให้แจ้งศูนย์ประสานการส่งต่อผู้ป่วยหลักประกันสุขภาพภายหลังการส่งต่อทันทีเมื่อส่งต่อเรียบร้อยแล้ว
            </div>
        </div>
        <div class="footer-page size-12">
            <div class="float-left w-50 text-left">(ลงชื่อ)...............................................สำนักงานหรือพยาน</div>
            <div class="float-left w-50 text-right">(ลงชื่อ)...............................................สถานบริการ (สำรองเตียง)</div>
            <div class="text-center size-10">แบบสัญญาให้บริการสาธารณสุข (สำรองเตียง) กรณีอุบัติเหตุหรือกรณีเจ็บป่วยฉุกเฉิน สำนักกฎหมาย  สำนักงานหลักประกันสุขภาพแห่งชาติ</div>
            <div class="float-left w-33 text-left">FM-403 02-002</div>
            <div class="float-left w-33 text-center">หน้า 2/6</div>
            <div class="float-left w-33 text-right">วันที่ 31 ตุลาคม 2557</div>
        </div>
    </div>
</section>

<section>
    <div class="main-page size-16">
        <div class="header-page ">
            <p class="text-right">เลขที่อ้างอิง XXXXXX</p>
        </div>
        <div class="content-page ">
            <br />
            <div class="text-1">
                (6) สถานบริการสำรองเตียงจะจัดให้มีเจ้าหน้าที่และจัดให้มีช่องทางการติดต่อประสานงานกับศูนย์ประสานการส่งต่อผู้ป่วยหลักประกันสุขภาพ และสำนักงานได้ตลอด 24 ชั่วโมง
            </div>
            <div class="text-1">
                (7) สถานบริการสำรองเตียงจะส่งข้อมูลการให้บริการที่เกี่ยวข้อง และเรียกเก็บค่าใช้จ่ายเพื่อบริการสาธารณสุข ไปยังสำนักงาน ทุกเดือน
            </div>
            <div class="text-1">
                (8)  ในระหว่างที่สัญญานี้มีผลใช้บังคับ ถ้าสำนักงานได้มี กฎ ระเบียบ ข้อบังคับ ประกาศ มติ คำสั่ง หรือหลักเกณฑ์และเงื่อนไข คู่มือหรือแนวปฏิบัติ กำหนดให้สถานบริการสำรองเตียงปฏิบัติ ให้ถือว่า กฎ ระเบียบ ข้อบังคับ ประกาศ มติ คำสั่ง หรือหลักเกณฑ์และเงื่อนไข แนวปฏิบัติดังกล่าว เป็นส่วนหนึ่งของสัญญานี้ ด้วย ที่สถานบริการสำรองเตียงมีหน้าที่ต้องปฏิบัติตามโดยเคร่งครัด และหรือไม่ว่าสำนักงานจะได้แจ้งให้สถานบริการสำรองเตียงทราบหรือไม่ก็ตาม
            </div>
            <div class="text-1">
                (9) สถานบริการสำรองเตียงต้องส่งสถิติและรายงานเกี่ยวกับการให้บริการสาธารณสุขแก่ผู้มีสิทธิตามแบบ และภายในเวลา ที่สำนักงานกำหนด
            </div>
            <br />
            <div class="text-1">
                <b>ข้อ 4 สำนักงานตกลงจ่ายค่าใช้จ่ายเพื่อบริการสาธารณสุข</b>
            </div>
            <div class="text-1">
                สำนักงานตกลงจ่ายค่าใช้จ่ายเพื่อชดเชยค่าบริการทางการแพทย์ให้แก่สถานบริการสำรองเตียง  ในอัตราตามกลุ่มวินิจฉัยโรคร่วม (DRGs) ในอัตราไม่เกินละ 15,000 บาท (หนึ่งหมื่นห้าพันบาทถ้วน) ต่อ 1 Adj.RW หรือตาม กฎ ระเบียบ ข้อบังคับ ประกาศ มติ คำสั่ง หรือหลักเกณฑ์และเงื่อนไข คู่มือหรือแนวทางปฏิบัติ ที่คณะกรรมการหลักประกันสุขภาพแห่งชาติ หรือคณะกรรมการควบคุมคุณภาพและมาตรฐานบริการสาธารณสุข หรือคณะอนุกรรมการ หรือสำนักงานกำหนด
            </div>
            <div class="text-1">
                ทั้งนี้ สำนักงานจะจ่ายค่าใช้จ่ายเพื่อชดเชยค่าบริการทางการแพทย์ตามวรรคหนึ่ง ให้แก่สถานบริการสำรองเตียง ต่อเมื่อได้รับข้อมูลจากสถานบริการสำรองเตียง และสำนักงานได้ตรวจสอบถูกต้องครบถ้วนตามเงื่อนไขของสัญญาเรียบร้อยแล้ว เท่านั้น
            </div>
            <div class="text-1">
                อัตราการจ่ายชดเชยค่าบริการทางการแพทย์ให้สถานบริการสำรองเตียง ตามวรรคหนึ่ง อาจเป็นไปตามที่คณะกรรมการหลักประกันสุขภาพแห่งชาติระดับเขตในพื้นที่นั้นๆ กำหนดก็ได้
            </div>
            <div class="text-1">
                การให้บริการแก่ผู้มีสิทธิที่ลงทะเบียนแล้วตามมาตรา 6 หรือยังไม่ได้ลงทะเบียนตามมาตรา 8 แห่งพระราชบัญญัติหลักประกันสุขภาพแห่งชาติ พ.ศ. 2545  ที่ไม่ได้รับการส่งต่อจากศูนย์ประสานการส่งต่อผู้ป่วยหลักประกันสุขภาพ หรือสายด่วน สปสช. 1330 หรือหน่วยบริการ ที่สำนักงานกำหนด ให้สถานบริการสำรองเตียงได้รับค่าใช้จ่ายในฐานะสถานบริการอื่น ตามข้อบังคับคณะกรรมการหลักประกันสุขภาพแห่งชาติ ว่าด้วยการใช้สิทธิรับบริการสาธารณสุข กรณีที่มีเหตุสมควร กรณีอุบัติเหตุ หรือกรณีเจ็บป่วยฉุกเฉิน พ.ศ. 2555 และที่แก้ไขเพิ่มเติม
            </div>
            <br />
        </div>
        <div class="footer-page size-12">
            <div class="float-left w-50 text-left">(ลงชื่อ)...............................................สำนักงานหรือพยาน</div>
            <div class="float-left w-50 text-right">(ลงชื่อ)...............................................สถานบริการ (สำรองเตียง)</div>
            <div class="text-center size-10">แบบสัญญาให้บริการสาธารณสุข (สำรองเตียง) กรณีอุบัติเหตุหรือกรณีเจ็บป่วยฉุกเฉิน สำนักกฎหมาย  สำนักงานหลักประกันสุขภาพแห่งชาติ</div>
            <div class="float-left w-33 text-left">FM-403 02-002</div>
            <div class="float-left w-33 text-center">หน้า 3/6</div>
            <div class="float-left w-33 text-right">วันที่ 31 ตุลาคม 2557</div>
        </div>
    </div>
</section>

<section>
    <div class="main-page size-16">
        <div class="header-page ">
            <p class="text-right">เลขที่อ้างอิง XXXXXX</p>
        </div>
        <div class="content-page ">
            <br />
            <div class="text-1">
                <b>ข้อ 5  กำหนดระยะเวลาการให้บริการสาธารณสุข</b>
            </div>
            <div class="text-1">
                ให้ยกเลิกสัญญาให้บริการสาธารณสุข กรณีอุบัติเหตุหรือกรณีเจ็บป่วยฉุกเฉิน (หน่วยสำรองเตียง) ระหว่างสำนักงานกับสถานบริการที่มีอยู่ก่อนหน้านี้ และให้เริ่มกำหนดเวลาการให้บริการสาธารณสุข (สำรองเตียง) กรณีอุบัติเหตุหรือกรณีเจ็บป่วยฉุกเฉิน ตามสัญญาฉบับนี้แทนต่อเนื่อง ดังนี้
            </div>
            <div class="text-1">
                (1)   สถานบริการสำรองเตียง ตกลงเริ่มให้บริการสาธารณสุขแก่ผู้มีสิทธิ  ในฐานะเป็นสถานบริการสำรองเตียง ตามสัญญานี้ ตั้งแต่ วันที่ {40@48} เดือน {41@49} พ.ศ. {42@50} สิ้นสุดวันที่ {43@51} เดือน {44@52} พ.ศ. {45@53}
            </div>
            <div class="text-1">
                (2) โดยปกติเมื่อถึงกำหนดระยะเวลาสิ้นสุดสัญญาตาม (1) หากสำนักงานหรือสถานบริการสำรองเตียง มิได้บอกเลิกสัญญา ให้ถือว่าระยะเวลาการให้บริการสาธารณสุขตามสัญญานี้ ขยายออกไปอีกทุก ๆ หนึ่งปีงบประมาณ และให้สัญญามีผลบังคับใช้ต่อไป เริ่มต้นนับตั้งแต่วันที่ 1 ตุลาคม ถึง วันที่ 30 กันยายน ของแต่ละปีงบประมาณนั้น เป็นต้นไปทุกๆปี เว้นแต่กรณีที่สถานบริการสำรองเตียงถูกเพิกถอนหรือถูกสำนักงานบอกเลิกสัญญาก่อนครับกำหนดเวลาตาม (1) ให้สัญญานี้สิ้นสุดลงตามประกาศหรือหนังสือแจ้งของสำนักงาน
            </div>
            <div class="text-1">
                (3) ในกรณีที่ได้มีการตรวจประเมินคุณภาพมาตรฐานของสถานบริการที่รับเป็นสถานบริการสำรองเตียง ตามเกณฑ์ที่กำหนดภายในปีงบประมาณไว้แล้วก่อนหน้าที่จะทำสัญญานี้ ให้ใช้ผลการตรวจประเมินดังกล่าวเป็นเอกสารแนบในการทำสัญญานี้ได้ โดยอนุโลม
            </div>
            <div class="text-1">
                (4) ให้มีการตรวจประเมินคุณภาพมาตรฐานการให้บริการสาธารณสุข ในการต่อสัญญานี้ตาม (1) หรือ (2) ทุกๆ ปี หากพบว่าสถานบริการไม่ผ่านเกณฑ์การตรวจประเมินให้ถือว่าสัญญานี้สิ้นสุดลงทันที
            </div>
            <div class="text-1">
                (5) สถานบริการสำรองเตียงจะขอถอนตัวหรือบอกเลิกสัญญา ก่อนครบกำหนดระยะเวลาตามที่ระบุไว้ในสัญญาดังกล่าวไม่ได้ เว้นแต่ได้รับความยินยอมเป็นหนังสือจากสำนักงานก่อน
            </div>
            <div class="text-1">
                (6) ในกรณีผู้มีสิทธิได้เข้ารับการรักษาพยาบาลในสถานบริการสำรองเตียงในระยะเวลาที่สัญญานี้มีผลใช้บังคับ ต่อมาครบกำหนดอายุสัญญาตาม (1)หรือ(2)แล้ว และไม่มีการต่อสัญญา แต่การให้บริการสาธารณสุขแก่ผู้มีสิทธิยังไม่สิ้นสุด สถานบริการสำรองเตียงยังคงต้องให้บริการสาธารณสุขแก่ผู้มีสิทธิต่อไปจนสิ้นสุดการรักษา โดยไม่มีข้อโต้แย้งหรือเงื่อนไขใดๆมากล่าวอ้างปฏิเสธได้
            </div>
        </div>
        <div class="footer-page size-12">
            <div class="float-left w-50 text-left">(ลงชื่อ)...............................................สำนักงานหรือพยาน</div>
            <div class="float-left w-50 text-right">(ลงชื่อ)...............................................สถานบริการ (สำรองเตียง)</div>
            <div class="text-center size-10">แบบสัญญาให้บริการสาธารณสุข (สำรองเตียง) กรณีอุบัติเหตุหรือกรณีเจ็บป่วยฉุกเฉิน สำนักกฎหมาย  สำนักงานหลักประกันสุขภาพแห่งชาติ</div>
            <div class="float-left w-33 text-left">FM-403 02-002</div>
            <div class="float-left w-33 text-center">หน้า 4/6</div>
            <div class="float-left w-33 text-right">วันที่ 31 ตุลาคม 2557</div>
        </div>
    </div>
</section>

<section>
    <div class="main-page size-16">
        <div class="header-page ">
            <p class="text-right">เลขที่อ้างอิง XXXXXX</p>
        </div>
        <div class="content-page ">
            <br />
            <div class="text-1">
                <b> ข้อ 6 ความรับผิดในความบกพร่องและการบอกเลิกสัญญา</b>
            </div>
            <div class="text-1">
                (1) สถานบริการสำรองเตียงตกลงว่าหากสถานบริการสำรองเตียงเรียกเก็บค่าบริการหรือค่าใช้จ่าย โดยฝ่าฝืนสัญญา ข้อ 3 (5) ผู้มีสิทธิอาจเรียกเงินคืนได้และสถานบริการสำรองเตียงต้องคืนเงินให้โดยไม่ชักช้า พร้อมดอกเบี้ยร้อยละสิบห้าต่อปี นับแต่วันที่สถานบริการเรียกเก็บจนถึงวันที่คืนเงิน
            </div>
            <div class="text-1">
                หากสถานบริการสำรองเตียงไม่คืนเงินให้ตามที่ผู้มีสิทธิเรียกคืนตามวรรคหนึ่ง สถานบริการสำรองเตียงยินยอมให้สำนักงานหักเงินค่าใช้จ่ายที่สถานบริการสำรองเตียงพึงได้รับจากสำนักงาน เพื่อคืนให้แก่ผู้มีสิทธิได้ทันทีโดยไม่มีเงื่อนไข
            </div>
            <div class="text-1">
                (2) กรณีที่สถานบริการสำรองเตียงไม่ปฏิบัติตามสัญญานี้ข้อหนึ่งข้อใด สำนักงานมีสิทธิบอกเลิกสัญญานี้ได้ทันที   และหรือกรณีที่สำนักงานตรวจสอบพบว่าสถานบริการสำรองเตียงไม่ปฏิบัติหน้าที่ตามสัญญา  หรือเรียกเก็บโดยเป็นเท็จหรือเกินจริง สำนักงานขอสงวนสิทธิในการเรียกค่าปรับ ร้อยละ 0.10 ของค่าใช้จ่ายที่สถานบริการพึงได้รับในงวดนั้นๆ และมีสิทธิหักลดค่าใช้จ่ายเพื่อบริการสาธารณสุขตามข้อ 3  ลงได้ตามที่สำนักงานเห็นสมควร หรือจะบอกเลิกสัญญา ก็ได้
            </div>
            <div class="text-1">
                การที่สำนักงานไม่ใช้สิทธิบอกเลิกสัญญาดังกล่าวไม่เป็นเหตุให้สถานบริการสำรองเตียงนั้นพ้นจากความรับผิดตามสัญญานี้
            </div>
            <div class="text-1">
                (3)  สำนักงานไม่ต้องรับผิดชอบในความเสียหายใด ๆ  อันเกิดขึ้นกับ บุคคลอื่น คนงาน หรือพนักงาน  หรือบุคลากรทางการแพทย์ของสถานบริการสำรองเตียงที่ปฏิบัติหน้าที่ตามสัญญานี้ ทุกประการ
            </div>
            <br />
            <div class="text-1">
                <b>ข้อ 7 การตีความ</b>
            </div>
            <div class="text-1">
                คู่สัญญามีความเข้าใจตรงกันว่าข้อความที่ตกลงในสัญญานี้กำหนดขึ้นเพื่อให้คู่สัญญาปฏิบัติตามกฎหมายว่าด้วยหลักประกันสุขภาพแห่งชาติ และกฎหมายอื่นที่เกี่ยวข้องได้ถูกต้องครบถ้วน ข้อความใดในสัญญาซึ่งขัดแย้งหรือไม่สอดคล้องกับ กฎ ระเบียบ ข้อบังคับ ประกาศ มติ คำสั่ง หรือหลักเกณฑ์ คู่มือหรือแนวปฏิบัติ ของคณะกรรมการ หรือคณะกรรมการควบคุมคุณภาพและมาตรฐานบริการสาธารณสุข หรือสำนักงานที่กำหนดขึ้น ให้ถือว่าข้อความในสัญญานี้ไม่มีผลบังคับ ให้บังคับตามกฎหมายว่าด้วยหลักประกันสุขภาพแห่งชาติ
            </div>
        </div>
        <div class="footer-page size-12">
            <div class="float-left w-50 text-left">(ลงชื่อ)...............................................สำนักงานหรือพยาน</div>
            <div class="float-left w-50 text-right">(ลงชื่อ)...............................................สถานบริการ (สำรองเตียง)</div>
            <div class="text-center size-10">แบบสัญญาให้บริการสาธารณสุข (สำรองเตียง) กรณีอุบัติเหตุหรือกรณีเจ็บป่วยฉุกเฉิน สำนักกฎหมาย  สำนักงานหลักประกันสุขภาพแห่งชาติ</div>
            <div class="float-left w-33 text-left">FM-403 02-002</div>
            <div class="float-left w-33 text-center">หน้า 5/6</div>
            <div class="float-left w-33 text-right">วันที่ 31 ตุลาคม 2557</div>
        </div>
    </div>
</section>


<section>
    <div class="main-page size-16">
        <div class="header-page ">
            <p class="text-right">เลขที่อ้างอิง XXXXXX</p>
        </div>
        <div class="content-page ">
            <br />
            <div class="text-1">

            </div>
            <div class="text-1">
                สัญญานี้ทำขึ้นเป็นสองฉบับมีข้อความตรงกันคู่สัญญาทั้งสองฝ่ายได้อ่านและเข้าใจข้อความในสัญญานี้ตลอดแล้ว  จึงได้ลงลายมือชื่อพร้อมทั้งประทับตรา (ถ้ามี) ไว้เป็นหลักฐานสำคัญต่อหน้าพยานและแต่ละฝ่ายต่างเก็บไว้ฝ่ายละหนึ่งฉบับ
            </div>
            <br />
            <br />
            <br />
            <br />
            <div class="float-left w-25 text-right">ลงชื่อ</div>
            <div class="float-left w-50 text-left">&nbsp;</div>
            <div class="float-left w-25 text-left">สำนักงาน</div>
            <br />
            <br />
            <br />
            <br />
            <div class="float-left w-25 text-right">ลงชื่อ</div>
            <div class="float-left w-50 text-left">&nbsp;</div>
            <div class="float-left w-25 text-left">สถานบริการสำรองเตียง</div>
            <br />
            <br />
            <br />
            <br />
            <div class="float-left w-25 text-right">ลงชื่อ</div>
            <div class="float-left w-50 text-left">&nbsp;</div>
            <div class="float-left w-25 text-left">พยาน</div>
            <br />
            <br />
            <br />
            <br />
            <div class="float-left w-25 text-right">ลงชื่อ</div>
            <div class="float-left w-50 text-left">&nbsp;</div>
            <div class="float-left w-25 text-left">พยาน</div>
        </div>
        <div class="footer-page size-12">
            <br />
            <div class="text-center size-10">
                แบบสัญญาให้บริการสาธารณสุข (สำรองเตียง) กรณีอุบัติเหตุหรือกรณีเจ็บป่วยฉุกเฉิน สำนักกฎหมาย  สำนักงานหลักประกันสุขภาพแห่งชาติ
            </div>
            <div class="float-left w-33 text-left">FM-403 02-002</div>
            <div class="float-left w-33 text-center">หน้า 6/6</div>
            <div class="float-left w-33 text-right">วันที่ 31 ตุลาคม 2557</div>
        </div>
    </div>
</section>

@section Scripts {
    <script src="~/js/FM.js" asp-append-version="true"></script>
}