@{
    ViewData["Title"] = "FM-403-02-01";
    Layout = null;
}
<link rel="stylesheet" href="~/css/font.css" />
<link rel="stylesheet" href="~/css/FM.css" asp-append-version="true" />

<section>
    <div class="main-page size-16">
        <div class="header-page ">
            <p class="text-right">เลขที่อ้างอิง XXXXXX</p>
        </div>
        <div class="content-page ">
            <div class="text-center">
                <img src="../images/logo/NHSO.png" alt="Mountain">
            </div>
            <h3 class="text-center size-18">สัญญาให้บริการสาธารณสุขตามกฎหมายว่าด้วยหลักประกันสุขภาพแห่งชาติ</h3>
            <div class="text-right ">สัญญาเลขที่ XXXXXX</div>
            <div class="text-1">
                สัญญาฉบับนี้ทำขึ้น ณ ........... เลขที่ ........... ถนน ........... ตำบล ........... อำเภอ ........... จังหวัด ........... เมื่อวันที่ ........... เดือน ........... พ.ศ. ...........
                ระหว่าง สำนักงานหลักประกันสุขภาพแห่งชาติ โดย ........... ที่ ........... ลงวันที่ ........... แนบท้ายสัญญานี้ ซึ่งต่อไปในสัญญานี้เรียกว่า “สำนักงาน” ฝ่ายหนึ่ง กับ ...........
                มีสำนักงานใหญ่ อยู่เลขที่ ........... ถนน ........... แขวง/ตำบล ........... เขต/อำเภอ ........... จังหวัด ........... โดย ...........
                ผู้มีอำนาจลงนามผูกพันนิติบุคคล ปรากฏตามหนังสือรับรองของสำนักงานทะเบียนหุ้นส่วนบริษัท ........... เลขที่ ........... ลงวันที่ ........... เดือน ........... พ.ศ. ...........
                และหนังสือมอบอำนาจ ลงวันที่ ........... เดือน ........... พ.ศ. ........... แนบท้ายสัญญานี้ ซึ่งเป็นผู้ได้รับอนุญาตให้ประกอบกิจการสถานพยาบาลชื่อ ...........
                ตั้งอยู่เลขที่ ........... ซอย ........... ถนน ........... แขวง/ตำบล ........... เขต/อำเภอ ........... จังหวัด ........... อนุญาตประกอบกิจการสถานพยาบาล เลขที่ ...........
                ลงวันที่ ........... เดือน ........... พ.ศ. ........... ซึ่งได้ขึ้นทะเบียนเป็นหน่วยบริการตามหลักเกณฑ์ วิธีการและเงื่อนไขการขึ้นทะเบียนเป็นหน่วยบริการและเครือข่ายหน่วยบริการ
                ตามกฎหมายว่าด้วยหลักประกันสุขภาพแห่งชาติ ซึ่งต่อไปในสัญญานี้เรียกว่า “คู่สัญญาฝ่ายหน่วยบริการ”  อีกฝ่ายหนึ่ง
            </div>
            <br />
            <div class="text-1">ทั้งสองฝ่ายได้ตกลงกันมีข้อความ ดังต่อไปนี้</div>
            <div class="text-1"><b>ข้อ 1 บทนิยาม</b> </div>
            <div class="text-1">เว้นแต่ข้อความจะแสดงให้เห็นเป็นอย่างอื่นในสัญญานี้</div>
            <div class="text-1">
                “ผู้มีสิทธิ” หมายความว่า บุคคลผู้มีสิทธิได้รับบริการสาธารณสุขตามกฎหมายว่าด้วยหลักประกันสุขภาพแห่งชาติ
            </div>
            <div class="text-1">
                “บริการสาธารณสุข” หมายความว่า บริการด้านการแพทย์และสาธารณสุขซึ่งให้โดยตรงแก่บุคคล เพื่อการสร้างเสริมสุขภาพ การป้องกันโรค การตรวจวินิจฉัยโรค
                การรักษาพยาบาลและการฟื้นฟูสมรรถภาพที่จำเป็นต่อสุขภาพและ การดำรงชีวิต ทั้งนี้ ให้รวมถึงการบริการทางการแพทย์แผนไทยและการแพทย์ทางเลือกตามกฎหมายว่าด้วย การประกอบโรคศิลปะ
            </div>
            <div class="text-1">
                “หน่วยบริการ” หมายความว่า สถานบริการที่ได้ขึ้นทะเบียนไว้ ตามกฎหมายว่าด้วยหลักประกันสุขภาพแห่งชาติ
            </div>
        </div>
        <div class="footer-page size-12">
            <div class="float-left w-50 text-left">(ลงชื่อ)...............................................สำนักงานหรือพยาน</div>
            <div class="float-left w-50 text-right">(ลงชื่อ)...............................................คู่สัญญาฝ่ายหน่วยบริการหรือพยาน</div>
            <div class="text-center size-10">แบบสัญญาให้บริการสาธารณสุขตามกฎหมายว่าด้วยหลักประกันสุขภาพแห่งชาติ  สำนักกฎหมาย  สำนักงานหลักประกันสุขภาพแห่งชาติ</div>
            <div class="float-left w-33 text-left">FM-403 02-001</div>
            <div class="float-left w-33 text-center">หน้า 1/20</div>
            <div class="float-left w-33 text-right">วันที่ 5 มีนาคม 2564</div>
        </div>
    </div>
</section>


<section>
    <div class="main-page size-16">
        <div class="header-page ">
            <p class="text-right">เลขที่อ้างอิง XXXXXX</p>
        </div>
        <div class="content-page ">
            <div class="text-1">
                “ประเภทและขอบเขตบริการสาธารณสุข” หมายความว่า ประเภทและขอบเขตของบริการสาธารณสุข ตามกฎหมายว่าด้วยหลักประกันสุขภาพแห่งชาติ หรือตามระเบียบกระทรวงสาธารณสุขว่าด้วยหลักประกันสุขภาพ
                หรือตามประกาศคณะกรรมการหลักประกันสุขภาพแห่งชาติ หรือตามมติคณะกรรมการหลักประกันสุขภาพแห่งชาติ ที่ให้ผู้มีสิทธิพึงได้รับความคุ้มครองค่าบริการ หรือค่าใช้จ่ายเพื่อบริการสาธารณสุข
                ตามกฎหมายว่าด้วยหลักประกันสุขภาพแห่งชาติ และที่แก้ไขเพิ่มเติม
            </div>
            <div class="text-1">
                “คณะกรรมการ” หมายความว่า คณะกรรมการหลักประกันสุขภาพแห่งชาติ  ตามกฎหมายว่าด้วยหลักประกันสุขภาพแห่งชาติ
            </div>
            <div class="text-1">
                “คณะกรรมการควบคุมคุณภาพและมาตรฐาน” หมายถึง คณะกรรมการควบคุมคุณภาพและมาตรฐานบริการสาธารณสุข ตามกฎหมายว่าด้วยหลักประกันสุขภาพแห่งชาติ
            </div>
            <div class="text-1">
                “เจ็บป่วยฉุกเฉิน” หมายความว่า เจ็บป่วยฉุกเฉินซึ่งผู้มีสิทธิมีสิทธิรับบริการสาธารณสุขจากสถานบริการตามกฎหมายว่าด้วยหลักประกันสุขภาพแห่งชาติ”
            </div>
            <div class="text-1">
                ถ้อยคำอื่นใดที่มิได้ระบุความหมายหรือบทนิยามไว้ในสัญญานี้ ให้พิจารณาความหมายของถ้อยคำนั้นตามกฎหมายว่าด้วยหลักประกันสุขภาพแห่งชาติ
            </div>
            <br />
            <div class="text-1">
                <b>ข้อ 2  เอกสารอันเป็นส่วนหนึ่งของสัญญา</b>
            </div>
            <div class="text-1">
                อกสารแนบท้ายสัญญาดังต่อไปนี้  ให้ถือเป็นส่วนหนึ่งของสัญญานี้ด้วย
            </div>
            <div class="text-1">
                2.1 ผนวก 1 เอกสารการสมัคร / การประเมินและข้อมูลพื้นฐานหน่วยบริการและเครือข่ายหน่วยบริการในรูปอิเล็กทรอนิกส์ของคู่สัญญาฝ่ายหน่วยบริการ จำนวน ....... หน้า
            </div>
            <div class="text-1">
                2.2 ผนวก 2 ประเภทและรายชื่อบุคลากรประจำหน่วยบริการของคู่สัญญาฝ่ายหน่วยบริการ  จำนวน ...... หน้า
            </div>
            <div class="text-1">
                2.3 ผนวก 3 การให้บริการสร้างเสริมสุขภาพและป้องกันโรค  จำนวน ...... หน้า
            </div>
            <div class="text-1">
                2.4 ผนวก 4 ตัวอย่างแสดงวิธีการคำนวณค่าปรับตามสัญญา (ข้อ 15.2) จำนวน ...... หน้า
            </div>
            <div class="text-1">
                2.5 ผนวก 5 .........
            </div>
            <div class="text-1">
                ความใด ในเอกสารแนบท้ายสัญญาที่ขัดหรือแย้งกับข้อความในสัญญานี้ ให้ใช้ข้อความในสัญญานี้บังคับ และในกรณีที่เอกสารแนบท้ายสัญญาขัดหรือแย้งกันเอง
                คู่สัญญาฝ่ายหน่วยบริการจะต้องปฏิบัติตามคำวินิจฉัยของสำนักงานโดยคำวินิจฉัยของสำนักงานให้ถือเป็นที่สุด และคู่สัญญาฝ่ายหน่วยบริการไม่มีสิทธิเรียกร้องค่าชดเชย ค่าเสียหายหรือค่าใช้จ่ายใดๆ เพิ่มเติมจากสำนักงานทั้งสิ้น
            </div>
            <br />
            <div class="text-1">
                <b>ข้อ 3 ข้อตกลงให้บริการสาธารณสุข</b>
            </div>
            <div class="text-1">
                3.1 คู่สัญญาฝ่ายหน่วยบริการเป็นหน่วยบริการได้รับขึ้นทะเบียน ตามกฎ ระเบียบ ข้อบังคับ ประกาศ ที่เกี่ยวกับเกณฑ์การขึ้นทะเบียนและหรือเกณฑ์การตรวจประเมินเพื่อขึ้นทะเบียนเป็นหน่วยบริการ และที่แก้ไขเพิ่มเติม และหรือตามที่คณะกรรมการ หรือสำนักงานกำหนด
                เพื่อให้บริการสาธารณสุขในกิจกรรมบริการผู้ป่วยใน หรือกิจกรรมบริการผู้ป่วยนอก หรือกิจกรรมบริการสร้างเสริมสุขภาพและป้องกันโรค หรือกิจกรรมบริการอื่นๆ
            </div>
        </div>
        <div class="footer-page size-12">
            <div class="float-left w-50 text-left">(ลงชื่อ)...............................................สำนักงานหรือพยาน</div>
            <div class="float-left w-50 text-right">(ลงชื่อ)...............................................คู่สัญญาฝ่ายหน่วยบริการหรือพยาน</div>
            <div class="text-center size-10">แบบสัญญาให้บริการสาธารณสุขตามกฎหมายว่าด้วยหลักประกันสุขภาพแห่งชาติ  สำนักกฎหมาย  สำนักงานหลักประกันสุขภาพแห่งชาติ</div>
            <div class="float-left w-33 text-left">FM-403 02-001</div>
            <div class="float-left w-33 text-center">หน้า 2/20</div>
            <div class="float-left w-33 text-right">วันที่ 5 มีนาคม 2564</div>
        </div>
    </div>
</section>

<section>
    <div class="main-page size-16">
        <div class="header-page ">
            <p class="text-right">เลขที่อ้างอิง XXXXXX</p>
        </div>
        <div class="content-page ">
            <div class="text-1">
                ประเภทหน่วยบริการ
            </div>
            <div class="text-2">
                ( / ) หน่วยบริการประจำ
            </div>
            <div class="text-4">
                หน่วยบริการที่รับการส่งต่อคือ ......
            </div>
            <div class="text-4">
                หน่วยบริการที่ร่วมให้บริการคือ ......
            </div>
            <div class="text-2">
                ( / ) หน่วยบริการปฐมภูมิ
            </div>
            <div class="text-2">
                ( / ) หน่วยบริการที่รับการส่งต่อ
            </div>
            <div class="text-4">
                ( / ) ทั่วไป
            </div>
            <div class="text-4">
                ( / ) เฉพาะด้าน .......
            </div>
            <div class="text-2">
                ( / ) หน่วยบริการที่ร่วมให้บริการด้าน .........
            </div>
            <br />
            <div class="text-1">
                คู่สัญญาฝ่ายหน่วยบริการตกลงให้บริการสาธารณสุขแก่ผู้มีสิทธิ ตามสิทธิประโยชน์ ประเภทและขอบเขตของบริการสาธารณสุข ตามกฎหมายว่าด้วยหลักประกันสุขภาพแห่งชาติ ทั้งนี้ ตามประเภทของหน่วยบริการ ดังต่อไปนี้
            </div>
            <div class="text-1">
                (1) หน่วยบริการประจำ ตกลงให้บริการสาธารณสุขแก่ผู้มีสิทธิอย่างเป็นองค์รวมในการจัดบริการสาธารณสุขระดับปฐมภูมิที่จำเป็นต่อสุขภาพและการดำรงชีวิต รวมทั้งการสร้างเสริมสุขภาพ การป้องกันโรค การตรวจวินิจฉัยโรค
                การรักษาพยาบาล และการฟื้นฟูสมรรถภาพ ตามหลักเกณฑ์ วิธีการและเงื่อนไขการขึ้นทะเบียนเป็นหน่วยบริการและเครือข่ายหน่วยบริการตามกฎหมายว่าด้วยหลักประกันสุขภาพแห่งชาติ ตามที่สำนักงานตรวจสอบได้ในฐานข้อมูลของผู้มีสิทธิ ที่ได้ลงทะเบียนเลือกหน่วยบริการประจำนี้ไว้
            </div>
            <div class="text-1">
                หน่วยบริการประจำต้องจัดหาหน่วยบริการที่รับการส่งต่อมาทดแทนภายใน 90 (เก้าสิบ) วัน นับแต่ได้รับการแจ้งจากหน่วยบริการที่รับการส่งต่อว่าไม่ประสงค์จะเป็นหน่วยบริการที่รับการส่งต่อของหน่วยบริการประจำดังกล่าว
                และแจ้งผลการจัดหาต่อสำนักงาน หากพ้นกำหนดระยะเวลาดังกล่าวแล้วยังไม่สามารถจัดหาหน่วยบริการที่รับการส่งต่อทดแทนได้ อันเป็นเหตุให้หน่วยบริการประจำนั้นไม่มีหน่วยบริการที่รับการส่งต่อ ให้ถือว่าหน่วยบริการประจำนั้นขาดคุณสมบัติการเป็นหน่วยบริการประจำตามหลักเกณฑ์
                วิธีการและเงื่อนไขการขึ้นทะเบียนเป็นหน่วยบริการและเครือข่ายหน่วยบริการตามกฎหมายว่าด้วยหลักประกันสุขภาพแห่งชาติ เนื่องจากไม่มีเครือข่ายหน่วยบริการ เพื่อการส่งต่อผู้รับบริการไปรับการบริการสาธารณสุขในกรณีที่เกินขีดความสามารถตามหลักเกณฑ์ วิธีการและเงื่อนไขการขึ้นทะเบียนเป็นหน่วยบริการและเครือข่ายหน่วยบริการ ที่คณะกรรมการหรือสำนักงานกำหนด
            </div>
            <div class="text-1">
                กรณีหน่วยบริการประจำประสงค์เปลี่ยนแปลงหน่วยบริการที่รับการส่งต่อ ให้ทำเป็นหนังสือแจ้งต่อสำนักงานหลักประกันสุขภาพแห่งชาติก่อนถึงกำหนดระยะเวลาสิ้นสุดสัญญาตามข้อ 9.1 หรือข้อ 9.2 แล้วแต่กรณี ไม่น้อยกว่า 180 (หนึ่งร้อยแปดสิบ) วัน โดยให้มีผลในวันที่ 1 ตุลาคมของปีงบประมาณถัดไป เว้นแต่มีเหตุจำเป็นที่ไม่อาจบอกกล่าวตามกำหนดระยะเวลาดังกล่าวได้และต้องได้รับความเห็นชอบจากสำนักงาน
            </div>
        </div>
        <div class="footer-page size-12">
            <div class="float-left w-50 text-left">(ลงชื่อ)...............................................สำนักงานหรือพยาน</div>
            <div class="float-left w-50 text-right">(ลงชื่อ)...............................................คู่สัญญาฝ่ายหน่วยบริการหรือพยาน</div>
            <div class="text-center size-10">แบบสัญญาให้บริการสาธารณสุขตามกฎหมายว่าด้วยหลักประกันสุขภาพแห่งชาติ  สำนักกฎหมาย  สำนักงานหลักประกันสุขภาพแห่งชาติ</div>
            <div class="float-left w-33 text-left">FM-403 02-001</div>
            <div class="float-left w-33 text-center">หน้า 3/20</div>
            <div class="float-left w-33 text-right">วันที่ 5 มีนาคม 2564</div>
        </div>
    </div>
</section>

<section>
    <div class="main-page size-16">
        <div class="header-page ">
            <p class="text-right">เลขที่อ้างอิง XXXXXX</p>
        </div>
        <div class="content-page ">
            <div class="text-1">
                (2) หน่วยบริการปฐมภูมิ ตกลงให้บริการสาธารณสุขแก่ผู้มีสิทธิในพื้นที่หรือในความรับผิดชอบของ หน่วยบริการประจำในเครือข่ายของหน่วยบริการขั้นพื้นฐานระดับปฐมภูมิด้านเวชกรรม หรือทันตกรรมขั้นพื้นฐาน ได้อย่างเป็นองค์รวม ตามหลักเกณฑ์ วิธีการและเงื่อนไขการขึ้นทะเบียนเป็นหน่วยบริการและเครือข่ายหน่วยบริการตามกฎหมายว่าด้วยหลักประกันสุขภาพแห่งชาติ ตามที่สำนักงานตรวจสอบได้ในฐานข้อมูลของผู้มีสิทธิที่ได้ลงทะเบียนเลือกหน่วยบริการประจำนี้ไว้
            </div>
            <div class="text-1">
                (3) หน่วยบริการที่รับการส่งต่อ ตกลงให้บริการสาธารณสุขแก่ผู้มีสิทธิโดยจัดบริการสาธารณสุข ระดับทุติยภูมิ ตติยภูมิ หรือเฉพาะด้าน ให้แก่ผู้มีสิทธิที่ได้รับการส่งต่อ หรือได้รับความเห็นชอบมาจากหน่วยบริการประจำ หรือมาจากหน่วยบริการอื่น หรือจากสำนักงาน ตามหลักเกณฑ์ วิธีการและเงื่อนไขการขึ้นทะเบียนเป็นหน่วยบริการและเครือข่ายหน่วยบริการตามกฎหมายว่าด้วยหลักประกันสุขภาพแห่งชาติ  ตามที่สำนักงานตรวจสอบได้ในฐานข้อมูลของผู้มีสิทธิ ที่ได้ลงทะเบียนเลือกหน่วยบริการประจำนี้ไว้
            </div>
            <div class="text-1">
                ทั้งนี้หน่วยบริการที่รับการส่งต่อตกลงให้บริการสาธารณสุขแก่ผู้มีสิทธิของหน่วยบริการประจำ กรณีที่หน่วยบริการประจำในเครือข่ายปิดทำการ หรือไม่เปิดให้บริการตามวันและเวลาที่แจ้งไว้ตามข้อ 3.2 ด้วย
            </div>
            <div class="text-1">
                (4) หน่วยบริการที่ร่วมให้บริการ ตกลงให้บริการสาธารณสุขเฉพาะด้านใดด้านหนึ่งแก่ผู้มีสิท ของหน่วยบริการประจำ หรือในเครือข่ายของหน่วยบริการ หรือผู้มีสิทธิของหน่วยบริการอื่น ตามหลักเกณฑ์ วิธีการและเงื่อนไขการขึ้นทะเบียนเป็นหน่วยบริการและเครือข่ายหน่วยบริการตามกฎหมายว่าด้วยหลักประกันสุขภาพแห่งชาติ
            </div>
            <div class="text-1">
                3.2 คู่สัญญาฝ่ายหน่วยบริการตกลงเปิดทำการและให้บริการแก่ผู้มีสิทธิไม่น้อยกว่าวันและเวลาที่กำหนดไว้ ดังต่อไปนี้
            </div>
            <div class="text-2">
                3.2.1 กรณีหน่วยบริการประจำ และ / หรือปฐมภูมิ ไม่น้อยกว่า 56 (ห้าสิบหก) ชั่วโมง ต่อสัปดาห์
            </div>
            <div class="text-4">
                (1) วันจันทร์ - วันศุกร์  เวลา {.........}
            </div>
            <div class="text-4">
                (2) วันเสาร์ - วันอาทิตย์ เวลา {.........}

            </div>
            <div class="text-2">
                3.2.2 กรณีหน่วยบริการที่รับการส่งต่อทั่วไป และ / หรือเฉพาะด้าน ไม่น้อยกว่า 56 (ห้าสิบหก) ชั่วโมง ต่อสัปดาห์
            </div>
            <div class="text-4">
                (1) วันจันทร์ - วันศุกร์  เวลา {57@66}
            </div>
            <div class="text-4">
                (2) วันเสาร์ - วันอาทิตย์ เวลา {58@67}
            </div>
            <div class="text-2">
                3.2.3 กรณีหน่วยบริการร่วมให้บริการ ไม่น้อยกว่า {59@68}ชั่วโมงต่อสัปดาห์
            </div>
            <div class="text-4">
                (1) วันจันทร์ - วันศุกร์  เวลา {60@69}
            </div>
            <div class="text-4">
                (2) วันเสาร์ - วันอาทิตย์ เวลา {61@70}
            </div>
            <br />
            <div class="text-1">
                กรณีหน่วยบริการที่มีผู้มีสิทธิมากกว่า 10,000 (หนึ่งหมื่น) คน รวมเวลาเปิดทำการและให้บริการแก่ผู้มีสิทธิ ให้เป็นไปตามที่สำนักงานประกาศ กำหนด
            </div>
        </div>
        <div class="footer-page size-12">
            <div class="float-left w-50 text-left">(ลงชื่อ)...............................................สำนักงานหรือพยาน</div>
            <div class="float-left w-50 text-right">(ลงชื่อ)...............................................คู่สัญญาฝ่ายหน่วยบริการหรือพยาน</div>
            <div class="text-center size-10">แบบสัญญาให้บริการสาธารณสุขตามกฎหมายว่าด้วยหลักประกันสุขภาพแห่งชาติ  สำนักกฎหมาย  สำนักงานหลักประกันสุขภาพแห่งชาติ</div>
            <div class="float-left w-33 text-left">FM-403 02-001</div>
            <div class="float-left w-33 text-center">หน้า 4/20</div>
            <div class="float-left w-33 text-right">วันที่ 5 มีนาคม 2564</div>
        </div>
    </div>
</section>

<section>
    <div class="main-page size-16">
        <div class="header-page ">
            <p class="text-right">เลขที่อ้างอิง XXXXXX</p>
        </div>
        <div class="content-page ">
            <div class="text-1">
                กรณีหน่วยบริการไม่เปิดทำการในวันเวลาที่กำหนดไว้ในข้อ 3.2 จะกระทำได้ต่อเมื่อคู่สัญญาฝ่ายหน่วยบริการได้ขอความยินยอมเป็นหนังสือจากสำนักงานล่วงหน้าก่อนไม่น้อยกว่า 7 (เจ็ด) วันทำการ และต้องได้รับความยินยอมเป็นหนังสือจากสำนักงานแล้วเท่านั้น และเมื่อคู่สัญญาฝ่ายหน่วยบริการได้รับความยินยอมจากสำนักงานแล้ว คู่สัญญาฝ่ายหน่วยบริการมีหน้าที่ปิดประกาศประชาสัมพันธ์ล่วงหน้าก่อนวันปิดทำการไม่น้อยกว่า 3 (สาม) วัน โดยปิดประกาศไว้ในที่ที่สามารถให้ผู้มีสิทธิมองเห็นได้อย่างชัดเจน รวมทั้งในการปิดประกาศนั้นต้องแจ้งให้ผู้มีสิทธิทราบว่าในขณะปิดทำการผู้มีสิทธิสามารถไปเข้ารับบริการได้ที่หน่วยบริการหรือสถานบริการใดได้บ้าง
            </div>
            <div class="text-1">
                กรณีที่หน่วยบริการไม่เปิดให้บริการตามวันและเวลาที่แจ้งไว้ข้างต้น ทำให้ผู้มีสิทธิไม่สามารถเข้ารับบริการได้ เป็นเหตุให้ผู้มีสิทธิไปรับบริการที่หน่วยบริการที่รับการส่งต่อหรือหน่วยบริการอื่นใด ให้คู่สัญญาฝ่ายหน่วยบริการนั้นต้องตามจ่ายค่าใช้จ่ายให้แก่หน่วยบริการที่รับการส่งต่อหรือหน่วยบริการอื่นที่ให้บริการแก่ผู้มีสิทธิ หากคู่สัญญาฝ่ายหน่วยบริการไม่ตามจ่าย คู่สัญญาฝ่ายหน่วยบริการตกลงยินยอมให้สำนักงานหักค่าใช้จ่ายที่พึงได้ทุกประเภทของคู่สัญญาฝ่ายหน่วยบริการนั้น เพื่อจ่ายให้แก่หน่วยบริการที่รับการส่งต่อหรือหน่วยบริการอื่นได้
            </div>
            <div class="text-1">
                3.3 คู่สัญญาฝ่ายหน่วยบริการตกลงจัดให้มีบุคลากรประจำหน่วยบริการของคู่สัญญาฝ่ายหน่วยบริการ ตลอดเวลาที่เปิดทำการและให้บริการสาธารณสุข ตามประเภทของบุคลากรทางการแพทย์ ตามเอกสารแนบท้ายสัญญาผนวก 2 ปรับปรุงข้อมูลในระบบข้อมูลพื้นฐานหน่วยบริการ ให้สอดคล้องกับจำนวนประชากร กิจกรรมบริการ และบุคลากรทางการแพทย์ ทั้งนี้ ต้องไม่ต่ำกว่ามาตรฐานที่สำนักงานกำหนด
            </div>
            <div class="text-1">
                3.4 ภายหลังจากคู่สัญญาฝ่ายหน่วยบริการลงนามในสัญญานี้แล้ว ต่อมาหากคู่สัญญาฝ่ายหน่วยบริการประสงค์รับดำเนินกิจกรรมหรือแผนงานหรือโครงการที่เป็นการให้บริการสาธารณสุขอันอยู่ในชุดสิทธิประโยชน์ หรือขอบเขตการให้บริการสาธารณสุข ตามกฎหมายว่าด้วยหลักประกันสุขภาพแห่งชาติ หรือการดำเนินกิจกรรมหรือแผนงานหรือโครงการที่เป็นการจ่ายชดเชยตามผลงาน ตามกฎ ระเบียบ ประกาศ ข้อบังคับ คู่มือ แนวทางปฏิบัติ ที่คณะกรรมการหรือสำนักงานกำหนด คู่สัญญาฝ่ายหน่วยบริการไม่ต้องทำนิติกรรมใด ๆ เพิ่มเติมอีก โดยให้ถือว่ากิจกรรมหรือแผนงานหรือโครงการที่ตอบรับดำเนินงานที่แนบมาเพิ่มเติมนั้นเป็นเงื่อนไขหนึ่งของสัญญาให้บริการสาธารณสุข ตามกฎหมายว่าด้วยหลักประกันสุขภาพที่คู่สัญญาฝ่ายหน่วยบริการได้ลงนามเข้าเป็นคู่สัญญากับสำนักงานไว้แต่แรกแล้ว
            </div>
            <div class="text-1">
                กรณีคู่สัญญาฝ่ายหน่วยบริการตกลงรับดำเนินกิจกรรมหรือแผนงานหรือโครงการของสำนักงานเพิ่มเติมภายหลังลงนามในสัญญานี้ และกิจกรรมหรือแผนงานหรือโครงการนั้น มีลักษณะตามที่คณะกรรมการหรือสำนักงานกำหนดให้มีการบริหารจัดการเป็นการเฉพาะ หากเป็นกรณีวงเงินสนับสนุนไม่เกิน 2,000,000  บาท (สองล้านบาทถ้วน) ให้คู่สัญญาฝ่ายหน่วยบริการทำหนังสือแสดงความจำนงตอบรับการดำเนินงาน หรือกรณีที่มีวงเงินสนับสนุนเกิน 2,000,000 บาท (สองล้านบาทถ้วน) ขึ้นไป ให้คู่สัญญาฝ่ายหน่วยบริการทำสัญญาดำเนินงานตามโครงการ ตามแบบที่สำนักงานกำหนด
            </div>
        </div>
        <div class="footer-page size-12">
            <div class="float-left w-50 text-left">(ลงชื่อ)...............................................สำนักงานหรือพยาน</div>
            <div class="float-left w-50 text-right">(ลงชื่อ)...............................................คู่สัญญาฝ่ายหน่วยบริการหรือพยาน</div>
            <div class="text-center size-10">แบบสัญญาให้บริการสาธารณสุขตามกฎหมายว่าด้วยหลักประกันสุขภาพแห่งชาติ  สำนักกฎหมาย  สำนักงานหลักประกันสุขภาพแห่งชาติ</div>
            <div class="float-left w-33 text-left">FM-403 02-001</div>
            <div class="float-left w-33 text-center">หน้า 5/20</div>
            <div class="float-left w-33 text-right">วันที่ 5 มีนาคม 2564</div>
        </div>
    </div>
</section>

<section>
    <div class="main-page size-16">
        <div class="header-page ">
            <p class="text-right">เลขที่อ้างอิง XXXXXX</p>
        </div>
        <div class="content-page ">
            <div class="text-1">
                3.5 การที่คู่สัญญาฝ่ายหน่วยบริการยังคงให้บริการสาธารณสุขแก่ผู้มีสิทธิจนสิ้นสุดการรักษาในครั้งนั้นตามข้อ 5.13 ไม่เป็นเหตุให้คู่สัญญาฝ่ายหน่วยบริการจะอ้างสิทธิใด ๆ ในการต่ออายุสัญญานี้หรือเพื่อให้สำนักงานเข้าทสัญญา เพื่อให้ผู้มีสิทธิเข้าทำการรับบริการสาธารณสุขในหน่วยบริการของคู่สัญญาฝ่ายหน่วยบริการนั้นต่อไป แต่ประการใด
            </div>
            <br />
            <div class="text-1">
                <b>ข้อ 4 การตรวจสอบหน่วยบริการหรือการบริการสาธารณสุขด้านต่างๆ </b>
            </div>
            <div class="text-1">
                4.1 หากสำนักงานได้แต่งตั้งคณะกรรมการตรวจสอบหรือคณะทำงานหรือมอบหมายให้ผู้ปฏิบัติงานของสำนักงาน  หรือองค์กรอื่นหรือบุคคลอื่น เพื่อดำเนินการตรวจสอบหน่วยบริการหรือการจัดบริการและให้บริการสาธารณสุขให้แก่ผู้มีสิทธิ ให้บุคคลหรือองค์กรที่ได้รับแต่งตั้งหรือมอบหมายดังกล่าวมีสิทธิเข้าไปร่วมกับพนักงานเจ้าหน้าที่ในการปฏิบัติหน้าที่ตามพระราชบัญญัติหลักประกันสุขภาพแห่งชาติ พ.ศ. 2545 ในการตรวจการปฏิบัติงาน ตรวจยา เวชภัณฑ์ ครุภัณฑ์ หรือเอกสารของคู่สัญญาฝ่ายหน่วยบริการได้ตลอดเวลาที่หน่วยบริการของคู่สัญญาฝ่ายหน่วยบริการเปิดทำการ โดยคู่สัญญาฝ่ายหน่วยบริการจะต้องอำนวยความสะดวกและให้ความช่วยเหลือในการดำเนินการนั้นตามสมควร และไม่กระทำการใด ๆ ที่เป็นการบ่ายเบี่ยง ขัดขวางการปฏิบัติหน้าที่ไม่ให้สำเร็จหรือล่าช้าเกินสมควร หรือทำให้บุคคล คณะบุคคล ที่ได้รับมอบหมายดังกล่าวได้รับความเสียหาย ต่อเสรีภาพ ชีวิต ร่างกาย หรือทรัพย์สิน
            </div>
            <div class="text-2">
                ทั้งนี้ การที่หน่วยบริการของคู่สัญญาฝ่ายหน่วยบริการได้รับการตรวจสอบจากคณะกรรมการตรวจสอบ คณะทำงาน ผู้ปฏิบัติงานของสำนักงาน องค์กรอื่นหรือบุคคลอื่นแล้ว ไม่ทำให้คู่สัญญาฝ่ายหน่วยบริการนั้นพ้นความรับผิดชอบตามสัญญานี้
            </div>
            <div class="text-1">
                4.2 บุคคลหรือองค์กรที่ได้รับแต่งตั้งหรือมอบหมายตามข้อ 4.1 มีสิทธิที่จะให้คำปรึกษาแนะนำแก่พนักงานเจ้าหน้าที่เพื่อดำเนินการตามขั้นตอนของกฎหมายในการสั่งให้คู่สัญญาฝ่ายหน่วยบริการ แก้ไข เปลี่ยนแปลง เพิ่มเติม หรือปฏิบัติให้ถูกต้องตามสัญญานี้ได้ และคู่สัญญาฝ่ายหน่วยบริการต้องปฏิบัติตามคำสั่งภายในระยะเวลาที่สำนักงานกำหนด ทั้งนี้คณะกรรมการตรวจสอบ คณะทำงาน ผู้ปฏิบัติงานของสำนักงาน องค์กรอื่นหรือบุคคลอื่นไม่มีสิทธิแก้ไขเปลี่ยนแปลงสัญญานี้
            </div>
            <br />
            <div class="text-1">
                <b>ข้อ 5 หน้าที่ของคู่สัญญาฝ่ายหน่วยบริการ </b>
            </div>
            <div class="text-1">
                เพื่อให้ผู้มีสิทธิได้รับบริการสาธารณสุขที่มีมาตรฐานและมีประสิทธิภาพตามที่กำหนดไว้ในกฎหมายว่าด้วยหลักประกันสุขภาพแห่งชาติ  ให้คู่สัญญาฝ่ายหน่วยบริการมีหน้าที่  ดังต่อไปนี้
            </div>
            <div class="text-1">
                5.1  คู่สัญญาฝ่ายหน่วยบริการมีหน้าที่ปฏิบัติตามมาตรา 45 แห่งพระราชบัญญัติหลักประกันสุขภาพแห่งชาติ พ.ศ. 2545 และมีหน้าที่อื่นตามกฎหมายว่าด้วยหลักประกันสุขภาพแห่งชาติ กฎหมายแพ่ง กฎหมายอาญาแลกฎหมายอื่นที่เกี่ยวข้อง รวมทั้งปฏิบัติตามกฎ ระเบียบ ข้อบังคับ ประกาศ หลักเกณฑ์ มติ คำสั่ง คู่มือหรือแนวปฏิบัติ ของคณะกรรมการ หรือคณะกรรมการควบคุมคุณภาพและมาตรฐาน หรือคณะอนุกรรมการ หรือสำนักงาน ที่กำหนดขึ้นก่อนหรือระหว่างหรือภายหลังที่สัญญานี้มีผลใช้บังคับ และให้ถือว่า กฎ ระเบียบ ข้อบังคับ ประกาศ หลักเกณฑ์ มติ คำสั่ง คู่มือหรือแนวปฏิบัติดังกล่าวนั้นเป็นส่วนหนึ่งของสัญญานี้ด้วย
            </div>
        </div>
        <div class="footer-page size-12">
            <div class="float-left w-50 text-left">(ลงชื่อ)...............................................สำนักงานหรือพยาน</div>
            <div class="float-left w-50 text-right">(ลงชื่อ)...............................................คู่สัญญาฝ่ายหน่วยบริการหรือพยาน</div>
            <div class="text-center size-10">แบบสัญญาให้บริการสาธารณสุขตามกฎหมายว่าด้วยหลักประกันสุขภาพแห่งชาติ  สำนักกฎหมาย  สำนักงานหลักประกันสุขภาพแห่งชาติ</div>
            <div class="float-left w-33 text-left">FM-403 02-001</div>
            <div class="float-left w-33 text-center">หน้า 6/20</div>
            <div class="float-left w-33 text-right">วันที่ 5 มีนาคม 2564</div>
        </div>
    </div>
</section>

<section>
    <div class="main-page size-16">
        <div class="header-page ">
            <p class="text-right">เลขที่อ้างอิง XXXXXX</p>
        </div>
        <div class="content-page ">
            <div class="text-1">
                ทั้งนี้ หากคู่สัญญาฝ่ายหน่วยบริการตกลงกับหน่วยบริการอื่น หรือสถานบริการอื่นเป็นอย่างอื่นที่ขัดแย้ง หรือฝ่าฝืนหน้าที่ของคู่สัญญาฝ่ายหน่วยบริการ สำนักงานจะไม่ผูกพันตามข้อความและเงื่อนไขต่าง ๆ ที่คู่สัญญาฝ่ายหน่วยบริการได้ตกลงกับหน่วยบริการอื่นหรือสถานบริการอื่นนั้น
            </div>
            <div class="text-1">
                5.2 หน่วยบริการของคู่สัญญาฝ่ายหน่วยบริการที่สำนักงานประกาศกำหนดให้เป็นหน่วยงานรับคำขอลงทะเบียนเพื่อเลือกหน่วยบริการหรือเปลี่ยนแปลงหน่วยบริการประจำให้ปฏิบัติหน้าที่ตามที่สำนักงานกำหนด
            </div>
            <div class="text-1">
                5.3 กรณีเครือข่ายของหน่วยบริการประจำ เครือข่ายปฐมภูมิ หรือเครือข่ายเพื่อการส่งต่อผู้รับบริการ ให้บริการแก่ผู้มีสิทธิแทนหน่วยบริการประจำ ในกรณีหน่วยบริการประจำปิดทำการ หรือให้บริการนอกเวลาทำการของหน่วยบริการประจำ หน่วยบริการเครือข่ายนั้นจะเรียกเก็บค่าบริการจากผู้รับบริการไม่ได้
            </div>
            <div class="text-1">
                5.4 สถานบริการที่ได้รับขึ้นทะเบียนเป็นหน่วยบริการที่รับการส่งต่อระดับตติยภูมิหรือเฉพาะด้าน หรือหน่วยบริการร่วมให้บริการ ให้ปฏิบัติหน้าที่ตามที่คณะกรรมการหรือสำนักงานกำหนด
            </div>
            <div class="text-1">
                5.5  คู่สัญญาฝ่ายหน่วยบริการมีหน้าที่ตรวจสอบสิทธิของผู้รับบริการต้องแจ้งสิทธิดังกล่าวให้ผู้รับบริการรับทราบ โดยห้ามเรียกเก็บค่าบริการจากผู้มีสิทธิหรือผู้เกี่ยวข้อง และห้ามกระทำการใด ๆ ที่ชักจูงหรือโน้มน้าวให้ผู้รับบริการสละสิทธิ หรือไม่ประสงค์ใช้สิทธิรับบริการสาธารณสุข ตามสิทธิที่ผู้รับบริการจะได้รับตามกฎหมาย หรือหากพบว่าผู้รับบริการเป็นผู้มีสิทธิตามกฎหมายว่าด้วยหลักประกันสุขภาพแห่งชาติ ในกรณีหนึ่งกรณีใด ดังต่อไปนี้
            </div>
            <div class="text-4">
                (1) เป็นผู้มีสิทธิของหน่วยบริการหรือเครือข่ายหน่วยบริการของคู่สัญญาฝ่ายหน่วยบริการ
            </div>
            <div class="text-4">
                (2) เป็นผู้มีสิทธิของหน่วยบริการอื่น ที่เข้ารับบริการในกรณีอุบัติเหตุหรือกรณีเจ็บป่วยฉุกเฉิน หรือกรณีที่มีเหตุสมควร
            </div>
            <div class="text-4">
                (3) เป็นผู้มีสิทธิที่ยังไม่ได้ลงทะเบียน
            </div>
            <div class="text-1">
                หากผู้รับบริการได้รับทราบสิทธิของตนแล้วแต่ไม่ประสงค์จะใช้สิทธิรับบริการสาธารณสุขตามกฎหมายในครั้งนั้น ให้ผู้รับบริการเขียนหนังสือแสดงเจตนาไม่ขอใช้สิทธิด้วยลายมือตนเองทั้งฉบับไว้เป็นหลักฐาน ทั้งนี้ต้องพิจารณามูลเหตุจูงใจหรือการโน้มน้าวตามวรรคหนึ่งประกอบด้วย และหนังสือแสดงเจตนานั้นผู้รับบริการจะเพิกถอนเมื่อใดก็ได้โดยไม่จำเป็นต้องทำเป็นหนังสือเนื่องจากเป็นสิทธิที่กฎหมายรองรับ
            </div>
            <div class="text-1">
                หากเป็นกรณีที่นอกเหนือจากวรรคหนึ่งและวรรคสอง และคู่สัญญาฝ่ายหน่วยบริการต้องการเรียกเก็บค่าใช้จ่ายคู่สัญญาฝ่ายหน่วยบริการต้องอธิบายให้ผู้มีสิทธิหรือผู้เกี่ยวข้องรับทราบรายละเอียดและข้อเท็จจริงเกี่ยวกับการใช้สิทธิ พร้อมทั้งให้ผู้มีสิทธิเขียนหนังสือแสดงเจตนาว่าได้รับทราบคำอธิบายและยินยอมชำระค่าใช้จ่ายไว้เป็นหลักฐานด้วยลายมือของผู้มีสิทธิหรือผู้เกี่ยวข้องด้วยตนเอง ทั้งนี้ ต้องพิจารณามูลเหตุจูงใจหรือการโน้มน้าวผู้มีสิทธิหรือผู้เกี่ยวข้องตามวรรคหนึ่งและวรรคสองประกอบด้วย
            </div>
            <div class="text-1">
                5.6 คู่สัญญาฝ่ายหน่วยบริการต้องจัดเตรียมเตียงและห้องสามัญให้แก่ผู้รับบริการอย่างเพียงพอ หากคู่สัญญาฝ่ายหน่วยบริการไม่มีเตียงและไม่มีห้องสามัญให้บริการแก่ผู้มีสิทธิและได้จัดให้ผู้มีสิทธิพักในห้องพิเศษเพื่อรอเตียงตามสิทธิ หรือกรณีจัดให้ผู้รับบริการพักในห้องพิเศษโดยมิใช่ความต้องการของผู้รับบริการในขณะที่คู่สัญญาฝ่ายหน่วยบริการมีเตียงและมีห้องสามัญที่เพียงพอ ห้ามคู่สัญญาฝ่ายหน่วยบริการเรียกเก็บค่าใช้จ่ายจากผู้รับบริการ เว้นแต่ผู้รับบริการแสดงความประสงค์จะพักในห้องพิเศษ ให้คู่สัญญาฝ่ายหน่วยบริการเรียกเก็บเงินค่าใช้จ่ายเฉพาะค่าห้องพิเศษในส่วนที่เกินจากค่าห้องค่าเตียงสามัญได้เท่านั้น
            </div>
        </div>
        <div class="footer-page size-12">
            <div class="float-left w-50 text-left">(ลงชื่อ)...............................................สำนักงานหรือพยาน</div>
            <div class="float-left w-50 text-right">(ลงชื่อ)...............................................คู่สัญญาฝ่ายหน่วยบริการหรือพยาน</div>
            <div class="text-center size-10">แบบสัญญาให้บริการสาธารณสุขตามกฎหมายว่าด้วยหลักประกันสุขภาพแห่งชาติ  สำนักกฎหมาย  สำนักงานหลักประกันสุขภาพแห่งชาติ</div>
            <div class="float-left w-33 text-left">FM-403 02-001</div>
            <div class="float-left w-33 text-center">หน้า 7/20</div>
            <div class="float-left w-33 text-right">วันที่ 5 มีนาคม 2564</div>
        </div>
    </div>
</section>

<section>
    <div class="main-page size-16">
        <div class="header-page ">
            <p class="text-right">เลขที่อ้างอิง XXXXXX</p>
        </div>
        <div class="content-page ">
            <div class="text-1">
                5.7 คู่สัญญาฝ่ายหน่วยบริการมีหน้าที่ให้บริการสาธารณสุขแก่ผู้มีสิทธิตลอดเวลาที่เปิดทำการ และให้บริการแก่ผู้มีสิทธิในกรณีอุบัติเหตุ หรือกรณีเจ็บป่วยฉุกเฉิน หรือกรณีมีเหตุสมควร รวมทั้งผู้มีสิทธิตามมาตรา 8 แห่งพระราชบัญญัติหลักประกันสุขภาพแห่งชาติ พ.ศ. 2545
            </div>
            <div class="text-1">
                5.8 คู่สัญญาฝ่ายหน่วยบริการมีหน้าที่ปรับปรุงและบันทึกข้อมูลพื้นฐานหน่วยบริการและเครือข่ายหน่วยบริการ ตามเอกสารแนบท้ายสัญญาผนวก 1 ให้เป็นปัจจุบัน
            </div>
            <div class="text-1">
                5.9  คู่สัญญาฝ่ายหน่วยบริการมีหน้าที่ส่งรายงาน ข้อมูล สถิติการให้บริการสาธารณสุขของคู่สัญญาฝ่ายหน่วยบริการ ตามประกาศคณะกรรมการหลักประกันสุขภาพแห่งชาติ เรื่อง หลักเกณฑ์การดำเนินงานและการบริหารจัดการกองทุนหลักประกันสุขภาพแห่งชาติสำหรับผู้มีสิทธิ หลักประกันสุขภาพแห่งชาติประจำปีงบประมาณ และคู่มือบริหารกองทุนหลักประกันสุขภาพแห่งชาติ หรือสำนักงานกำหนด
            </div>
            <div class="text-1">
                5.10 กรณีมีการเปลี่ยนแปลงเครือข่ายหน่วยบริการนอกเหนือจากที่กำหนดไว้ตามข้อ 3.1 (1) วรรคสองและวรรคสาม ให้คู่สัญญาฝ่ายหน่วยบริการแจ้งให้สำนักงานทราบ และในการเปลี่ยนแปลงเครือข่ายหน่วยบริการทุกกรณีคู่สัญญาฝ่ายหน่วยบริการมีหน้าที่ปิดประกาศประชาสัมพันธ์ให้ผู้มีสิทธิทราบล่วงหน้าไม่น้อยกว่า 15 (สิบห้า) วัน ก่อนการเปลี่ยนแปลงดังกล่าวด้วย
            </div>
            <div class="text-1">
                5.11 คู่สัญญาฝ่ายหน่วยบริการมีหน้าที่ติดตั้งป้ายสัญลักษณ์หรือป้ายประชาสัมพันธ์ที่แสดงถึงการเป็นหน่วยบริการในระบบหลักประกันสุขภาพแห่งชาติ โดยใช้วัสดุและรูปแบบของป้าย รวมถึงสถานที่ติดตั้งตามที่สำนักงานกำหนด
            </div>
            <div class="text-1">
                5.12 กรณีคู่สัญญาฝ่ายหน่วยบริการจะย้ายที่ตั้งใหม่ ให้คู่สัญญาฝ่ายหน่วยบริการแจ้งเป็นหนังสือมายังสำนักงานก่อนวันที่จะย้ายที่ตั้งไม่น้อยกว่า 3 (สาม) เดือน และต้องได้รับความยินยอมเป็นหนังสือจากสำนักงานก่อน เมื่อได้รับความยินยอมจากสำนักงานแล้ว คู่สัญญาฝ่ายหน่วยบริการต้องปิดประกาศและประชาสัมพันธ์ให้ประชาชนทราบ หากคู่สัญญาฝ่ายหน่วยบริการไม่แจ้งล่วงหน้าตามที่กำหนด สำนักงานขอสงวนสิทธิที่จะไม่ยินยอมให้ย้ายที่ตั้งใหม่ได้ และหากเกิดความเสียหายใด ๆ ที่เกิดจากการที่คู่สัญญาฝ่ายหน่วยบริการย้ายที่ตั้งใหม่ คู่สัญญาฝ่ายหน่วยบริการต้องรับผิดชอบความเสียหายที่เกิดขึ้นทั้งสิ้นโดยไม่โต้แย้งใด ๆ ทั้งนี้ ยกเว้นกรณีที่มีความจำเป็นเร่งด่วนหรือฉุกเฉิน
            </div>
            <div class="text-1">
                5.13 ในกรณีผู้มีสิทธิได้เข้าทำการรักษาพยาบาลจากคู่สัญญาฝ่ายหน่วยบริการตั้งแต่เวลาที่สัญญานี้มีผลใช้บังคับต่อเนื่องจนถึงวันสิ้นสุดสัญญาตามข้อ 9.1 แต่ปรากฏว่าการให้บริการสาธารณสุขในครั้งนั้นยังไม่สิ้นสุดการรักษาคู่สัญญาฝ่ายหน่วยบริการยังคงต้องมีหน้าที่ให้บริการสาธารณสุขแก่ผู้มีสิทธิต่อไปจนสิ้นสุดการรักษา
            </div>
            <div class="text-1">
                การวินิจฉัยว่าการให้บริการสาธารณสุขแก่ผู้มีสิทธิได้สิ้นสุดแล้วหรือไม่ แพทย์ผู้ให้การรักษาพยาบาลของคู่สัญญาฝ่ายหน่วยบริการจะต้องใช้ความรู้และวิจารณญาณตามหลักวิชาการทางการแพทย์ในการวินิจฉัยอย่างเต็มความสามารถเช่นเดียวกับที่คู่สัญญาฝ่ายหน่วยบริการได้ให้บริการสาธารณสุขแก่ผู้ป่วยหรือผู้ได้รับการตรวจวินิจฉัยคนอื่น ซึ่งได้เข้าทำการรักษาพยาบาลในหน่วยบริการของคู่สัญญาฝ่ายหน่วยบริการนั้น
            </div>
            <div class="text-1">
                ทั้งนี้ หากคู่สัญญาฝ่ายหน่วยบริการฝ่าฝืนข้อ 5.1 ถึงข้อ 5.13 สำนักงานมีสิทธิชะลอการจ่ายเงิน และ/หรือ หักค่าใช้จ่าย ตามข้อ 13 และ/หรือ ข้อ 14 รวมถึงการใช้สิทธิบอกเลิกสัญญาได้ด้วย
            </div>
        </div>
        <div class="footer-page size-12">
            <div class="float-left w-50 text-left">(ลงชื่อ)...............................................สำนักงานหรือพยาน</div>
            <div class="float-left w-50 text-right">(ลงชื่อ)...............................................คู่สัญญาฝ่ายหน่วยบริการหรือพยาน</div>
            <div class="text-center size-10">แบบสัญญาให้บริการสาธารณสุขตามกฎหมายว่าด้วยหลักประกันสุขภาพแห่งชาติ  สำนักกฎหมาย  สำนักงานหลักประกันสุขภาพแห่งชาติ</div>
            <div class="float-left w-33 text-left">FM-403 02-001</div>
            <div class="float-left w-33 text-center">หน้า 8/20</div>
            <div class="float-left w-33 text-right">วันที่ 5 มีนาคม 2564</div>
        </div>
    </div>
</section>

<section>
    <div class="main-page size-16">
        <div class="header-page ">
            <p class="text-right">เลขที่อ้างอิง XXXXXX</p>
        </div>
        <div class="content-page ">
            <div class="text-1">
                <b>ข้อ 6 หลักประกันการปฏิบัติตามสัญญา</b>
            </div>
            <div class="text-1">
                6.1 ในขณะทำสัญญานี้คู่สัญญาฝ่ายหน่วยบริการ ได้นำหลักประกันสัญญาเป็น {62@71} มามอบให้แก่สำนักงานเพื่อเป็นหลักประกันการปฏิบัติตามสัญญานี้
            </div>
            <div class="text-1">
                การวางหลักประกันการปฏิบัติตามสัญญาตามวรรคหนึ่ง ให้เป็นไปตามหลักเกณฑ์ ดังนี้
            </div>
            <div class="text-1">
                (1) หน่วยบริการประจำตามข้อ 3.1 (1)
            </div>
            <div class="text-1">
                กรณีจำนวนผู้มีสิทธิของหน่วยบริการประจำตามฐานข้อมูลของสำนักงานหลักประกันสุขภาพแห่งชาติ ณ วันทำสัญญา น้อยกว่า 2,000 (สองพัน) คน ให้วางหลักประกันในอัตรา 200,000 บาท (สองแสนบาทถ้วน)
            </div>
            <div class="text-1">
                กรณีจำนวนผู้มีสิทธิของหน่วยบริการประจำตามฐานข้อมูลของสำนักงานหลักประกันสุขภาพแห่งชาติ ณ วันทำสัญญา เกินกว่า 2,000 (สองพัน) คน ให้คิดในอัตรา 200,000 บาท (สองแสนบาทถ้วน) ต่อผู้มีสิทธิทุก ๆ 2,000 (สองพัน) คน ถ้าจำนวนผู้มีสิทธิเกินกว่า 2,000 (สองพัน) คน ให้ปัดส่วนเกินนี้ขึ้นเต็มจำนวน 2,000 (สองพัน) คน
            </div>
            <div class="text-1">
                (2) หน่วยบริการปฐมภูมิตามข้อ 3.1 (2) ให้วางหลักประกันในอัตรา 200,000
                บาท (สองแสนบาทถ้วน) ถ้าจำนวนผู้มีสิทธิของหน่วยบริการปฐมภูมิตามฐานข้อมูลของสำนักงานหลักประกันสุขภาพแห่งชาติ ณ วันทำสัญญา เกินกว่า 10,000 (หนึ่งหมื่น) คน ให้วางหลักประกันเพิ่มอีกในอัตรา 200,000 บาท (สองแสนบาทถ้วน)
            </div>
            <div class="text-1">
                (3) หน่วยบริการที่รับการส่งต่อตามข้อ 3.1 (3) ให้วางหลักประกันในอัตรา 200,000 บาท (สองแสนบาทถ้วน) ต่อด้านที่ได้รับการขึ้นทะเบียน
            </div>
            <div class="text-1">
                (4) หน่วยบริการร่วมให้บริการตามข้อ 3.1 (4) ให้วางหลักประกันในอัตรา 10,000 บาท (หนึ่งหมื่นบาทถ้วน)
            </div>
            <div class="text-1">
                กรณีคู่สัญญาฝ่ายหน่วยบริการได้ขึ้นทะเบียนเป็นหน่วยบริการมากกว่าหนึ่งประเภทและให้บริการกับผู้มีสิทธิคนเดียวกัน ให้วางหลักประกันสัญญาเฉพาะหลักประกันสัญญาของประเภทหน่วยบริการที่มีมูลค่าสูงสุด
            </div>
            <div class="text-1">
                6.2 หลักประกันสัญญาที่คู่สัญญาฝ่ายหน่วยบริการนำมามอบให้กับสำนักงานตามข้อ 6.1 จะต้องครอบคลุมความรับผิดของคู่สัญญาฝ่ายหน่วยบริการตลอดอายุสัญญา
            </div>
            <div class="text-1">
                6.3 ในระหว่างสัญญามีผลใช้บังคับ ถ้าสำนักงานตรวจสอบพบการเปลี่ยนแปลงจำนวนผู้มีสิทธิเพิ่มขึ้นเป็นเหตุทำให้ต้องเพิ่มหลักประกันสัญญาตามหลักเกณฑ์ในข้อ 6.1 คู่สัญญาฝ่ายหน่วยบริการต้องนำหลักประกันเพิ่มเติมให้มีจำนวนครบถ้วนตามหลักเกณฑ์ในข้อ 6.1 มามอบให้สำนักงานภายใน 15 (สิบห้า) วัน นับแต่วันที่ได้รับแจ้งจากสำนักงาน
            </div>
            <div class="text-1">
                6.4 ในกรณีที่หลักประกันการปฏิบัติตามสัญญาที่คู่สัญญาฝ่ายหน่วยบริการนำมามอบให้ตามข้อ 6.1 และข้อ 6.3 ลดลง หรือเสื่อมค่าลง หรือมีอายุไม่ครอบคลุมถึงความรับผิดของคู่สัญญาฝ่ายหน่วยบริการตลอดอายุสัญญาไม่ว่าด้วยเหตุใด คู่สัญญาฝ่ายหน่วยบริการต้องนำหลักประกันฉบับใหม่หรือหลักประกันเพิ่มเติมให้มีจำนวนครบถ้วนตามหลักเกณฑ์ในข้อ 6.1 มามอบให้สำนักงานภายใน 150(สิบห้า) วัน นับแต่วันที่ได้รับแจ้งจากสำนักงาน
            </div>
        </div>
        <div class="footer-page size-12">
            <div class="float-left w-50 text-left">(ลงชื่อ)...............................................สำนักงานหรือพยาน</div>
            <div class="float-left w-50 text-right">(ลงชื่อ)...............................................คู่สัญญาฝ่ายหน่วยบริการหรือพยาน</div>
            <div class="text-center size-10">แบบสัญญาให้บริการสาธารณสุขตามกฎหมายว่าด้วยหลักประกันสุขภาพแห่งชาติ  สำนักกฎหมาย  สำนักงานหลักประกันสุขภาพแห่งชาติ</div>
            <div class="float-left w-33 text-left">FM-403 02-001</div>
            <div class="float-left w-33 text-center">หน้า 9/20</div>
            <div class="float-left w-33 text-right">วันที่ 5 มีนาคม 2564</div>
        </div>
    </div>
</section>

<section>
    <div class="main-page size-16">
        <div class="header-page ">
            <p class="text-right">เลขที่อ้างอิง XXXXXX</p>
        </div>
        <div class="content-page ">
            <div class="text-1">
                6.5 หลักประกันการปฏิบัติตามสัญญาที่คู่สัญญาฝ่ายหน่วยบริการนำมามอบให้ตามข้อ 6.1 ข้อ 6.3 และข้อ 6.4 สำนักงานจะคืนให้แก่คู่สัญญาฝ่ายหน่วยบริการโดยไม่มีดอกเบี้ยเมื่อคู่สัญญาฝ่ายหน่วยบริการพ้นจากข้อผูกพันและความรับผิดทั้งปวงตามสัญญานี้แล้ว
            </div>
            <br />
            <div class="text-1">
                <b> ข้อ 7 ค่าใช้จ่ายเพื่อบริการสาธารณสุขของคู่สัญญาฝ่ายหน่วยบริการ </b>
            </div>
            <div class="text-1">
                7.1 หน่วยบริการประจำ มีสิทธิได้รับค่าใช้จ่ายเพื่อบริการสาธารณสุข ในลักษณะเหมาจ่ายรายหัว และหรือค่าใช้จ่ายเพื่อบริการสาธารณสุขอื่นจากกองทุน หรือจากสำนักงาน หรือจากหน่วยบริการอื่น
            </div>
            <div class="text-1">
                ค่าใช้จ่ายเพื่อบริการสาธารณสุขที่หน่วยบริการประจำมีสิทธิได้รับตลอดอายุสัญญานี้ ซึ่งคำนวณจากจำนวนผู้มีสิทธิตามข้อ 3.1(1) คูณอัตราค่าใช้จ่ายรายหัวต่อผู้มีสิทธิหนึ่งคนตามที่คณะกรรมการหรือสำนักงานกำหนด และจากผลงานบริการของหน่วยบริการประจำและเครือข่ายหน่วยบริการ โดยสำนักงานจะจ่ายค่าใช้จ่ายเพื่อบริการสาธารณสุขให้แก่คู่สัญญาฝ่ายหน่วยบริการต่อเมื่อสำนักงานได้ตรวจสอบความถูกต้องเรียบร้อยแล้ว
            </div>
            <div class="text-1">
                ทั้งนี้ค่าใช้จ่ายรายหัวที่คู่สัญญาฝ่ายหน่วยบริการได้รับจริง ต้องเป็นไปตามที่คณะกรรมการหรือสำนักงานกำหนด
            </div>
            <div class="text-1">
                7.2 หน่วยบริการปฐมภูมิ มีสิทธิได้รับค่าใช้จ่ายเพื่อบริการสาธารณสุขจากหน่วยบริการประจำ หรือ จากกองทุนหรือจากสำนักงาน ตามที่คณะกรรมการ หรือสำนักงานกำหนด
            </div>
            <div class="text-1">
                7.3 หน่วยบริการที่รับการส่งต่อ มีสิทธิได้รับค่าใช้จ่ายเพื่อบริการสาธารณสุข จากหน่วยบริการประจำ หรือจากกองทุน ตามที่คณะกรรมการ หรือสำนักงานกำหนด
            </div>
            <div class="text-1">
                7.4 หน่วยบริการร่วมให้บริการ มีสิทธิได้รับค่าใช้จ่ายเพื่อบริการสาธารณสุขจากหน่วยบริการประจำตามข้อตกลงระหว่างหน่วยบริการร่วมให้บริการกับหน่วยบริการประจำ หรือตามที่คณะกรรมการ หรือสำนักงานกำหนด
            </div>
            <div class="text-1">
                7.5 สำหรับการให้บริการกรณีอุบัติเหตุ หรือกรณีเจ็บป่วยฉุกเฉิน หรือกรณีมีเหตุอันสมควร หรือกรณีที่มีค่าใช้จ่ายสูง หรือกรณีอื่นใด ให้ได้รับค่าใช้จ่ายตามที่คณะกรรมการ หรือสำนักงานกำหนด
            </div>
            <div class="text-1">
                7.6 คู่สัญญาฝ่ายหน่วยบริการมีสิทธิได้รับค่าใช้จ่ายอื่นๆ เพิ่มเติมได้ ตามสัญญาข้อ 3.4 แล้วแต่กรณี
            </div>
            <div class="text-1">
                7.7 เพื่อให้การจ่ายค่าใช้จ่ายเพื่อบริการสาธารณสุขมีความรวดเร็ว และ/หรือเพื่อไม่ให้คู่สัญญาฝ่ายหน่วยบริการขาดสภาพคล่องในการจัดบริการสาธารณสุขแก่ผู้มีสิทธิ สำนักงานอาจจ่ายค่าใช้จ่ายเพื่อบริการสาธารณสุขล่วงหน้าเป็นงวด ๆ ให้แก่คู่สัญญาฝ่ายหน่วยบริการ แต่หลังจากที่สำนักงานได้ตรวจสอบความถูกต้องแล้ว ถ้าค่าใช้จ่ายไม่ครบตามสิทธิที่ได้รับสำนักงานจะจ่ายให้ครบถ้วน แต่หากสำนักงานตรวจสอบพบว่าจ่ายค่าใช้จ่ายล่วงหน้า และ/หรือค่าใช้จ่ายเพื่อบริการสาธารณสุข แต่ละงวดหรือแต่ละครั้งเกินกว่าสิทธิที่คู่สัญญาฝ่ายหน่วยบริการพึงได้รับจริง สำนักงานมีสิทธิหักคืนจากค่าใช้จ่ายในงวดถัดไปจนครบจำนวน
            </div>
            <div class="text-1">
                ถ้าสำนักงานจ่ายค่าใช้จ่ายเกินกว่าสิทธิที่คู่สัญญาฝ่ายหน่วยบริการพึงได้รับจริงในงวดนั้นหรืองวดใด คู่สัญญาฝ่ายหน่วยบริการต้องคืนค่าใช้จ่ายส่วนเกินนั้นให้แก่สำนักงาน ถ้าคู่สัญญาฝ่ายหน่วยบริการไม่คืน สำนักงานมีสิทธิหักจากหลักประกันการปฏิบัติตามสัญญาตามข้อ 6.1 ข้อ 6.3 และข้อ 6.4 ได้ด้วย
            </div>
            <div class="text-1">
                หลักเกณฑ์การคำนวณการจ่ายค่าใช้จ่ายเพื่อบริการสาธารณสุขให้เป็นไปตามที่คณะกรรมการกำหนด หรือคณะอนุกรรมการหลักประกันสุขภาพระดับเขตพื้นที่หรือสำนักงานกำหนด
            </div>
        </div>
        <div class="footer-page size-12">
            <div class="float-left w-50 text-left">(ลงชื่อ)...............................................สำนักงานหรือพยาน</div>
            <div class="float-left w-50 text-right">(ลงชื่อ)...............................................คู่สัญญาฝ่ายหน่วยบริการหรือพยาน</div>
            <div class="text-center size-10">แบบสัญญาให้บริการสาธารณสุขตามกฎหมายว่าด้วยหลักประกันสุขภาพแห่งชาติ  สำนักกฎหมาย  สำนักงานหลักประกันสุขภาพแห่งชาติ</div>
            <div class="float-left w-33 text-left">FM-403 02-001</div>
            <div class="float-left w-33 text-center">หน้า 10/20</div>
            <div class="float-left w-33 text-right">วันที่ 5 มีนาคม 2564</div>
        </div>
    </div>
</section>

<section>
    <div class="main-page size-16">
        <div class="header-page ">
            <p class="text-right">เลขที่อ้างอิง XXXXXX</p>
        </div>
        <div class="content-page ">
            <div class="text-1">
                7.8 คู่สัญญาฝ่ายหน่วยบริการยินยอมให้สำนักงานทำหน้าที่หักเงินค่าใช้จ่ายเพื่อบริการสาธารณสุขให้กับหน่วยบริการอื่น (Clearing House) ในกรณีที่ผู้มีสิทธิของคู่สัญญาฝ่ายหน่วยบริการเข้ารับบริการ ณ หน่วยบริการอื่น หรือสถานบริการอื่นตามสิทธิที่บัญญัติไว้ในกฎหมายว่าด้วยหลักประกันสุขภาพแห่งชาติ
                กรณีที่คู่สัญญาฝ่ายหน่วยบริการมีหนี้ค่าใช้จ่ายเพื่อบริการสาธารณสุขที่ค้างชำระแก่หน่วยบริการอื่น อยู่ก่อนที่สัญญานี้มีผลใช้บังคับ สำนักงานมีสิทธิหักเงินที่พึงจ่ายให้แก่คู่สัญญาฝ่ายหน่วยบริการนั้นเพื่อจ่ายให้กับหน่วยบริการอื่นได้
            </div>
            <div class="text-1">
                7.9 สำหรับในเขตพื้นที่กรุงเทพมหานคร คณะกรรมการ หรือคณะอนุกรรมการ หรือสำนักงาน มีสิทธิกันเงินค่าใช้จ่ายเพื่อบริการสาธารณสุขที่พึงจ่ายให้แก่คู่สัญญาฝ่ายหน่วยบริการ ตามที่กำหนดได้ โดยกันเงินค่าใช้จ่ายไว้ที่สำนักงานหลักประกันสุขภาพแห่งชาติเขต 13 กรุงเทพมหานคร หรือสำนักงานหลักประกันสุขภาพแห่งชาติเขตพื้นที่กรุงเทพมหานคร เพื่อสำหรับใช้ในวัตถุประสงค์แต่ละกรณี ดังต่อไปนี้
            </div>
            <div class="text-2">
                (1) เพื่อจ่ายให้หน่วยบริการหรือสถานบริการสาธารณสุข ดังนี้
            </div>
            <div class="text-3">
                ก. ผู้ป่วยกรณีอุบัติเหตุ กรณีเจ็บป่วยฉุกเฉิน เครือข่ายเดียวกันในกรุงเทพมหานคร ซึ่งเครือข่ายเดียวกันในที่นี้หมายถึงคู่สัญญาฝ่ายหน่วยบริการประจำที่ส่งต่อโรงพยาบาลตามโครงการพัฒนาระบบบริการเพื่อลดความแออัดผู้ป่วยนอก
            </div>
            <div class="text-3">
                ข. กรณีส่งต่อผู้ป่วยนอก (OP refer)
            </div>
            <div class="text-3">
                ค. จ่ายค่าบริการผู้ป่วยนอก กรณีพิการ
            </div>
            <div class="text-2">
                (2) กรณีผู้ป่วยเรื้อรังเดิมที่รับบริการรักษาพยาบาลที่โรงพยาบาลตามโครงการพัฒนาระบบบริการเพื่อลดความแออัดผู้ป่วยนอกก่อนที่สัญญานี้มีผลใช้บังคับ
            </div>
            <div class="text-2">
                (3) หักไม่เกินร้อยละ 1 (หนึ่ง) ของงบประมาณเงินเหมาจ่ายรายหัวที่จัดสรรให้แก่คู่สัญญาฝ่ายหน่วยบริการสำหรับการกำกับเชิงพัฒนาและการแก้ไขปัญหาระบบส่งต่อตามโครงการพัฒนาระบบเพื่อลดความแออัดผู้ป่วยนอก
            </div>
            <div class="text-1">
                ภายหลังจากลงนามในสัญญานี้แล้ว ต่อมาคณะกรรมการ หรือคณะอนุกรรมการ หรือสำนักงาน ใช้สิทธิกันเงินค่าใช้จ่ายเพื่อบริการสาธารณสุขที่พึงจ่ายให้แก่คู่สัญญาฝ่ายหน่วยบริการตามที่กำหนดได้ โดยกันเงินค่าใช้จ่ายไว้ที่สำนักงานหลักประกันสุขภาพแห่งชาติเขต 13 กรุงเทพมหานคร หรือสำนักงานหลักประกันสุขภาพแห่งชาติเขตพื้นที่กรุงเทพมหานคร  เพื่อสำหรับใช้ในวัตถุประสงค์แต่ละกรณีเพิ่มเติม นอกเหนือจาก (1) ถึง (3) ตามวรรคหนึ่ง และ คู่สัญญาฝ่ายหน่วยบริการตกลงยินยอมปฏิบัติตาม กฎ ระเบียบ ข้อบังคับ ประกาศ มติ คำสั่ง หลักเกฑ์ คู่มือ หรือแนวทางปฏิบัติ และเงื่อนไข ที่คณะกรรมการ หรือคณะอนุกรรมการ หรือสำนักงานกำหนด
            </div>
            <div class="text-1">
                7.10 กรณีที่สำนักงานตรวจสอบพบว่าคู่สัญญาฝ่ายหน่วยบริการมีพฤติการณ์ในการกระทำการทุจริตหรือเบิกจ่ายค่าบริการสาธารณสุขอันเป็นเท็จในกิจกรรมหนึ่งกิจกรรมใดตามข้อ 3.1 ที่คู่สัญญาฝ่ายหน่วยบริการตกลงให้บริการสาธารณสุขไว้ สำนักงานมีสิทธิยุติการจ่ายเงินค่าบริการสาธารณสุขให้แก่คู่สัญญาฝ่ายหน่วยบริการในกิจกรรมนั้น และให้สำนักงานมีสิทธิระงับหรือยกเลิกกิจกรรมประเภทที่เกี่ยวข้องกับการทุจริตหรือการเบิกจ่ายค่าบริการสาธารณสุขอันเป็นเท็จนั้น ๆ หรือยกเลิกกิจกรรมทั้งหมดตามที่สำนักงานเห็นสมควร
            </div>
        </div>
        <div class="footer-page size-12">
            <div class="float-left w-50 text-left">(ลงชื่อ)...............................................สำนักงานหรือพยาน</div>
            <div class="float-left w-50 text-right">(ลงชื่อ)...............................................คู่สัญญาฝ่ายหน่วยบริการหรือพยาน</div>
            <div class="text-center size-10">แบบสัญญาให้บริการสาธารณสุขตามกฎหมายว่าด้วยหลักประกันสุขภาพแห่งชาติ  สำนักกฎหมาย  สำนักงานหลักประกันสุขภาพแห่งชาติ</div>
            <div class="float-left w-33 text-left">FM-403 02-001</div>
            <div class="float-left w-33 text-center">หน้า 11/20</div>
            <div class="float-left w-33 text-right">วันที่ 5 มีนาคม 2564</div>
        </div>
    </div>
</section>

<section>
    <div class="main-page size-16">
        <div class="header-page ">
            <p class="text-right">เลขที่อ้างอิง XXXXXX</p>
        </div>
        <div class="content-page ">
            <div class="text-1">
                <b>ข้อ 8  การรับเงินค่าบริการทางการแพทย์ที่เบิกจ่ายในลักษณะงบลงทุน</b>
            </div>
            <div class="text-1">
                คู่สัญญาฝ่ายหน่วยบริการมีสิทธิได้รับเงินค่าบริการทางการแพทย์ที่เบิกจ่ายในลักษณะงบลงทุนหรือที่เรียกชื่อเป็นอย่างอื่น เป็นค่าใช้จ่าย สนับสนุน และส่งเสริมการจัดบริการสาธารณสุข ซึ่งเป็นการเบิกจ่ายในลักษณะงบลงทุน โดยขอบเขตบริการหรือการจ่ายให้คู่สัญญาฝ่ายหน่วยบริการเป็นไปตาม กฎ ระเบียบ ข้อบังคับ ประกาศ มติ คำสั่ง หลักเกณฑ์ เงื่อนไข คู่มือหรือแนวปฏิบัติ ที่เกี่ยวกับหลักเกณฑ์การดำเนินงานและการบริหารจัดการกองทุนหลักประกันสุขภาพแห่งชาติ หรือที่เรียกชื่อเป็นอย่างอื่น ตามที่คณะกรรมการหรือสำนักงานกำหนดในแต่ละปีงบประมาณ
            </div>
            <div class="text-1">
                ภายในระยะเวลา 1 (หนึ่ง) ปี นับแต่วันที่ได้รับจัดสรรในแต่ละปีงบประมาณ หากคู่สัญญาฝ่ายหน่วยบริการไม่ลาออกจากการเป็นหน่วยบริการ หรือถูกเพิกถอนการเป็นหน่วยบริการ หรือไม่กระทำผิดเงื่อนไขการรับเงินค่าบริการทางการแพทย์ที่เบิกจ่ายในลักษณะงบลงทุนในปีงบประมาณนั้น ๆ คู่สัญญาฝ่ายหน่วยบริการไม่ต้องคืนเงินในส่วนนี้ให้แก่สำนักงาน
            </div>
            <div class="text-1">
                ในกรณีคู่สัญญาฝ่ายหน่วยบริการผิดเงื่อนไขแห่งสัญญา หรือไม่ต่อสัญญาทำให้สัญญาสิ้นสุด หรือคู่สัญญาฝ่ายหน่วยบริการถอนตัวจากการให้บริการสาธารณสุขในฐานะหน่วยบริการ หรือถูกเพิกถอนการขึ้นทะเบียนหรือถูกยกเลิกการขึ้นทะเบียนเป็นหน่วยบริการ หรือมีเหตุอื่นใดที่ทำให้คู่สัญญาฝ่ายหน่วยบริการไม่ได้เป็นหน่วยบริการ คู่สัญญาฝ่ายหน่วยบริการต้องคืนเงินที่ได้รับจัดสรรค่าบริการทางการแพทย์ที่เบิกจ่ายในลักษณะงบลงทุนตามวรรคหนึ่ง ตามสัดส่วนของระยะเวลาที่อยู่ไม่ครบปีงบประมาณตามประกาศคณะกรรมการ พร้อมด้วยดอกเบี้ยในอัตราร้อยละ 15 (สิบห้า) ต่อปี ให้แก่สำนักงานภายใน 15 (สิบห้า) วัน นับถัดจากวันที่มีเหตุให้คืนเงิน
            </div>
            <div class="text-1">
                กรณีที่คู่สัญญาฝ่ายหน่วยบริการไม่คืนเงินภายในกำหนดตามวรรคสาม คู่สัญญาฝ่ายหน่วยบริการยินยอมให้สำนักงานคิดดอกเบี้ยผิดนัดได้ในอัตราร้อยละ 15 (สิบห้า) ต่อปี นับแต่วันที่ผิดนัด และให้สำนักงานมีสิทธิหักค่าใช้จ่ายเพื่อบริการสาธารณสุขที่คู่สัญญาฝ่ายหน่วยบริการพึงได้รับจากสำนักงานทุกกรณี และ/หรือไม่ว่ากรณีใด ๆ ได้ทั้งสิ้น เพื่อชำระหนี้ได้ด้วย
            </div>
            <br />
            <div class="text-1">
                <b>ข้อ 9  กำหนดเวลาการให้บริการสาธารณสุข</b>
            </div>
            <div class="text-1">
                ให้ยกเลิกสัญญาให้บริการสาธารณสุข ตามกฎหมายว่าด้วยหลักประกันสุขภาพแห่งชาติ  ระหว่างสำนักงานกับคู่สัญญาฝ่ายหน่วยบริการที่มีอยู่ก่อน วันที่ 1 มกราคม 2564 โดยให้ใช้สัญญานี้แทน และให้สัญญานี้เริ่มกำหนดระยะเวลาการให้บริการสาธารณสุข ต่อเนื่องกัน ดังต่อไปนี้
            </div>
            <div class="text-1">
                9.1 คู่สัญญาฝ่ายหน่วยบริการตกลงเริ่มให้บริการสาธารณสุขแก่ผู้มีสิทธิ ตั้งแต่วันที่ {1@72} เดือน {2@73} พ.ศ. {3@74} สิ้นสุดวันที่ {4@75} เดือน {5@76} พ.ศ. {6@77}
            </div>
            <div class="text-1">
                9.2  โดยปกติเมื่อถึงกำหนดระยะเวลาสิ้นสุดสัญญาตามข้อ 9.1 หากสำนักงานหรือคู่สัญญาฝ่ายหน่วยบริการมิได้บอกเลิกสัญญา ให้ถือว่าระยะเวลาการให้บริการสาธารณสุขตามสัญญานี้ ขยายออกไปอีก ทุก ๆหนึ่งปีงบประมาณ โดยให้สัญญามีผลบังคับใช้ต่อไป เริ่มต้นนับตั้งแต่วันที่ 1 ตุลาคม ถึง วันที่ 30 กันยายน ของแต่ละปีงบประมาณนั้น เป็นต้นไปทุกๆปี  เว้นแต่กรณีที่คู่สัญญาฝ่ายหน่วยบริการถูกเพิกถอนหรือถูกยกเลิกการเป็นหน่วยบริการหรือถูกสำนักงานบอกเลิกสัญญาก่อนครบกำหนดเวลาตามข้อ 9.1  ให้สัญญานี้สิ้นสุดลง ตามประกาศของสำนักงาน
            </div>
        </div>
        <div class="footer-page size-12">
            <div class="float-left w-50 text-left">(ลงชื่อ)...............................................สำนักงานหรือพยาน</div>
            <div class="float-left w-50 text-right">(ลงชื่อ)...............................................คู่สัญญาฝ่ายหน่วยบริการหรือพยาน</div>
            <div class="text-center size-10">แบบสัญญาให้บริการสาธารณสุขตามกฎหมายว่าด้วยหลักประกันสุขภาพแห่งชาติ  สำนักกฎหมาย  สำนักงานหลักประกันสุขภาพแห่งชาติ</div>
            <div class="float-left w-33 text-left">FM-403 02-001</div>
            <div class="float-left w-33 text-center">หน้า 12/20</div>
            <div class="float-left w-33 text-right">วันที่ 5 มีนาคม 2564</div>
        </div>
    </div>
</section>

<section>
    <div class="main-page size-16">
        <div class="header-page ">
            <p class="text-right">เลขที่อ้างอิง XXXXXX</p>
        </div>
        <div class="content-page ">
            <div class="text-1">
                9.3 ในกรณีที่คู่สัญญาฝ่ายหน่วยบริการไม่ประสงค์จะต่อสัญญาในปีงบประมาณใดต่อไปอีก ให้คู่สัญญาฝ่ายหน่วยบริการแจ้งความประสงค์เป็นหนังสือต่อสำนักงานก่อนสัญญาสิ้นสุดไม่น้อยกว่า 180 (หนึ่งร้อยแปดสิบ) วัน การที่คู่สัญญาฝ่ายหน่วยบริการแจ้งความประสงค์ดังกล่าวแล้วก็ยังคงมีหน้าที่ให้บริการสาธารณสุขแก่ผู้มีสิทธิไปจนกว่าสิ้นสุดระยะเวลาตามสัญญานี้ หากคู่สัญญาฝ่ายหน่วยบริการแจ้งความประสงค์ไม่ต่อสัญญาน้อยกว่า 180 (หนึ่งร้อยแปดสิบ) วัน ต้องได้รับความยินยอมเป็นหนังสือจากสำนักงาน หากสำนักงานไม่ตกลงให้ความยินยอม คู่สัญญาฝ่ายหน่วยบริการยังคงต้องรับผิดชอบต่อความเสียหายต่าง ๆ ที่เกิดขึ้นโดยไม่มีเงื่อนไข และสำนักงานขอสงวนสิทธิเรียกค่าเสียหายดังกล่าวโดยมีสิทธิหักจากหลักประกันสัญญาตามข้อ 6 ได้ด้วย
            </div>
            <div class="text-1">
                ในกรณีที่กำหนดเวลาในสัญญานี้ขยายออกไปอีกตามข้อ 9.2 และเป็นกรณีที่คู่สัญญาฝ่ายหน่วยบริการได้ใช้หนังสือค้ำประกันของธนาคารภายในประเทศเป็นหลักประกันสัญญาในกรณีที่หนังสือค้ำประกันสัญญานั้นระบุวันคุ้มครองสัญญาปีต่อปี ให้คู่สัญญาฝ่ายหน่วยบริการนำหนังสือค้ำประกันของธนาคารฉบับใหม่ในอัตราตามข้อ 6.1 มาเปลี่ยนแทนหลักประกันการปฏิบัติตามสัญญาเดิมทุกครั้งที่สัญญามีผลให้ขยายกำหนดเวลาออกไปทุก ๆ ปีงบประมาณโดยให้ปฏิบัติตามเงื่อนไขในข้อ 6.2
            </div>
            <div class="text-1">
                ในกรณีที่หนังสือค้ำประกันสัญญาของธนาคารระบุว่าคุ้มครองสัญญาโดยไม่มีกำหนดระยะเวลานั้น หากวงเงินค้ำประกันสัญญาไม่เปลี่ยนแปลงไปจากเดิม คู่สัญญาฝ่ายหน่วยบริการก็ไม่จำต้องนำหนังสือค้ำประกันของธนาคารมาเปลี่ยนแต่อย่างใด แต่หากวงเงินประกันสัญญาเปลี่ยนแปลงไปเพิ่มขึ้นหรือลดลงจากเดิม คู่สัญญาฝ่ายหน่วยบริการต้องนำหลักประกันสัญญามาเพิ่มให้ครบจำนวนตามแต่ละกรณี โดยให้ปฏิบัติตามเงื่อนไขในข้อ 6.3 และข้อ 6.4
            </div>
            <div class="text-1">
                ในกรณีหลักประกันสัญญาเป็นเงินสด หรือเช็คที่ธนาคารสั่งจ่ายให้สำนักงาน โดยเป็นเช็คลงวันที่ที่ทำสัญญาหรือก่อนหน้านั้น ไม่เกิน 3 (สาม) วันทำการทางราชการ (แคชเชียร์เช็ค) หากวงเงินค้ำประกันสัญญาไม่เปลี่ยนแปลงไปจากเดิม คู่สัญญาฝ่ายหน่วยบริการก็ไม่จำต้องนำเงินสดหรือแคชเชียร์เช็คมาเปลี่ยนแต่อย่างใด แต่หากวงเงินประกันสัญญาเปลี่ยนแปลงไปเพิ่มขึ้นจากเดิม คู่สัญญาฝ่ายหน่วยบริการต้องนำหลักประกันสัญญา เป็นเงินสดหรือแคชเชียร์เช็คมาเพิ่มให้ครบจำนวนตามแต่ละกรณี
            </div>
            <br />
            <div class="text-1">
                <b>ข้อ 10  การให้สถานบริการอื่นรับช่วงการให้บริการสาธารณสุข</b>
            </div>
            <div class="text-1">
                10.1 คู่สัญญาฝ่ายหน่วยบริการต้องไม่เอาการให้บริการสาธารณสุขทั้งหมดหรือแต่บางส่วนแห่งสัญญานี้ไปให้สถานบริการอื่นรับช่วงการให้บริการอีกทอดหนึ่ง เว้นแต่การให้บริการสาธารณสุขแต่บางส่วนที่ได้รับอนุญาตเป็นหนังสือจากสำนักงานแล้วแต่ทั้งนี้การให้สถานบริการอื่นรับช่วงการให้บริการดังกล่าวต้องเป็นไปเพื่อประโยชน์ของผู้มีสิทธิและเพื่อให้ผู้มีสิทธิได้รับบริการสาธารณสุขที่ดียิ่งขึ้น เท่านั้น
            </div>
            <div class="text-1">
                10.2 กรณีที่สำนักงานได้อนุญาตให้สถานบริการอื่นรับช่วงการให้บริการสาธารณสุขแต่บางส่วนดังกล่าวตาม     ข้อ 10.1  ไม่เป็นเหตุให้คู่สัญญาฝ่ายหน่วยบริการหลุดพ้นจากความรับผิด หรือพันธะหน้าที่ตามสัญญานี้  และคู่สัญญาฝ่ายหน่วยบริการยังคงต้องรับผิดในความผิดและความประมาทเลินเล่อของสถานบริการอื่นที่รับช่วงการให้บริกาสาธารณสุขหรือตัวแทนหรือลูกจ้างของสถานบริการที่รับช่วงการให้บริการสาธารณสุข ทุกประการ
            </div>
        </div>
        <div class="footer-page size-12">
            <div class="float-left w-50 text-left">(ลงชื่อ)...............................................สำนักงานหรือพยาน</div>
            <div class="float-left w-50 text-right">(ลงชื่อ)...............................................คู่สัญญาฝ่ายหน่วยบริการหรือพยาน</div>
            <div class="text-center size-10">แบบสัญญาให้บริการสาธารณสุขตามกฎหมายว่าด้วยหลักประกันสุขภาพแห่งชาติ  สำนักกฎหมาย  สำนักงานหลักประกันสุขภาพแห่งชาติ</div>
            <div class="float-left w-33 text-left">FM-403 02-001</div>
            <div class="float-left w-33 text-center">หน้า 13/20</div>
            <div class="float-left w-33 text-right">วันที่ 5 มีนาคม 2564</div>
        </div>
    </div>
</section>

<section>
    <div class="main-page size-16">
        <div class="header-page ">
            <p class="text-right">เลขที่อ้างอิง XXXXXX</p>
        </div>
        <div class="content-page ">
            <div class="text-1">
                <b>ข้อ 11  ความรับผิดในความบกพร่อง </b>
            </div>
            <div class="text-1">
                11.1  หากคู่สัญญาฝ่ายหน่วยบริการมิได้ทำการรักษาพยาบาลให้ถูกต้องตามหลักวิชาการทางการแพทย์ หรือเกิดความเสียหายใด ๆ อันเนื่องมาจากความบกพร่องของคู่สัญญาฝ่ายหน่วยบริการ จากการใช้สิ่งของหรือเวชภัณฑ์หรือครุภัณฑ์ไม่ได้มาตรฐาน หรือแพทย์ พยาบาลหรือบุคลากรทางการแพทย์ของคู่สัญญาฝ่ายหน่วยบริการ ปฏิบัติหน้าที่ด้วยความประมาทเลินเล่อหรือเกิดขึ้นเพราะเหตุสุดวิสัยอันมิใช่ความผิดของสำนักงาน คู่สัญญาฝ่ายหน่วยบริการจะต้องเป็นผู้รับผิดชอบในบรรดาความเสียหายต่าง ๆ ที่เกิดขึ้นทั้งหมด โดยไม่มีสิทธิเรียกร้องค่าใช้จ่ายหรือค่าทดแทนใด ๆ จากสำนักงานทั้งสิ้น
            </div>
            <div class="text-1">
                11.2 สำนักงานไม่ต้องรับผิดชอบในความเสียหายใดๆ ตามข้อ 11.1 อันเกิดขึ้นกับคู่สัญญาฝ่ายหน่วยบริการ คนงาน ผู้ปฏิบัติงาน หรือพนักงาน หรือบุคลากร ของคู่สัญญาฝ่ายหน่วยบริการที่ปฏิบัติหน้าที่ตามสัญญานี้ทุกกรณี
            </div>
            <br />
            <div class="text-1">
                <b>ข้อ 12 การบอกเลิกสัญญา</b>
            </div>
            <div class="text-1">
                12.1 กรณีคู่สัญญาฝ่ายหน่วยบริการผิดสัญญาข้อหนึ่งข้อใด ละทิ้งงาน หรือถูกสั่งปิดสถานพยาบาล หรือถูกเพิกถอนใบอนุญาตให้ประกอบกิจการสถานพยาบาล หรือถูกเพิกถอนใบอนุญาตให้ดำเนินการสถานพยาบาล หรือถูกเพิกถอนใบอนุญาตขายยาแผนปัจจุบัน หรือถูกเพิกถอนใบอนุญาตจัดตั้งศูนย์บริการคนพิการทั่วไป หรือถูกเพิกถอนใบอนุญาตให้จัดตั้งสถานบริการอื่น ๆ หรือถูกเพิกถอนใบอนุญาตอื่น ๆ ที่มีผลต่อการให้บริการ หรือตกเป็นผู้ล้มละลาย หรือความปรากฏแก่สำนักงานว่าข้อมูลที่คู่สัญญาฝ่ายหน่วยบริการจัดส่งให้สำนักงานตามข้อ ๕ เป็นเท็จ หรือเพิกเฉยไม่ปฏิบัติตามคำสั่งของคณะกรรมการหรือสำนักงานหรือพนักงานเจ้าหน้าที่ไม่ว่าด้วยเหตุใด ๆ ก็ตาม หรือมีเหตุทำให้สำนักงานเชื่อได้ว่าคู่สัญญาฝ่ายหน่วยบริการไม่สามารถให้บริการสาธารณสุขแก่ผู้มีสิทธิตามสัญญานี้ได้หรือถ้าทำแล้วอาจจะทำไม่ได้ตามที่คณะกรรมการหรือสำนักงานกำหนดไว้ สำนักงานมีสิทธิที่จะบอกเลิกสัญญานี้ได้และมีสิทธิให้ยกเลิกการขึ้นทะเบียนเป็นหน่วยบริการ โดยสำนักงานจะไม่พิจารณารับขึ้นทะเบียนหน่วยบริการของคู่สัญญาฝ่ายหน่วยบริการเป็นหน่วยบริการในระบบหลักประกันสุขภาพแห่งชาติ เป็นระยะเวลา 1 (หนึ่ง) ปี นับจากวันที่ประกาศยกเลิกการขึ้นทะเบียนเป็นหน่วยบริการ
            </div>
            <div class="text-1">
                ในกรณีที่สำนักงานได้ใช้สิทธิบอกเลิกสัญญาตามวรรคหนึ่ง อันเนื่องมาจากข้อมูลที่คู่สัญญาฝ่ายหน่วยบริการจงใจส่งเบิกค่าใช้จ่ายชดเชยเพื่อบริการสาธารณสุขให้แก่สำนักงานเป็นเท็จ สำนักงานจะไม่พิจารณารับขึ้นทะเบียนหน่วยบริการของคู่สัญญาฝ่ายหน่วยบริการเป็นหน่วยบริการในระบบหลักประกันสุขภาพแห่งชาติ เป็นระยะเวลา 3 (สาม) ปี นับจากวันที่ประกาศยกเลิกการขึ้นทะเบียนเป็นหน่วยบริการ
            </div>
            <div class="text-1">
                กรณีตามวรรคหนึ่ง หรือวรรคสอง หากคู่สัญญาฝ่ายหน่วยบริการชี้แจงแสดงเอกสารหลักฐานประกอบให้สำนักงานเชื่อได้ว่ามิได้เป็นเช่นนั้น หรือสำนักงานพิจารณาแล้วเห็นว่าเพื่อประโยชน์ของผู้มีสิทธิที่จะเข้าถึงการรับบริการสาธารณสุขอย่างทั่วถึง หรือเพื่อไม่ให้เกิดผลกระทบกับการรับบริการสาธารณสุขของผู้มีสิทธิ หรือด้วยเหตุอื่นใด สำนักงานอาจพิจารณารับขึ้นทะเบียนสถานบริการนั้น ๆ ของคู่สัญญาฝ่ายหน่วยบริการเป็นหน่วยบริการ ตามกฎหมายว่าด้วยหลักประกันสุขภาพแห่งชาติ ก่อนระยะเวลา 1 (หนึ่ง) ปี หรือก่อนระยะเวลา 3 (สาม) ปี แล้วแต่กรณีก็ได้
            </div>
        </div>
        <div class="footer-page size-12">
            <div class="float-left w-50 text-left">(ลงชื่อ)...............................................สำนักงานหรือพยาน</div>
            <div class="float-left w-50 text-right">(ลงชื่อ)...............................................คู่สัญญาฝ่ายหน่วยบริการหรือพยาน</div>
            <div class="text-center size-10">แบบสัญญาให้บริการสาธารณสุขตามกฎหมายว่าด้วยหลักประกันสุขภาพแห่งชาติ  สำนักกฎหมาย  สำนักงานหลักประกันสุขภาพแห่งชาติ</div>
            <div class="float-left w-33 text-left">FM-403 02-001</div>
            <div class="float-left w-33 text-center">หน้า 14/20</div>
            <div class="float-left w-33 text-right">วันที่ 5 มีนาคม 2564</div>
        </div>
    </div>
</section>

<section>
    <div class="main-page size-16">
        <div class="header-page ">
            <p class="text-right">เลขที่อ้างอิง XXXXXX</p>
        </div>
        <div class="content-page ">
            <div class="text-1">
                12.2 ในกรณีสำนักงานใช้สิทธิบอกเลิกสัญญาตามข้อ 12.1 สำนักงานมีสิทธิ ดังนี้
            </div>
            <div class="text-2">
                (1) ริบหลักประกันหรือเรียกร้องเอาจากธนาคารผู้ออกหนังสือค้ำประกัน ตามข้อ 6.1 ข้อ 6.3 และข้อ 6.4 เป็นจำนวนเงินทั้งหมดหรือแต่บางส่วนตามแต่สำนักงานจะเห็นสมควร
            </div>
            <div class="text-2">
                (2) เรียกเอาเงินค่าใช้จ่ายเพื่อบริการสาธารณสุขที่ได้จ่ายไปแล้วจากคู่สัญญาฝ่ายหน่วยบริการคืนได้ และมีสิทธิระงับค่าใช้จ่ายเพื่อบริการสาธารณสุขทุกประเภทที่คู่สัญญาฝ่ายหน่วยบริการมีสิทธิพึงรับจากสำนักงาน ที่ค้างจ่ายอยู่ในงวดถัดไปได้
            </div>
            <div class="text-2">
                (3) เรียกค่าปรับเป็นจำนวนเงินในอัตราร้อยละ 75 (เจ็ดสิบห้า) ของค่าใช้จ่ายเพื่อบริการสาธารณสุขที่ตรวจสอบพบว่ามีการเบิกจ่ายชดเชยค่าบริการสาธารณสุขอันเป็นเท็จ หรือปรับเป็นจำนวนเงินน้อยกว่านั้นตามที่สำนักงานจะเห็นสมควร ทั้งนี้สำนักงานมีสิทธิหักเอาจากค่าใช้จ่ายเพื่อบริการสาธารณสุขทุกประเภทที่คู่สัญญาฝ่ายหน่วยบริการมีสิทธิพึงรับจากสำนักงาน และ/หรือสำนักงานจะบังคับจากหลักประกันการปฏิบัติตามสัญญาตามข้อ 6  ก็ได้
            </div>
            <div class="text-2">
                (4) เรียกร้องค่าเสียหายอื่นใดจากคู่สัญญาฝ่ายหน่วยบริการ โดยมีสิทธิหักเอาจากค่าใช้จ่ายเพื่อบริการสาธารณสุขทุกประเภทที่คู่สัญญาฝ่ายหน่วยบริการมีสิทธิพึงรับจากสำนักงาน และ/หรือสำนักงานจะบังคับจากหลักประกันการปฏิบัติตามสัญญาตามข้อ 6 ก็ได้
            </div>
            <div class="text-1">
                12.3 การที่สำนักงานไม่ใช้สิทธิบอกเลิกสัญญาตามข้อ 12.1 ไม่เป็นเหตุให้คู่สัญญาฝ่ายหน่วยบริการพ้นจากความรับผิดตามสัญญา
            </div>
            <div class="text-1">
                12.4 คู่สัญญาฝ่ายหน่วยบริการจะบอกเลิกสัญญาก่อนครบกำหนดเวลาตามข้อ 9.1 ไม่ได้ เว้นแต่เป็นกรณีที่คู่สัญญาฝ่ายหน่วยบริการไม่ประสงค์ที่จะขยายเวลาตามข้อ 9.2 และคู่สัญญาฝ่ายหน่วยบริการได้มีหนังสือแจ้งบอกเลิกสัญญานี้ล่วงหน้า ไม่น้อยกว่า 180 (หนึ่งร้อยแปดสิบ) วัน ก่อนสัญญาสิ้นสุด หรือสำนักงานได้ให้ความยินยอมเป็นหนังสือแล้วในกรณีที่คู่สัญญาฝ่ายหน่วยบริการบอกเลิกสัญญาน้อยกว่า 180 (หนึ่งร้อยแปดสิบ) วัน
            </div>
            <br />
            <div class="text-1">
                <b>ข้อ 13  การชะลอการจ่ายค่าใช้จ่ายเพื่อบริการสาธารณสุข </b>
            </div>
            <div class="text-1">
                13.1 กรณีที่คู่สัญญาฝ่ายหน่วยบริการไม่ดำเนินการถ่ายโอน ไม่ส่งข้อมูล สถิติ รายงาน ภายในเวลาที่กำหนดตามข้อ 5.9 สำนักงานมีสิทธิชะลอการจ่ายเงินค่าใช้จ่ายเพื่อบริการสาธารณสุขในเดือนที่ตรวจพบจนถึงวันที่คู่สัญญาฝ่ายหน่วยบริการได้ดำเนินการตามเงื่อนไขของสัญญานี้ถูกต้องครบถ้วนแล้ว
            </div>
            <div class="text-1">
                13.2 กรณีที่คู่สัญญาฝ่ายหน่วยบริการอยู่ระหว่างถูกสำนักงานตรวจสอบข้อเท็จจริงว่ามีการกระทำผิดสัญญาข้อหนึ่งข้อใด หรือผิดกฎหมาย หรือขัดกับกฎ ระเบียบ ข้อบังคับ ประกาศ มติ คำสั่ง คู่มือ เงื่อนไขหรือแนวทางปฏิบัติที่คณะกรรมการหรือสำนักงานกำหนด สำนักงานมีสิทธิชะลอค่าใช้จ่ายเพื่อบริการสาธารณสุขที่พึงรับทุกประเภทจากสำนักงาน
            </div>
            <div class="text-1">
                13.3 กรณีที่คู่สัญญาฝ่ายหน่วยบริการมีหนี้ค้างชำระจากการถูกเรียกคืนเงินค่าใช้จ่ายเพื่อบริการสาธารณสุข สำนักงานมีสิทธิชะลอการจ่ายเงินค่าใช้จ่ายเพื่อบริการสาธารณสุข จนกว่าคู่สัญญาฝ่ายหน่วยบริการจะมีรายได้พึงรับมากกว่ามูลค่าหนี้ค้างชำระ หรือจนกว่าคู่สัญญาฝ่ายหน่วยบริการจะชำระหนี้ครบถ้วน
            </div>
        </div>
        <div class="footer-page size-12">
            <div class="float-left w-50 text-left">(ลงชื่อ)...............................................สำนักงานหรือพยาน</div>
            <div class="float-left w-50 text-right">(ลงชื่อ)...............................................คู่สัญญาฝ่ายหน่วยบริการหรือพยาน</div>
            <div class="text-center size-10">แบบสัญญาให้บริการสาธารณสุขตามกฎหมายว่าด้วยหลักประกันสุขภาพแห่งชาติ  สำนักกฎหมาย  สำนักงานหลักประกันสุขภาพแห่งชาติ</div>
            <div class="float-left w-33 text-left">FM-403 02-001</div>
            <div class="float-left w-33 text-center">หน้า 15/20</div>
            <div class="float-left w-33 text-right">วันที่ 5 มีนาคม 2564</div>
        </div>
    </div>
</section>

<section>
    <div class="main-page size-16">
        <div class="header-page ">
            <p class="text-right">เลขที่อ้างอิง XXXXXX</p>
        </div>
        <div class="content-page ">
            <div class="text-1">
                <b>ข้อ 14 การหักค่าใช้จ่ายเพื่อบริการสาธารณสุข</b>
            </div>
            <div class="text-1">
                สำนักงานสงวนสิทธิหรือมีสิทธิหักค่าใช้จ่ายเพื่อบริการสาธารณสุขที่พึงจ่ายให้แก่คู่สัญญาฝ่ายหน่วยบริการ กรณีคู่สัญญาฝ่ายหน่วยบริการไม่ปฏิบัติตามสัญญา หรือคู่สัญญาฝ่ายหน่วยบริการดำเนินการ ดังต่อไปนี้
            </div>
            <div class="text-1">
                14.1 คู่สัญญาฝ่ายหน่วยบริการย้ายสถานที่ตั้ง หรือเปลี่ยนหน่วยบริการที่รับการส่งต่อในแต่ละครั้ง สำนักงานมีสิทธิหักค่าใช้จ่ายหรือให้คู่สัญญาฝ่ายหน่วยบริการนำเงินมาชำระ เพื่อเป็นค่าดำเนินการใด ๆ ที่สำนักงานจำเป็นต้องจ่ายในอัตรา ดังนี้
            </div>
            <div class="text-2">
                (1) คู่สัญญาฝ่ายหน่วยบริการย้ายสถานที่ตั้ง หักค่าใช้จ่ายในอัตรา 4 บาท (สี่บาทถ้วน) ต่อผู้มีสิทธิ 1 (หนึ่ง) คน โดยอ้างอิงจากฐานผู้มีสิทธิ ณ วันที่คู่สัญญาฝ่ายหน่วยบริการแจ้งสำนักงาน
            </div>
            <div class="text-2">
                (2) หน่วยบริการประจำของคู่สัญญาฝ่ายหน่วยบริการเปลี่ยนหน่วยบริการที่รับการส่งต่อ หักค่าใช้จ่ายในอัตรา 7 บาท (เจ็ดบาทถ้วน) ต่อผู้มีสิทธิ 1 (หนึ่ง) คน โดยอ้างอิงจากฐานผู้มีสิทธิ ณ วันที่คู่สัญญาฝ่ายหน่วยบริการแจ้งสำนักงาน เว้นแต่มิใช่เป็นเหตุจากหน่วยบริการประจำ ให้อยู่ในดุลพินิจของสำนักงาน
            </div>
            <div class="text-1">
                14.2 คู่สัญญาฝ่ายหน่วยบริการเรียกเก็บค่าใช้จ่ายเพื่อบริการสาธารณสุขจากสำนักงานเกินจริงหรืออันเป็นเท็จเป็นการฝ่าฝืนกฎ ระเบียบ ข้อบังคับ ประกาศ ที่คณะกรรมการหรือสำนักงานกำหนด หากสำนักงานตรวจสอบข้อมูลบริการสาธารณสุขของคู่สัญญาฝ่ายหน่วยบริการโดยสุ่มจากข้อมูลบริการสาธารณสุขหรือเวชระเบียนทั้งหมด แล้วพบว่าการเรียกเก็บค่าใช้จ่ายเพื่อบริการสาธารณสุขไม่ถูกต้องตามหลักเกณฑ์ที่สำนักงานกำหนดเป็นเหตุให้คู่สัญญาฝ่ายหน่วยบริการได้รับเงินค่าใช้จ่ายเพื่อบริการสาธารณสุขเกินกว่าที่พึงได้รับโดยส่วนที่เกินดังกล่าวมีมูลค่าไม่เกินกว่าร้อยละ 15(สิบห้า) ของวงเงินที่เรียกเก็บตามข้อมูลบริการสาธารณสุขหรือเวชระเบียนที่สุ่มตรวจครั้งนั้น สำนักงานจะหักค่าใช้จ่ายที่เรียกเก็บเกินจริงหรืออันเป็นเท็จดังกล่าวคืนได้ทันทีหรือหักเอาจากค่าใช้จ่ายเพื่อบริการสาธารณสุขทุกประเภทที่คู่สัญญาฝ่ายหน่วยบริการพึงได้รับจากสำนักงานในงวดถัดไป พร้อมมีหนังสือตักเตือนคู่สัญญาฝ่ายหน่วยบริการ
            </div>
            <div class="text-1">
                14.3 คู่สัญญาฝ่ายหน่วยบริการไม่เปิดทำการและให้บริการตามวันเวลาที่แจ้งไว้ตามสัญญาข้อ 3.2
            </div>
            <div class="text-1">
                14.4 สำนักงานเข้าตรวจสอบหน่วยบริการของคู่สัญญาฝ่ายหน่วยบริการตามสัญญาในข้อ 4 แล้ว ผลการตรวจสอบไม่พบบุคลากรผู้ให้บริการประจำหน่วยบริการตามสัญญาข้อ 3.3
            </div>
            <div class="text-1">
                กรณีตามข้อ 14.2 ถึงข้อ 14.4 สำนักงานมีสิทธิหักค่าใช้จ่ายที่พึงจ่ายให้คู่สัญญาฝ่ายหน่วยบริการในอัตราร้อยละ 50 (ห้าสิบ) ของค่าใช้จ่ายที่พึงจ่ายให้คู่สัญญาฝ่ายหน่วยบริการในเดือนที่พบเหตุนั้น ๆ
            </div>
            <div class="text-1">
                14.5 กรณีสำนักงานตรวจสอบพบว่าคู่สัญญาฝ่ายหน่วยบริการเจตนาให้ผู้มีสิทธิลงทะเบียนเลือกหน่วยบริการ โดยใช้กลฉ้อฉล หรือลงทะเบียนโดยไม่ได้รับความยินยอมจากผู้มีสิทธิ ซึ่งขัดกับกฎ ระเบียบ ข้อบังคับ ประกาศ มติ คำสั่ง คู่มือ เงื่อนไขหรือแนวทางปฏิบัติที่คณะกรรมการ หรือสำนักงานกำหนด คู่สัญญาฝ่ายหน่วยบริการต้องคืนเงินเหมาจ่ายรายหัว ในอัตรา 50 (ห้าสิบ) เท่าของจำนวนเงินที่ไม่มีสิทธิได้รับโดยชอบด้วยกฎหมาย โดยสำนักงานจะหักเงินดังกล่าวจากค่าใช้จ่ายเพื่อบริการสาธารณสุขทุกประเภทที่จะพึงจ่ายให้แก่คู่สัญญาฝ่ายหน่วยบริการ และคู่สัญญาฝ่ายหน่วยบริการต้องเป็นผู้รับผิดชอบค่าใช้จ่ายหรือค่าเสียหายอื่นที่เกิดขึ้น
            </div>
        </div>
        <div class="footer-page size-12">
            <div class="float-left w-50 text-left">(ลงชื่อ)...............................................สำนักงานหรือพยาน</div>
            <div class="float-left w-50 text-right">(ลงชื่อ)...............................................คู่สัญญาฝ่ายหน่วยบริการหรือพยาน</div>
            <div class="text-center size-10">แบบสัญญาให้บริการสาธารณสุขตามกฎหมายว่าด้วยหลักประกันสุขภาพแห่งชาติ  สำนักกฎหมาย  สำนักงานหลักประกันสุขภาพแห่งชาติ</div>
            <div class="float-left w-33 text-left">FM-403 02-001</div>
            <div class="float-left w-33 text-center">หน้า 16/20</div>
            <div class="float-left w-33 text-right">วันที่ 5 มีนาคม 2564</div>
        </div>
    </div>
</section>

<section>
    <div class="main-page size-16">
        <div class="header-page ">
            <p class="text-right">เลขที่อ้างอิง XXXXXX</p>
        </div>
        <div class="content-page ">
            <div class="text-1">
                14.6 กรณีบุคคลหรือองค์กรที่ได้รับแต่งตั้งหรือมอบหมายตามข้อ 4.1 ตรวจพบหรือมีเหตุให้เชื่อได้ว่าคู่สัญญาฝ่ายหน่วยบริการจัดบริการและให้บริการสาธารณสุขไม่ได้มาตรฐานตามที่กำหนด หรือมีข้อร้องเรียนว่าคู่สัญญาฝ่ายหน่วยบริการไม่จัดบริการ และ/หรือไม่ให้บริการสาธารณสุข หรือคู่สัญญาฝ่ายหน่วยบริการไม่ปฏิบัติตามหน้าที่ของคู่สัญญาฝ่ายหน่วยบริการด้านหนึ่งด้านใดตามสัญญานี้ สำนักงานมีสิทธิให้หน่วยบริการอื่นหรือจ้างสถานบริการอื่น จัดบริการและให้บริการสาธารณสุขด้านนั้นให้แก่ผู้มีสิทธิได้ โดยหักค่าใช้จ่ายเพื่อบริการสาธารณสุขทุกประเภทที่จะพึงจ่ายให้แก่คู่สัญญาฝ่ายหน่วยบริการนั้น เพื่อจ่ายให้แก่หน่วยบริการอื่นหรือสถานบริการอื่นที่จัดบริการและให้บริการสาธารณสุขด้านนั้นแทนได้และให้ถือว่าเงินจำนวนดังกล่าวเป็นค่าใช้จ่ายเพื่อบริการสาธารณสุขที่สำนักงานได้จ่ายแก่คู่สัญญาฝ่ายหน่วยบริการในการปฏิบัติตามสัญญานี้ โดยคู่สัญญาฝ่ายหน่วยบริการไม่มีสิทธิเรียกร้องใด ๆ จากสำนักงาน
            </div>
            <br />
            <div class="text-1">
                <b>ข้อ 15 ค่าปรับ</b>
            </div>
            <div class="text-1">
                ในกรณีที่สำนักงานยังไม่ใช้สิทธิบอกเลิกสัญญาตามข้อ 12.1 สำนักงานมีสิทธิเรียกร้องเอาค่าปรับเป็นเงิน ดังนี้
            </div>
            <div class="text-1">
                15.1  เว้นแต่สัญญานี้จะกำหนดเป็นอย่างอื่น กรณีที่คู่สัญญาฝ่ายหน่วยบริการละทิ้งงาน หรือเพิกเฉยไม่ปฏิบัติตามคำสั่งของคณะกรรมการหรือสำนักงานหรือพนักงานเจ้าหน้าที่ไม่ว่าด้วยเหตุใด ๆ ก็ตาม ผิดสัญญาหรือไม่สามารถทำการตามสัญญาข้อหนึ่งข้อใด สำนักงานมีสิทธิเรียกร้องเอาค่าปรับเป็นเงิน เดือนละเท่ากับร้อยละ 75 (เจ็ดสิบห้า)  ของค่าใช้จ่ายเพื่อบริการสาธารณสุขที่สำนักงานจะต้องจ่ายให้ในแต่ละเดือนตามข้อ 7 หรือปรับเป็นจำนวนเงินน้อยกว่านั้นตามที่สำนักงานจะเห็นสมควรจนกว่าคู่สัญญาฝ่ายหน่วยบริการจะได้ปฏิบัติให้ถูกต้องตามสัญญา โดยสำนักงานขอสงวนสิทธิในการเรียกค่าปรับเพื่อชำระหนี้ตามสัญญานี้ได้ด้วย
            </div>
            <div class="text-1">
                15.2 กรณีที่สำนักงานตรวจสอบข้อมูลบริการสาธารณสุขของคู่สัญญาฝ่ายหน่วยบริการโดยสุ่มจากข้อมูลบริการสาธารณสุขหรือเวชระเบียนทั้งหมดแล้วพบว่าการเรียกเก็บค่าใช้จ่ายเพื่อบริการสาธารณสุขไม่ถูกต้องตามหลักเกณฑ์ที่สำนักงานกำหนดเป็นเหตุให้คู่สัญญาฝ่ายหน่วยบริการได้รับเงินค่าใช้จ่ายเพื่อบริการสาธารณสุขเกินกว่าที่พึงได้รับโดยส่วนที่เกินดังกล่าวมีมูลค่าเกินกว่าร้อยละ 15 (สิบห้า) ของวงเงินที่เรียกเก็บตามข้อมูลบริการสาธารณสุขหรือเวชระเบียนที่สุ่มตรวจครั้งนั้น ให้สำนักงานนำร้อยละของวงเงินเรียกเก็บที่ตรวจพบว่าไม่ถูกต้องดังกล่าว ไปคำนวณย้อนกลับจากมูลค่าในภาพรวมทั้งหมดที่คู่สัญญาฝ่ายหน่วยบริการได้รับ ตามตัวอย่างแสดงวิธีการคำนวณค่าปรับตามเอกสารแนบท้ายสัญญาผนวก 4 และเรียกค่าปรับจากคู่สัญญาฝ่ายหน่วยบริการตามจำนวนมูลค่าที่ได้จากการคำนวณย้อนกลับนั้น หรือหักเอาจากค่าใช้จ่ายเพื่อบริการสาธารณสุขทุกประเภทที่คู่สัญญาฝ่ายหน่วยบริการพึงได้รับจากสำนักงาน ทั้งนี้หากสำนักงานเห็นว่าการเรียกเก็บเงินค่าใช้จ่ายเพื่อบริการสาธารณสุขที่ไม่ถูกต้องดังกล่าวส่อไปในทางทุจริตหรือคู่สัญญาฝ่ายหน่วยบริการมีเจตนาเบิกจ่ายค่าบริการสาธารณสุขอันเป็นเท็จ สำนักงานอาจเรียกตรวจสอบข้อมูลการให้บริการสาธารณสุขหรือเวชระเบียนทั้งหมดเพื่อตรวจหามูลค่าความเสียหายที่แท้จริงทั้งหมดได้ และสำนักงานมีสิทธิเรียกคืนเงินตามมูลค่าทั้งหมดที่ตรวจพบ
            </div>
            <div class="text-1">
                ทั้งนี้หากการตรวจสอบดังกล่าวพบว่าเกิดจากความจงใจของคู่สัญญาฝ่ายหน่วยบริการ เมื่อสำนักงานได้ดำเนินคดีอาญา คดีแพ่ง คดีปกครองและศาลมีคำพิพากษาเป็นที่สุด สำนักงานมีสิทธิเรียกค่าปรับอีกไม่เกิน 10 (สิบ) เท่า ของจำนวนเงินที่คู่สัญญาฝ่ายหน่วยบริการเรียกเก็บเกินจริงในการบริการครั้งนั้นอีกด้วย
            </div>
        </div>
        <div class="footer-page size-12">
            <div class="float-left w-50 text-left">(ลงชื่อ)...............................................สำนักงานหรือพยาน</div>
            <div class="float-left w-50 text-right">(ลงชื่อ)...............................................คู่สัญญาฝ่ายหน่วยบริการหรือพยาน</div>
            <div class="text-center size-10">แบบสัญญาให้บริการสาธารณสุขตามกฎหมายว่าด้วยหลักประกันสุขภาพแห่งชาติ  สำนักกฎหมาย  สำนักงานหลักประกันสุขภาพแห่งชาติ</div>
            <div class="float-left w-33 text-left">FM-403 02-001</div>
            <div class="float-left w-33 text-center">หน้า 17/20</div>
            <div class="float-left w-33 text-right">วันที่ 5 มีนาคม 2564</div>
        </div>
    </div>
</section>

<section>
    <div class="main-page size-16">
        <div class="header-page ">
            <p class="text-right">เลขที่อ้างอิง XXXXXX</p>
        </div>
        <div class="content-page ">
            <div class="text-1">
                ข้อ 15.3  หากคู่สัญญาฝ่ายหน่วยบริการเอากิจกรรมการให้บริการสาธารณสุขทั้งหมดหรือแต่บางส่วนแห่งสัญญานี้ไปให้สถานบริการอื่นรับช่วงการให้บริการอีกทอดหนึ่งโดยฝ่าฝืนความในข้อ 10 คู่สัญญาฝ่ายหน่วยบริการต้องชำระค่าปรับให้แก่ผู้ว่าจ้างเป็นจำนวนเงินทั้งหมดของวงเงินของงานให้บริการสาธารณสุขที่ให้สถานบริการอื่นรับช่วงการให้บริการ ทั้งนี้ไม่ตัดสิทธิสำนักงานในการบอกเลิกสัญญาหรือชะลอการจ่ายค่าใช้จ่ายเพื่อบริการสาธารณสุขตามข้อ 7 ไว้ก่อน จนกว่าคู่สัญญาฝ่ายหน่วยบริการจะได้ปฏิบัติให้ถูกต้องตามสัญญา
            </div>
            <div class="text-1">
                ข้อ 15.4 หากคู่สัญญาฝ่ายหน่วยบริการไม่รับลงทะเบียน หรือไม่รับคำขอลงทะเบียนหรือคำขอเปลี่ยนแปลงหน่วยบริการประจำของผู้มีสิทธิที่ยื่นคำขอตามเงื่อนไข คู่สัญญาฝ่ายหน่วยบริการต้องชำระค่าปรับในอัตรา 10,000 (หนึ่งหมื่นบาทถ้วน) บาทต่อรายที่ตรวจสอบพบในครั้งนั้น
            </div>
            <br />
            <div class="text-1">
                <b>ข้อ 16 การบังคับค่าปรับ และค่าเสียหาย</b>
            </div>
            <div class="text-1">
                ในกรณีที่คู่สัญญาฝ่ายหน่วยบริการไม่ปฏิบัติตามสัญญาข้อใดข้อหนึ่งด้วยเหตุใด ๆ ก็ตาม จนเป็นเหตุให้เกิดค่าปรับหรือค่าเสียหายแก่สำนักงาน คู่สัญญาฝ่ายหน่วยบริการต้องชดใช้ค่าปรับหรือค่าเสียหายดังกล่าวให้แก่สำนักงานโดยสิ้นเชิงภายในกำหนด {1@78} วันนับถัดจากวันที่ได้รับแจ้งเป็นหนังสือจากสำนักงาน หากคู่สัญญาฝ่ายหน่วยบริการไม่ชดใช้ให้ถูกต้องครบถ้วนภายในระยะเวลาดังกล่าว ให้สำนักงานมีสิทธิที่จะหักเอาจากจำนวนเงินค่าใช้จ่ายเพื่อบริการสาธารณสุขทุกประเภทที่พึงจ่ายให้แก่คู่สัญญาฝ่ายหน่วยบริการ หรือบังคับจากหลักประกันการปฏิบัติตามสัญญาตามข้อ 6 ได้ทันที
            </div>
            <div class="text-1">
                หากบังคับค่าปรับ หรือค่าเสียหาย จากจำนวนเงินค่าใช้จ่ายเพื่อบริการสาธารณสุขทุกประเภทที่พึงจ่ายให้แก่คู่สัญญาฝ่ายหน่วยบริการ หรือจากหลักประกันการปฏิบัติตามสัญญาตามข้อ 6 แล้วยังไม่เพียงพอ คู่สัญญาฝ่ายหน่วยบริการยินยอมชำระส่วนที่เหลือที่ยังขาดอยู่จนครบถ้วนตามจำนวนค่าปรับ หรือค่าเสียหายนั้นภายในกำหนด     {2@79} วันนับถัดจากวันที่ได้รับแจ้งเป็นหนังสือจากสำนักงาน
            </div>
            <div class="text-1">
                หากมีเงินค่าใช้จ่ายเพื่อบริการสาธารณสุขในส่วนที่จะพึงจ่ายให้แก่คู่สัญญาฝ่ายหน่วยบริการตามสัญญาที่หักไว้จ่ายเป็นค่าปรับ ค่าเสียหาย หรือค่าใช้จ่ายแล้วยังเหลืออยู่อีกเท่าใด สำนักงานจะคืนให้แก่คู่สัญญาฝ่ายหน่วยบริการทั้งหมด
            </div>
            <br />
            <div class="text-1">
                <b>ข้อ 17  ขอบเขตแห่งสิทธิของผู้มีสิทธิ</b>
            </div>
            <div class="text-1">
                ในกรณีที่ผู้มีสิทธิประสบอันตรายหรือเจ็บป่วย และมีสิทธิได้รับบริการสาธารณสุขจากทางอื่นนอกเหนือจากสัญญานี้ โดยมีหน่วยงานหรือบุคคลใด เป็นผู้รับผิดชอบเกี่ยวกับค่าใช้จ่ายในการรับบริการสาธารณสุขแทนผู้มีสิทธิ ไม่ว่าสิทธิที่ได้รับนั้นจะเกิดจากสัญญา ละเมิด หรือเพราะเหตุอื่นก็ตาม ผู้มีสิทธิจะเลือกใช้สิทธิในการรับบริการสาธารณสุขในทางใดก็ได้ ถ้าผู้มีสิทธิขอใช้สิทธิจากทางอื่น คู่สัญญาฝ่ายหน่วยบริการจะต้องให้ผู้มีสิทธิแสดงความประสงค์ไว้เป็นหนังสือ และหากผู้มีสิทธิเลือกใช้สิทธิในฐานะเป็นผู้มีสิทธิตามสัญญานี้ คู่สัญญาฝ่ายหน่วยบริการต้องให้บริการสาธารณสุขแก่ผู้มีสิทธิตามสัญญานี้ โดยจะกำหนดเงื่อนไขใด ๆ แก่ผู้มีสิทธิมิได้
            </div>
        </div>
        <div class="footer-page size-12">
            <div class="float-left w-50 text-left">(ลงชื่อ)...............................................สำนักงานหรือพยาน</div>
            <div class="float-left w-50 text-right">(ลงชื่อ)...............................................คู่สัญญาฝ่ายหน่วยบริการหรือพยาน</div>
            <div class="text-center size-10">แบบสัญญาให้บริการสาธารณสุขตามกฎหมายว่าด้วยหลักประกันสุขภาพแห่งชาติ  สำนักกฎหมาย  สำนักงานหลักประกันสุขภาพแห่งชาติ</div>
            <div class="float-left w-33 text-left">FM-403 02-001</div>
            <div class="float-left w-33 text-center">หน้า 18/20</div>
            <div class="float-left w-33 text-right">วันที่ 5 มีนาคม 2564</div>
        </div>
    </div>
</section>

<section>
    <div class="main-page size-16">
        <div class="header-page ">
            <p class="text-right">เลขที่อ้างอิง XXXXXX</p>
        </div>
        <div class="content-page ">
            <div class="text-1">
                <b>ข้อ 18 การตีความ</b>
            </div>
            <div class="text-1">
                คู่สัญญามีความเข้าใจตรงกันว่าข้อตกลงในสัญญานี้กำหนดขึ้นเพื่อให้คู่สัญญาปฏิบัติให้เป็นไปตามกฎหมายว่าด้วยหลักประกันสุขภาพแห่งชาติ และกฎหมายอื่นที่เกี่ยวข้องได้ถูกต้องครบถ้วน ข้อความใดในสัญญาซึ่งขัดหรือแย้ง หรือไม่สอดคล้องกับกฎ ระเบียบข้อบังคับ ประกาศ มติ คำสั่ง หรือหลักเกณฑ์ คู่มือหรือแนวปฏิบัติ ของคณะกรรมการหรือสำนักงานที่กำหนดขึ้น และ ให้ถือว่าข้อความในสัญญานี้ไม่มีผลบังคับ ให้บังคับตามกฎหมายว่าด้วยหลักประกันสุขภาพแห่งชาติ
            </div>
            <br />
            <div class="text-1">
                <b>ข้อ 19 การวินิจฉัยชี้ขาด</b>
            </div>
            <div class="text-1">
                กรณีที่มีปัญหาในการปฏิบัติตามสัญญานี้ ให้สำนักงานเป็นผู้มีอำนาจวินิจฉัยชี้ขาด คำวินิจฉัยของสำนักงานให้ถือเป็นที่สุด
            </div>
            <br />
            <div class="text-1">
                <b>ข้อ 20 การบอกกล่าว</b>
            </div>
            <div class="text-1">
                การบอกกล่าวใดที่คู่สัญญาฝ่ายหนึ่งจะต้องแจ้งให้คู่สัญญาอีกฝ่ายหนึ่งทราบตามสัญญานี้จะต้องทำเป็นหนังสือส่งไปยังที่อยู่ของคู่สัญญาที่ระบุไว้ในสัญญานี้ หากคู่สัญญาเปลี่ยนแปลงที่อยู่ ต้องแจ้งให้คู่สัญญาอีกฝ่ายหนึ่งทราบภายใน 7 (เจ็ด) วัน นับแต่วันเปลี่ยนแปลงที่อยู่ หากไม่แจ้งและคู่สัญญาฝ่ายใดฝ่ายหนึ่งได้ส่งหนังสือ บอกกล่าวแก่คู่สัญญา ณ ที่อยู่ตามที่ระบุไว้ในสัญญานี้ ให้ถือว่าได้ส่งโดยชอบแล้ว
            </div>
        </div>
        <div class="footer-page size-12">
            <div class="float-left w-50 text-left">(ลงชื่อ)...............................................สำนักงานหรือพยาน</div>
            <div class="float-left w-50 text-right">(ลงชื่อ)...............................................คู่สัญญาฝ่ายหน่วยบริการหรือพยาน</div>
            <div class="text-center size-10">แบบสัญญาให้บริการสาธารณสุขตามกฎหมายว่าด้วยหลักประกันสุขภาพแห่งชาติ  สำนักกฎหมาย  สำนักงานหลักประกันสุขภาพแห่งชาติ</div>
            <div class="float-left w-33 text-left">FM-403 02-001</div>
            <div class="float-left w-33 text-center">หน้า 19/20</div>
            <div class="float-left w-33 text-right">วันที่ 5 มีนาคม 2564</div>
        </div>
    </div>
</section>

<section>
    <div class="main-page size-16">
        <div class="header-page ">
            <p class="text-right">เลขที่อ้างอิง XXXXXX</p>
        </div>
        <div class="content-page ">
            <div class="text-1">

            </div>
            <div class="text-1">
                สัญญานี้ทำขึ้นสองฉบับ มีข้อความถูกต้องตรงกัน ทั้งสองฝ่ายได้อ่านและเข้าใจข้อความโดยละเอียดตลอดแล้ว จึงได้ลงลายมือชื่อพร้อมประทับตรา (ถ้ามี) ไว้เป็นสำคัญต่อหน้าพยาน และแต่ละฝ่ายต่างยึดถือไว้ ฝ่ายละหนึ่งฉบับ
            </div>
            <br />
            <br />
            <br />
            <br />
            <div class="float-left w-25 text-right">ลงชื่อ</div>
            <div class="float-left w-50 text-left">&nbsp;</div>
            <div class="float-left w-25 text-left">สำนักงาน</div>
            <br />
            <br />
            <br />
            <br />
            <div class="float-left w-25 text-right">ลงชื่อ</div>
            <div class="float-left w-50 text-left">&nbsp;</div>
            <div class="float-left w-25 text-left">คู่สัญญาฝ่ายหน่วยบริการ</div>
            <br />
            <br />
            <br />
            <br />
            <div class="float-left w-25 text-right">ลงชื่อ</div>
            <div class="float-left w-50 text-left">&nbsp;</div>
            <div class="float-left w-25 text-left">พยาน</div>
            <br />
            <br />
            <br />
            <br />
            <div class="float-left w-25 text-right">ลงชื่อ</div>
            <div class="float-left w-50 text-left">&nbsp;</div>
            <div class="float-left w-25 text-left">พยาน</div>
        </div>
        <div class="footer-page size-12">
            <br />
            <div class="text-center size-10">
                แบบสัญญาให้บริการสาธารณสุขตามกฎหมายว่าด้วยหลักประกันสุขภาพแห่งชาติ  สำนักกฎหมาย  สำนักงานหลักประกันสุขภาพแห่งชาติ
            </div>
            <div class="float-left w-33 text-left">FM-403 02-001</div>
            <div class="float-left w-33 text-center">หน้า 20/20</div>
            <div class="float-left w-33 text-right">วันที่ 5 มีนาคม 2564</div>
        </div>
    </div>
</section>

@section Scripts {
    <script src="~/js/FM.js" asp-append-version="true"></script>
}