@{
    ViewData["Title"] = "FM-403-02-01";
    Layout = null;
}
<link rel="stylesheet" href="~/css/font.css" />
<link rel="stylesheet" href="~/css/FM.css" asp-append-version="true" />

<section>
    <div class="main-page size-16">
        <div class="header-page ">
            <p class="text-right">เลขที่อ้างอิง XXXXXX</p>
        </div>
        <div class="content-page ">
            <div class="text-center">
                <img src="../images/logo/NHSO.png" alt="Mountain">
            </div>
            <h3 class="text-center size-18">ข้อตกลงให้บริการสาธารณสุข</h3>
            <div class="text-right ">ข้อตกลงเลขที่ XXXXXX</div>
            <div class="text-1">
                ข้อตกลงฉบับนี้ทำขึ้น  ณ  {1@03} เลขที่ {2@04} ซอย - ถนน {3@05} แขวงตำบล {4@06} เขต/อำเภอ {5@07} จังหวัด {6@08} เมื่อวันที่{7@09}เดือน{8@10}พ.ศ.{9@11} ระหว่าง  สำนักงานหลักประกันสุขภาพแห่งชาติ  โดย {10@12} ตามคำสั่งสำนักงานหลักประกันสุขภาพแห่งชาติ       ที่ {11@91} ลงวันที่ {12@92} แนบท้ายสัญญานี้ ซึ่งต่อไปในข้อตกลงนี้เรียกว่า “สำนักงาน” ฝ่ายหนึ่ง กับ {13@13} ตั้งอยู่เลขที่ {14@14} ถนน {15@17} แขวง/ตำบล {16@18} เขต/อำเภอ {17@19} จังหวัด {18@20} โดย {19@21} ตามคำสั่งเลขที่ {20@24} ลงวันที่ {21@25} เดือน {22@26} พ.ศ. {23@27} ซึ่งเป็นนิติบุคคลต้นสังกัดของสถานบริการชื่อ {24@31} ตั้งอยู่เลขที่ {25@32} ซอย {26@33} ถนน {27@34} แขวง/ตำบล {28@35} เขต/อำเภอ {29@36} จังหวัด {30@37} ซึ่งได้ขึ้นทะเบียนเป็นหน่วยบริการตามข้อบังคับคณะกรรมการหลักประกันสุขภาพแห่งชาติ ว่าด้วยหลักเกณฑ์ วิธีการและเงื่อนไขการขึ้นทะเบียนเป็นหน่วยบริการและเครือข่ายหน่วยบริการ พ.ศ.2558 โดยรับเป็นหน่วยบริการ ตกลงรับให้บริการสาธารณสุข ตามกฎหมายว่าด้วยหลักประกันสุขภาพแห่งชาติ ซึ่งต่อไปในข้อตกลงนี้เรียกว่า “หน่วยบริการ” อีกฝ่ายหนึ่ง
            </div>
            <br />
            <div class="text-1">ทั้งสองฝ่ายได้ตกลงกันมีข้อความ ดังต่อไปนี้</div>
            <div class="text-1"><b>ข้อ 1 บทนิยาม</b> </div>
            <div class="text-1">
                เว้นแต่ข้อความจะแสดงให้เห็นเป็นอย่างอื่นในสัญญานี้
            </div>
            <div class="text-1">
                “ผู้มีสิทธิ ”  หมายความว่า  บุคคลผู้มีสิทธิได้รับบริการสาธารณสุขตามกฎหมายว่าด้วยหลักประกันสุขภาพแห่งชาติ
            </div>
            <div class="text-1">
                “บริการสาธารณสุข” หมายความว่า  บริการด้านการแพทย์และสาธารณสุขซึ่งให้โดยตรงแก่บุคคล เพื่อการสร้างเสริมสุขภาพ  การป้องกันโรค  การตรวจวินิจฉัยโรค  การรักษาพยาบาลและการฟื้นฟูสมรรถภาพที่จำเป็นต่อสุขภาพและการดำรงชีวิต  ทั้งนี้  ให้รวมถึงการบริการทางการแพทย์แผนไทยและการแพทย์ทางเลือกตามกฎหมายว่าด้วยการประกอบโรคศิลปะ
            </div>
            <div class="text-1">
                “หน่วยบริการ” หมายความว่า สถานบริการที่ได้ขึ้นทะเบียนไว้ ตามกฎหมายว่าด้วยหลักประกันสุขภาพแห่งชาติ และตาม กฎ ระเบียบ ข้อบังคับ ประกาศ ของสำนักงานหลักประกันสุขภาพแห่งชาติ
            </div>
        </div>
        <div class="footer-page size-12">
            <div class="float-left w-50 text-left">(ลงชื่อ)...............................................สำนักงานหรือพยาน</div>
            <div class="float-left w-50 text-right">(ลงชื่อ)...............................................หน่วยบริการ</div>
            <div class="text-center size-10">แบบข้อตกลงให้บริการสาธารณสุข สำนักกฎหมาย  สำนักงานหลักประกันสุขภาพแห่งชาติ</div>
            <div class="float-left w-33 text-left">FM-403 02-003</div>
            <div class="float-left w-33 text-center">หน้า 1/16</div>
            <div class="float-left w-33 text-right">วันที่ 1 ตุลาคม 2562</div>
        </div>
    </div>
</section>

<section>
    <div class="main-page size-16">
        <div class="header-page ">
            <p class="text-right">เลขที่อ้างอิง XXXXXX</p>
        </div>
        <div class="content-page ">
            <br />
            <div class="text-1">
                “ประเภทและขอบเขตบริการสาธารณสุข” หมายความว่า ประเภทและขอบเขตของบริการสาธารณสุข ตามกฎหมายว่าด้วยหลักประกันสุขภาพแห่งชาติ หรือตามระเบียบกระทรวงสาธารณสุข ว่าด้วยหลักประกันสุขภาพ   หรือตามประกาศคณะกรรมการหลักประกันสุขภาพแห่งชาติ หรือตามมติคณะกรรมการหลักประกันสุขภาพแห่งชาติ ที่ให้ผู้มีสิทธิพึงได้รับความคุ้มครองค่าบริการทางการแพทย์ ค่าบริการ หรือค่าใช้จ่ายเพื่อบริการสาธารณสุข ตามกฎหมายว่าด้วยหลักประกันสุขภาพแห่งชาติ และที่แก้ไขเพิ่มเติม
            </div>
            <div class="text-1">
                “คณะกรรมการ” หมายความว่า คณะกรรมการหลักประกันสุขภาพแห่งชาติ  ตามกฎหมายว่าด้วยหลักประกันสุขภาพแห่งชาติ
            </div>
            <div class="text-1">
                “คณะกรรมการควบคุมคุณภาพและมาตรฐาน” หมายความว่า  คณะกรรมการควบคุมคุณภาพและมาตรฐานบริการสาธารณสุข  ตามกฎหมายว่าด้วยหลักประกันสุขภาพแห่งชาติ
            </div>
            <div class="text-1">
                “เจ็บป่วยฉุกเฉิน” หมายความว่า การได้รับบาดเจ็บหรือมีอาการในภาวะเฉียบพลันไม่รุนแรงมากอาจรอรับการรักษาได้ในช่วงระยะเวลาหนึ่ง แต่หากปล่อยไว้เกินเวลาอันสมควร จะทำให้อาการเจ็บป่วยฉุกเฉินนั้นรุนแรงขึ้น หรือเกิดภาวะแทรกซ้อนหรือส่งผลให้เสียชีวิตหรือพิการในระยะต่อมาได้ ทั้งนี้ให้เป็นไปตามกฎหมายว่าด้วยการแพทย์ฉุกเฉิน หรือ
            </div>
            <div class="text-1">
                (1)  โรคหรืออาการของโรคที่มีลักษณะรุนแรงต้องรักษาเป็นการเร่งด่วนหากปล่อยไว้จะเป็นอันตรายต่อชีวิต หรือทุพพลภาพ หรือจะเป็นอันตรายต่อผู้อื่น
            </div>
            <div class="text-1">
                (2)  โรคที่ต้องผ่าตัดด่วน  หากปล่อยไว้จะเป็นอันตรายต่อชีวิต
            </div>
            <div class="text-1">
                สิ่งที่ต้องพิจารณาประกอบตาม (1)  และ (2)  ได้แก่  ความดันโลหิต  ชีพจร อาการของโรค  การวินิจฉัยโรค  แนวทางการรักษา  และความเร่งด่วนในการรักษา รวมทั้งคำนึงถึงการรับรู้ของผู้รับบริการที่มีต่ออาการป่วยด้วย
            </div>
            <br />
            <div class="text-1">
                <b>
                    ข้อ 2  เอกสารอันเป็นส่วนหนึ่งของข้อตกลง
                </b>
            </div>
            <div class="text-1">
                เอกสารแนบท้ายข้อตกลง ดังต่อไปนี้  ให้ถือเป็นส่วนหนึ่งของข้อตกลงนี้ด้วย
            </div>
            <div class="text-1">
                2.1 ผนวก 1 รายชื่อผู้มีสิทธิในรูปอิเล็กทรอนิกส์ที่ลงทะเบียนกับหน่วยบริการ โดยอ้างอิงจากฐานข้อมูลของสำนักงานหลักประกันสุขภาพแห่งชาติ  ณ วันที่ {31@45} เดือน {32@46} พ.ศ. {33@47} จำนวน {34@48} คน (ถ้ามี)
            </div>
            <div class="text-1">
                2.2 ผนวก 2  สิทธิประโยชน์ ประเภทและขอบเขตของบริการสาธารณสุข   ตามพระราชบัญญัติ
                หลักประกันสุขภาพแห่งชาติ พ.ศ. 2545 จำนวน {35@49} หน้า
            </div>
            <div class="text-1">
                2.3 ผนวก 3 หน้าที่ของหน่วยบริการตามมาตรา 45 แห่งพระราชบัญญัติหลักประกันสุขภาพแห่งชาติ  พ.ศ. ๒๕๔๕ จำนวน {36@50} หน้า
            </div>
            <div class="text-1">
                2.4 ผนวก 4  ข้อมูลพื้นฐานหน่วยบริการและเครือข่ายหน่วยบริการในรูปอิเล็กทรอนิกส์  จำนวน {37@51} หน้า/แผ่น/FILE
            </div>
            <div class="text-1">
                2.5 ผนวก 5 ประเภทและรายชื่อบุคลากรประจำหน่วยบริการ  จำนวน {38@52} หน้า
            </div>

        </div>
        <div class="footer-page size-12">
            <div class="float-left w-50 text-left">(ลงชื่อ)...............................................สำนักงานหรือพยาน</div>
            <div class="float-left w-50 text-right">(ลงชื่อ)...............................................หน่วยบริการ</div>
            <div class="text-center size-10">แบบข้อตกลงให้บริการสาธารณสุข สำนักกฎหมาย  สำนักงานหลักประกันสุขภาพแห่งชาติ</div>
            <div class="float-left w-33 text-left">FM-403 02-003</div>
            <div class="float-left w-33 text-center">หน้า 2/16</div>
            <div class="float-left w-33 text-right">วันที่ 1 ตุลาคม 2562</div>
        </div>
    </div>
</section>

<section>
    <div class="main-page size-16">
        <div class="header-page ">
            <p class="text-right">เลขที่อ้างอิง XXXXXX</p>
        </div>
        <div class="content-page ">
            <br />
            <div class="text-1">
                2.6 ผนวก 6 การให้บริการสร้างเสริมสุขภาพและป้องกันโรค  จำนวน {39@53} หน้า
            </div>
            <div class="text-1">
                2.7 ผนวก 7 รายละเอียดและเงื่อนไขการให้หน่วยบริการรับลงทะเบียนผู้มีสิทธิหรือขอเปลี่ยนแปลงหน่วยบริการประจำ  จำนวน {40@54} หน้า
            </div>
            <div class="text-1">
                2.8 ผนวก 8 รายงานและสถิติการให้บริการของหน่วยบริการ    จำนวน {41@55} หน้า
            </div>
            <div class="text-1">
                2.9 ผนวก 9 {42@56}
            </div>
            <div class="text-1">
                2.10 ผนวก 10 {43@57}
            </div>
            <div class="text-1">
                ข้อความใด ในเอกสารแนบท้ายข้อตกลงที่ขัดหรือแย้งกับข้อความในข้อตกลงนี้ ให้ใช้ข้อความในข้อตกลงนี้บังคับ  และในกรณีที่เอกสารแนบท้ายข้อตกลงขัดหรือแย้งกันเอง  หน่วยบริการจะต้องปฏิบัติตามคำวินิจฉัยของสำนักงานคำวินิจฉัยของสำนักงานให้ถือเป็นที่สุด และหน่วยบริการไม่มีสิทธิเรียกร้องค่าชดเชย ค่าเสียหายหรือค่าใช้จ่ายใดๆ เพิ่มเติมจากสำนักงานทั้งสิ้น
            </div>
            <br />
            <div class="text-1">
                <b>ข้อ 3 ข้อตกลงให้บริการสาธารณสุข</b>
            </div>
            <div class="text-1">
                3.1 คู่สัญญาเป็นหน่วยบริการที่ได้รับขึ้นทะเบียน ตามกฎ ระเบียบ ข้อบังคับ ประกาศ ที่เกี่ยวกับเกณฑ์การขึ้นทะเบียนและหรือเกณฑ์การตรวจประเมินเพื่อขึ้นทะเบียนเป็นหน่วยบริการ และที่แก้ไขเพิ่มเติม และหรือตามที่คณะกรรมการ หรือสำนักงานกำหนด  ประเภท
            </div>
            <div class="text-2">
                ( {44@CB1} ) หน่วยบริการประจำ
            </div>
            <div class="text-2">
                ( {45@CB2} ) หน่วยบริการปฐมภูมิ
            </div>
            <div class="text-2">
                ( {46@CB3} ) หน่วยบริการที่รับการส่งต่อ
            </div>
            <div class="text-3">
                ( {47@CB4} ) ทั่วไป
            </div>
            <div class="text-3">
                ( {48@CB5} ) เฉพาะทาง
            </div>
            <div class="text-4">
                ( {49@CB6} ) ด้านโรคมะเร็งโลหิตวิทยา
            </div>
            <div class="text-4">
                ( {50@CB7} ) ด้านรังสีรักษา
            </div>
            <div class="text-4">
                ( {51@CB8} ) ด้านศัลยกรรมหัวใจ
            </div>
            <div class="text-4">
                ( {52@CB9} ) {53@58}
            </div>
            <div class="text-2">
                ( {54@CB10} ) หน่วยบริการที่ร่วมให้บริการ
            </div>
            <div class="text-3">
                ( {55@CB11} )  ด้านเวชกรรม
            </div>
            <div class="text-3">
                ( {56@CB12} ) ด้านทันตกรรม
            </div>
            <div class="text-3">
                ( {57@CB13} ) ด้านเภสัชกรรม
            </div>
            <div class="text-3">
                ( {58@CB14} ) ด้านเทคนิคการแพทย์
            </div>
            <div class="text-3">
                ( {59@CB15} ) ด้านกายภาพบำบัด
            </div>
            <div class="text-3">
                ( {60@CB16} ) ด้านแพทย์แผนไทย
            </div>
            <div class="text-3">
                ( {61@CB17} ) ด้านแพทย์แผนไทยประยุกต์
            </div>
            <div class="text-3">
                ( {62@CB18} ) {63@59}
            </div>
        </div>
        <div class="footer-page size-12">
            <div class="float-left w-50 text-left">(ลงชื่อ)...............................................สำนักงานหรือพยาน</div>
            <div class="float-left w-50 text-right">(ลงชื่อ)...............................................หน่วยบริการ</div>
            <div class="text-center size-10">แบบข้อตกลงให้บริการสาธารณสุข สำนักกฎหมาย  สำนักงานหลักประกันสุขภาพแห่งชาติ</div>
            <div class="float-left w-33 text-left">FM-403 02-003</div>
            <div class="float-left w-33 text-center">หน้า 3/16</div>
            <div class="float-left w-33 text-right">วันที่ 1 ตุลาคม 2562</div>
        </div>
    </div>
</section>

<section>
    <div class="main-page size-16">
        <div class="header-page ">
            <p class="text-right">เลขที่อ้างอิง XXXXXX</p>
        </div>
        <div class="content-page ">
            <br />
            <div class="text-1">
                ซึ่งให้บริการผู้ป่วยประเภท {64@60} หน่วยบริการที่รับการส่งต่อคือ {65@61} หน่วยบริการที่ร่วมให้บริการคือ {66@62} สถานพยาบาลส่งต่อด้านต่างๆคือ {67@63} และตกลงให้บริการสาธารณสุข ตามสิทธิประโยชน์ ประเภทและขอบเขตของบริการสาธารณสุข ตามเอกสารแนบท้ายข้อตกลงผนวกผนวก 2 แก่ผู้มีสิทธิ ทั้งนี้ ตามประเภทของหน่วยบริการ ดังต่อไปนี้
            </div>
            <div class="text-1">
                (1) หน่วยบริการประจำ ตกลงให้บริการสาธารณสุขแก่ผู้มีสิทธิอย่างเป็นองค์รวมในการจัดบริการสาธารณสุขระดับปฐมภูมิที่จำเป็นต่อสุขภาพและการดำรงชีวิต รวมทั้งการสร้างเสริมสุขภาพ การป้องกันโรค การตรวจวินิจฉัยโรค การรักษาพยาบาล และการฟื้นฟูสมรรถภาพ ตามข้อบังคับคณะกรรมการหลักประกันสุขภาพแห่งชาติว่าด้วย หลักเกณฑ์ วิธีการและเงื่อนไข การขึ้นทะเบียนเป็นหน่วยบริการและเครือข่ายหน่วยบริการ พ.ศ.2558  ตามที่สำนักงานตรวจสอบได้ ตามเอกสารแนบท้ายข้อตกลงผนวก 1 โดยจำนวนผู้มีสิทธิที่หน่วยบริการจะต้องให้บริการสาธารณสุขจริง  อาจจะมากกว่าหรือน้อยกว่าจำนวนดังกล่าวได้ อันเนื่องมาจากผู้มีสิทธิมีการเปลี่ยนแปลงตามรายการการเกิด  การตาย  หรือการย้ายถิ่นที่อยู่ เป็นต้น
            </div>
            <div class="text-1">
                (2) หน่วยบริการปฐมภูมิ ตกลงให้บริการสาธารณสุขแก่ผู้มีสิทธิในพื้นที่หรือในความรับผิดชอบของหน่วยบริการประจำในเครือข่ายของหน่วยบริการขั้นพื้นฐานระดับปฐมภูมิด้านเวชกรรม หรือทันตกรรมขั้นพื้นฐานได้อย่างเป็นองค์รวม ตามข้อบังคับคณะกรรมการหลักประกันสุขภาพแห่งชาติว่าด้วยหลักเกณฑ์ วิธีการและเงื่อนไข การขึ้นทะเบียนเป็นหน่วยบริการและเครือข่ายหน่วยบริการ พ.ศ.2558
            </div>
            <div class="text-1">
                (3) หน่วยบริการที่รับการส่งต่อ ตกลงให้บริการสาธารณสุขแก่ผู้มีสิทธิโดยจัดบริการสาธารณสุขระดับทุติยภูมิ ตติยภูมิ หรือเฉพาะทาง ให้แก่ผู้มีสิทธิที่ได้รับการส่งต่อ หรือได้รับความเห็นชอบมาจากหน่วยบริการประจำ หรือมาจากหน่วยบริการอื่น หรือจากสำนักงาน ตามข้อบังคับสำนักงานหลักประกันสุขภาพแห่งชาติ ว่าด้วยหลักเกณฑ์ วิธีการและเงื่อนไข การขึ้นทะเบียนเป็นหน่วยบริการและเครือข่ายหน่วยบริการ พ.ศ. 2547 และที่แก้ไขเพิ่มเติม
            </div>
            <div class="text-1">
                ทั้งนี้หน่วยบริการที่รับการส่งต่อตกลงให้บริการสาธารณสุขแก่ผู้มีสิทธิของหน่วยบริการประจำ กรณีที่หน่วยบริการประจำในเครือข่ายปิดทำการ หรือไม่เปิดให้บริการตามวันและเวลาที่แจ้งไว้ตามข้อ 3.2 ด้วย
            </div>
            <div class="text-1">
                กรณีเครือข่ายของหน่วยบริการประจำ เครือข่ายปฐมภูมิ   หรือเครือข่ายเพื่อการส่งต่อผู้รับบริการ ให้บริการแก่ผู้มีสิทธิแทนหน่วยบริการประจำ ในกรณีหน่วยบริการประจำปิดทำการ หรือให้บริการนอกเวลาทำการของหน่วยบริการประจำ หน่วยบริการเครือข่ายนั้นจะเรียกเก็บค่าบริการจากผู้รับบริการไม่ได้
            </div>
            <div class="text-1">
                กรณีเป็นการรับส่งต่อผู้ป่วยในจากหน่วยบริการประจำ ที่ให้บริการเฉพาะผู้ป่วยนอก หน่วยบริการที่รับการส่งต่อตกลงรับให้บริการประเภทผู้ป่วยในแก่ผู้มีสิทธิที่สำนักงานตรวจสอบได้  ตามเอกสารแนบท้ายข้อตกลงผนวก 1 ด้วย โดยจำนวนผู้มีสิทธิที่หน่วยบริการที่รับการส่งต่อจะต้องให้บริการสาธารณสุขจริง  อาจจะมากกว่าหรือน้อยกว่าจำนวนดังกล่าวได้ อันเนื่องมาจากผู้มีสิทธิมีการเปลี่ยนแปลงตามรายการการเกิด  การตาย  หรือการย้ายถิ่นที่อยู่ เป็นต้น
            </div>

        </div>
        <div class="footer-page size-12">
            <div class="float-left w-50 text-left">(ลงชื่อ)...............................................สำนักงานหรือพยาน</div>
            <div class="float-left w-50 text-right">(ลงชื่อ)...............................................หน่วยบริการ</div>
            <div class="text-center size-10">แบบข้อตกลงให้บริการสาธารณสุข สำนักกฎหมาย  สำนักงานหลักประกันสุขภาพแห่งชาติ</div>
            <div class="float-left w-33 text-left">FM-403 02-003</div>
            <div class="float-left w-33 text-center">หน้า 4/16</div>
            <div class="float-left w-33 text-right">วันที่ 1 ตุลาคม 2562</div>
        </div>
    </div>
</section>

<section>
    <div class="main-page size-16">
        <div class="header-page ">
            <p class="text-right">เลขที่อ้างอิง XXXXXX</p>
        </div>
        <div class="content-page ">
            <br />
            <div class="text-1">
                กรณีสถานบริการที่ได้รับขึ้นทะเบียนเป็นหน่วยบริการที่รับการส่งต่อระดับตติยภูมิเฉพาะทางหรือเฉพาะด้าน เกณฑ์การตรวจประเมินและหน้าที่นั้น ให้เป็นไปตามประกาศสำนักงานหลักประกันสุขภาพแห่งชาติ เรื่องเกณฑ์การตรวจประเมินเพื่อขึ้นทะเบียนเป็นหน่วยบริการที่รับการส่งต่อระดับตติยภูมิเฉพาะทางหรือเฉพาะด้าน โรคมะเร็งโลหิตวิทยา รังสีรักษา ศัลกรรมหัวใจ และที่แก้ไขเพิ่มเติม และหรือตามที่คณะกรรมการหรือสำนักงานกำหนด
            </div>
            <div class="text-1">
                (4) หน่วยบริการที่ร่วมให้บริการ ตกลงให้บริการสาธารณสุขเฉพาะด้านใดด้านหนึ่งแก่ผู้มีสิทธิของหน่วยบริการประจำ หรือในเครือข่ายของหน่วยบริการ  หรือผู้มีสิทธิของหน่วยบริการอื่น ตามที่สำนักงาน กำหนด
            </div>
            <div class="text-1">
                3.2 หน่วยบริการตกลงเปิดทำการและให้บริการแก่ผู้มีสิทธิไม่น้อยกว่าวันและเวลาที่กำหนดไว้ ดังต่อไปนี้
            </div>
            <div class="text-2">
                3.2.1 กรณีหน่วยบริการประจำและหรือปฐมภูมิ
            </div>
            <div class="text-3">
                (1) วันจันทร์ - วันศุกร์  เวลา {68@64}
            </div>
            <div class="text-3">
                (2) วันเสาร์ - วันอาทิตย์ เวลา {69@65}
            </div>
            <div class="text-2">
                3.2.2 กรณีหน่วยบริการที่รับการส่งต่อทั่วไปและหรือเฉพาะด้าน
            </div>
            <div class="text-3">
                (1) วันจันทร์ - วันศุกร์  เวลา {70@66}
            </div>
            <div class="text-3">
                (2) วันเสาร์ - วันอาทิตย์ เวลา {71@67}
            </div>
            <div class="text-2">
                3.2.3 กรณี {72@68}
            </div>
            <div class="text-3">
                (1) วันจันทร์ - วันศุกร์  เวลา {73@69}
            </div>
            <div class="text-3">
                (2) วันเสาร์ - วันอาทิตย์ เวลา {74@70}
            </div>
            <br />
            <div class="text-1">
                ทั้งนี้ รวมเวลาเปิดทำการและให้บริการแก่ผู้มีสิทธิ ทั้งสิ้นต้องไม่น้อยกว่า 56 (ห้าสิบหก) ชั่วโมง ต่อสัปดาห์ สำหรับกรณีหน่วยบริการที่มีผู้มีสิทธิมากกว่า 10,000 (หนึ่งหมื่น) คน รวมเวลาเปิดทำการและให้บริการแก่ผู้มีสิทธิ ให้เป็นไปตามที่สำนักงานประกาศ กำหนด
            </div>
            <div class="text-1">
                กรณีหน่วยบริการไม่เปิดทำการในวันเวลาที่กำหนดไว้ในข้อ  3.2 จะกระทำได้ต่อเมื่อหน่วยบริการได้ขอความยินยอมเป็นหนังสือจากสำนักงานล่วงหน้าก่อนไม่น้อยกว่า 7 (เจ็ด) วันทำการ และต้องได้รับความยินยอมเป็นหนังสือจากสำนักงานแล้วเท่านั้น และเมื่อหน่วยบริการได้รับความยินยอมจากสำนักงานแล้ว หน่วยบริการมีหน้าที่ปิดประกาศประชาสัมพันธ์ล่วงหน้าก่อนวันปิดทำการไม่น้อยกว่า 3 (สาม) วัน โดยปิดประกาศไว้ในที่ที่สามารถให้ผู้มีสิทธิมองเห็นได้อย่างชัดเจน รวมทั้งในการปิดประกาศนั้นต้องแจ้งให้ผู้มีสิทธิทราบว่าในขณะปิดทำการผู้มีสิทธิสามารถไปเข้ารับบริการได้ที่หน่วยบริการหรือสถานบริการใดได้บ้าง
            </div>
        </div>
        <div class="footer-page size-12">
            <div class="float-left w-50 text-left">(ลงชื่อ)...............................................สำนักงานหรือพยาน</div>
            <div class="float-left w-50 text-right">(ลงชื่อ)...............................................หน่วยบริการ</div>
            <div class="text-center size-10">แบบข้อตกลงให้บริการสาธารณสุข สำนักกฎหมาย  สำนักงานหลักประกันสุขภาพแห่งชาติ</div>
            <div class="float-left w-33 text-left">FM-403 02-003</div>
            <div class="float-left w-33 text-center">หน้า 5/16</div>
            <div class="float-left w-33 text-right">วันที่ 1 ตุลาคม 2562</div>
        </div>
    </div>
</section>

<section>
    <div class="main-page size-16">
        <div class="header-page ">
            <p class="text-right">เลขที่อ้างอิง XXXXXX</p>
        </div>
        <div class="content-page ">
            <br />
            <div class="text-1">
                กรณีที่หน่วยบริการไม่เปิดให้บริการตามวันและเวลาที่แจ้งไว้ข้างต้น ทำให้ผู้มีสิทธิไม่สามารถเข้ารับบริการได้ เป็นเหตุให้ผู้มีสิทธิไปรับบริการที่หน่วยบริการที่รับการส่งต่อหรือหน่วยบริการอื่นใด ให้หน่วยบริการนั้นต้องตามจ่ายค่าใช้จ่ายให้แก่หน่วยบริการที่รับการส่งต่อหรือหน่วยบริการอื่นที่ให้บริการแก่ผู้มีสิทธิ หากหน่วยบริการไม่ตามจ่าย หน่วยบริการตกลงยินยอมให้สำนักงานหักค่าใช้จ่ายที่พึงได้ของหน่วยบริการนั้น เพื่อจ่ายให้แก่หน่วยบริการที่รับการส่งต่อหรือหน่วยบริการอื่นได้
            </div>
            <div class="text-1">
                3.3 หน่วยบริการตกลงจัดให้มีบุคลากรประจำหน่วยบริการ ตลอดเวลาที่เปิดทำการและให้บริการสาธารณสุข ตามประเภทของบุคลากรทางการแพทย์ ตามเอกสารแนบท้ายข้อตกลงผนวก 5 ทั้งนี้ ต้องไม่ต่ำกว่ามาตรฐานที่สำนักงานกำหนด
            </div>
            <div class="text-1">
                3.4 ภายหลังจากหน่วยบริการลงนามในสัญญานี้แล้วต่อมาหากหน่วยบริการประสงค์รับดำเนินกิจกรรมหรือแผนงานหรือโครงการ ที่เป็นการให้บริการสาธารณสุขอันอยู่ในชุดสิทธิประโยชน์ หรือขอบเขตการให้บริการสาธารณสุข ตามกฎหมายว่าด้วยหลักประกันสุขภาพแห่งชาติ หรือการดำเนินกิจกรรมหรือแผนงานหรือโครงการที่เป็นการจ่ายชดเชยตามผลงาน ตามกฎ ระเบียบ ประกาศ ข้อบังคับ คู่มือ แนวทางปฏิบัติ ที่คณะกรรมการหรือสำนักงานกำหนด หน่วยบริการไม่ต้องทำนิติกรรมใดๆเพิ่มเติมอีก โดยให้ถือว่ากิจกรรมหรือแผนงานหรือโครงการที่ตอบรับดำเนินงานที่แนบมาเพิ่มเติมนั้นเป็นเงื่อนไขหนึ่งของสัญญาให้บริการสาธารณสุข ตามกฎหมายว่าด้วยหลักประกันสุขภาพ ที่หน่วยบริการได้ลงนามเข้าเป็นคู่สัญญากับสำนักงานไว้แต่แรกแล้ว
            </div>
            <div class="text-1">
                กรณีหน่วยบริการ ตกลงรับดำเนินกิจกรรมหรือแผนงานหรือโครงการของสำนักงานเพิ่มเติม ภายหลังลงนามในสัญญานี้ และกิจกรรมหรือแผนงานหรือโครงการนั้นไม่อยู่ในชุดสิทธิประโยชน์หรือขอบเขตการให้บริการสาธารณสุขตามกฎหมายว่าด้วยหลักประกันสุขภาพแห่งชาติ หากเป็นกรณีวงเงินสนับสนุนไม่เกินสองล้านบาท ให้หน่วยบริการทำหนังสือแสดงความจำนงตอบรับการดำเนินงาน หรือกรณีที่มีวงเงินสนับสนุนเกินสองล้านบาทขึ้นไปให้หน่วยบริการทำสัญญาดำเนินงานตามโครงการ ตามแบบที่สำนักงาน กำหนด
            </div>
            <br />
            <div class="text-1">
                <b>ข้อ 4 การตรวจสอบหน่วยบริการหรือการบริการสาธารณสุขด้านต่างๆ </b>
            </div>
            <div class="text-1">
                4.1   หากสำนักงานได้แต่งตั้งคณะกรรมการตรวจสอบหรือคณะทำงานหรือมอบหมายให้ผู้ปฏิบัติงานของสำนักงาน  หรือองค์กรอื่นหรือบุคคลอื่น เพื่อดำเนินการตรวจสอบหน่วยบริการหรือการจัดบริการและ
                ให้บริการสาธารณสุขให้แก่ผู้มีสิทธิ ให้บุคคลหรือองค์กรที่ได้รับแต่งตั้งหรือมอบหมายดังกล่าว มีสิทธิเข้าไปตรวจการปฏิบัติงาน ตรวจยา เวชภัณฑ์  ครุภัณฑ์  หรือเอกสารของหน่วยบริการได้ตลอดเวลาที่หน่วยบริการเปิดทำการ โดยหน่วยบริการจะต้องอำนวยความสะดวกและให้ความช่วยเหลือในการดำเนินการนั้นตามสมควร และไม่กระทำการใดๆที่เป็นการบ่ายเบี่ยง ขัดขวางการปฏิบัติหน้าที่ ไม่ให้สำเร็จ หรือล่าช้าเกินสมควร หรือทำให้บุคคล คณะบุคคล ที่ได้รับมอบหมายดังกล่าว ได้รับความเสียหาย ต่อเสรีภาพ ชีวิต ร่างกาย หรือทรัพย์สิน
            </div>
            <div class="text-1">
                ทั้งนี้ การที่หน่วยบริการที่ได้รับการตรวจสอบจากคณะกรรมการตรวจสอบ  คณะทำงาน  ผู้ปฏิบัติงานของสำนักงาน  องค์กรอื่นหรือบุคคลอื่นแล้ว ไม่ทำให้หน่วยบริการนั้นพ้นความรับผิดชอบตามสัญญานี้
            </div>
        </div>
        <div class="footer-page size-12">
            <div class="float-left w-50 text-left">(ลงชื่อ)...............................................สำนักงานหรือพยาน</div>
            <div class="float-left w-50 text-right">(ลงชื่อ)...............................................หน่วยบริการ</div>
            <div class="text-center size-10">แบบข้อตกลงให้บริการสาธารณสุข สำนักกฎหมาย  สำนักงานหลักประกันสุขภาพแห่งชาติ</div>
            <div class="float-left w-33 text-left">FM-403 02-003</div>
            <div class="float-left w-33 text-center">หน้า 6/16</div>
            <div class="float-left w-33 text-right">วันที่ 1 ตุลาคม 2562</div>
        </div>
    </div>
</section>

<section>
    <div class="main-page size-16">
        <div class="header-page ">
            <p class="text-right">เลขที่อ้างอิง XXXXXX</p>
        </div>
        <div class="content-page ">
            <br />
            <div class="text-1">
                4.2  บุคคลหรือองค์กรที่ได้รับแต่งตั้งหรือมอบหมายตามข้อ  4.1 มีสิทธิที่จะสั่งให้หน่วยบริการ แก้ไข  เปลี่ยนแปลง  เพิ่มเติม  หรือปฏิบัติให้ถูกต้องตามสัญญานี้ได้ และหน่วยบริการต้องปฏิบัติตามคำสั่ง ภายในระยะเวลาที่สำนักงานกำหนด  ทั้งนี้คณะกรรมการตรวจสอบ  คณะทำงาน ผู้ปฏิบัติงานของสำนักงาน  องค์กรอื่นหรือบุคคลอื่น ไม่มีสิทธิแก้ไขเปลี่ยนแปลงสัญญานี้
            </div>
            <div class="text-1">
                4.3 กรณีบุคคลหรือองค์กรที่ได้รับแต่งตั้งหรือมอบหมายตามข้อ 4.1 ตรวจพบหรือมีเหตุให้เชื่อได้ว่าหน่วยบริการจัดบริการและให้บริการสาธารณสุขไม่ได้มาตรฐานตามที่กำหนด    หรือมีข้อร้องเรียนว่าหน่วยบริการไม่จัดบริการและหรือไม่ให้บริการสาธารณสุข หรือหน่วยบริการไม่ปฏิบัติตามหน้าที่ของหน่วยบริการด้านหนึ่งด้านใดตามสัญญานี้  สำนักงานมีสิทธิให้หน่วยบริการอื่นหรือจ้างสถานบริการอื่น จัดบริการและให้บริการสาธารณสุขด้านนั้นให้แก่ผู้มีสิทธิได้  โดยหักค่าใช้จ่ายเพื่อบริการสาธารณสุขในส่วนที่จะพึงจ่ายให้แก่หน่วยบริการนั้น  เพื่อจ่ายให้แก่หน่วยบริการอื่นหรือสถานบริการอื่นที่จัดบริการและให้บริการสาธารณสุขด้านนั้นแทนได้ด้วย
            </div>
            <br />
            <div class="text-1">
                <b>ข้อ 5 หน้าที่ของหน่วยบริการ</b>
            </div>
            <div class="text-1">
                เพื่อให้ผู้มีสิทธิได้รับบริการสาธารณสุขที่มีมาตรฐานและมีประสิทธิภาพตามที่กำหนดไว้ในกฎหมายว่าด้วยหลักประกันสุขภาพแห่งชาติ  ให้หน่วยบริการมีหน้าที่  ดังต่อไปนี้
            </div>
            <div class="text-1">
                5.1  ปฏิบัติตามมาตรา 45  แห่งพระราชบัญญัติหลักประกันสุขภาพแห่งชาติ พ.ศ. 2558 ในเอกสารแนบท้ายข้อตกลงในผนวก 3 และมีหน้าที่อื่นตามกฎหมายว่าด้วยหลักประกันสุขภาพแห่งชาติ   กฎหมายแพ่ง  กฎหมายอาญา และกฎหมายอื่นที่เกี่ยวข้อง รวมทั้งปฏิบัติตามกฎ ระเบียบ ข้อบังคับ ประกาศ  หลักเกณฑ์  มติ  คำสั่ง  คู่มือหรือแนวปฏิบัติ ของคณะกรรมการ หรือคณะกรรมการควบคุมคุณภาพและมาตรฐาน หรือคณะอนุกรรมการ หรือสำนักงาน ที่กำหนดขึ้นก่อนหรือระหว่างหรือภายหลังที่สัญญานี้มีผลใช้บังคับ และให้ถือว่า กฎ ระเบียบ ข้อบังคับ ประกาศ  หลักเกณฑ์  มติ  คำสั่ง  คู่มือหรือแนวปฏิบัติดังกล่าวนั้น  เป็นส่วนหนึ่งของสัญญานี้ด้วย
            </div>
            <div class="text-1">
                ทั้งนี้ หากหน่วยบริการตกลงกับหน่วยบริการอื่น หรือสถานบริการอื่นเป็นอย่างอื่นที่ขัดหรือแย้ง หรือฝ่าฝืนหน้าที่ของหน่วยบริการในวรรคแรก สำนักงานจะไม่ผูกพันตามข้อความ และเงื่อนไขต่างๆที่หน่วยบริการและหน่วยบริการอื่นหรือสถานบริการอื่นได้ตกลงกันไว้ทุกประการ
            </div>
            <div class="text-1">
                5.2 ให้ถือเป็นหน้าที่ของหน่วยบริการ ที่ต้องตรวจสอบสิทธิของผู้รับบริการ หากพบว่าผู้รับบริการเป็นผู้มีสิทธิตามกฎหมายว่าด้วยหลักประกันสุขภาพแห่งชาติ ต้องแจ้งสิทธิดังกล่าวให้ผู้รับบริการรับทราบ โดยห้ามเรียกเก็บค่าบริการและห้ามกระทำการใดๆที่ชักจูงหรือโน้มน้าวให้ผู้รับบริการสละสิทธิ หรือไม่ประสงค์ใช้สิทธิรับบริการสาธารณสุข ตามสิทธิที่ผู้รับบริการจะได้รับตามกฎหมาย หรือหากพบว่าผู้มีสิทธิเป็นผู้มีสิทธิของหน่วยบริการหรือของเครือข่ายหน่วยบริการไม่ว่ากรณีใดๆ หรือพบว่าเป็นผู้มีสิทธิของหน่วยบริการอื่น แต่เข้ารับบริการในกรณีอุบัติเหตุหรือกรณีเจ็บป่วยฉุกเฉิน หรือกรณีที่มีเหตุสมควร หรือพบว่าเป็นผู้มีสิทธิที่ยังไม่ได้ลงทะเบียน  ห้ามมิให้หน่วยบริการเรียกเก็บค่าใช้จ่ายจากผู้มีสิทธิหรือผู้เกี่ยวข้อง
            </div>

        </div>
        <div class="footer-page size-12">
            <div class="float-left w-50 text-left">(ลงชื่อ)...............................................สำนักงานหรือพยาน</div>
            <div class="float-left w-50 text-right">(ลงชื่อ)...............................................หน่วยบริการ</div>
            <div class="text-center size-10">แบบข้อตกลงให้บริการสาธารณสุข สำนักกฎหมาย  สำนักงานหลักประกันสุขภาพแห่งชาติ</div>
            <div class="float-left w-33 text-left">FM-403 02-003</div>
            <div class="float-left w-33 text-center">หน้า 7/16</div>
            <div class="float-left w-33 text-right">วันที่ 1 ตุลาคม 2562</div>
        </div>
    </div>
</section>

<section>
    <div class="main-page size-16">
        <div class="header-page ">
            <p class="text-right">เลขที่อ้างอิง XXXXXX</p>
        </div>
        <div class="content-page ">
            <br />
            <div class="text-1">
                หากผู้รับบริการได้รับทราบสิทธิของตนแล้ว แต่ไม่ประสงค์จะใช้สิทธิรับบริการสาธารณสุข ตามกฎหมายในครั้งนั้น ให้ผู้รับบริการเขียนหนังสือแสดงเจตนาไม่ขอใช้สิทธิด้วยลายมือตนเองทั้งฉบับไว้เป็นหลักฐาน ทั้งนี้ต้องพิจารณามูลเหตุจูงใจหรือการโน้มน้าวตามวรรคหนึ่งประกอบด้วย และหนังสือแสดงเจตนานั้นผู้รับบริการจะเพิกถอนเมื่อใดก็ได้โดยไม่จำเป็นต้องทำเป็นหนังสือเนื่องจากเป็นสิทธิที่กฎหมายรองรับ
            </div>
            <div class="text-1">
                หากเป็นกรณีที่นอกเหนือจากวรรคหนึ่งและวรรคสอง และหน่วยบริการต้องการเรียกเก็บค่าใช้จ่าย หน่วยบริการต้องอธิบายให้ผู้มีสิทธิหรือผู้เกี่ยวข้องรับทราบรายละเอียดและข้อเท็จจริงเกี่ยวกับการใช้สิทธิ พร้อมทั้งให้ผู้มีสิทธิเขียนหนังสือแสดงเจตนาว่าได้รับทราบคำอธิบายและยินยอมชำระค่าใช้จ่ายไว้เป็นหลักฐานด้วยลายมือของผู้มีสิทธิหรือผู้เกี่ยวข้องด้วยตนเอง ทั้งนี้ ต้องพิจารณามูลเหตุจูงใจหรือการโน้มน้าวผู้มีสิทธิหรือผู้เกี่ยวข้องตามวรรคหนึ่งและวรรคสองประกอบด้วย
            </div>
            <div class="text-1">
                หน่วยบริการต้องจัดเตรียมเตียงและห้องสามัญให้แก่ผู้รับบริการอย่างเพียงพอ หากหน่วยบริการไม่มีเตียง ไม่มีห้องสามัญให้บริการแก่ผู้มีสิทธิและได้จัดให้ผู้มีสิทธิพักในห้องพิเศษเพื่อรอเตียงตามสิทธิ หรือกรณีจัดให้ผู้รับบริการพักในห้องพิเศษโดยมิใช่ความต้องการของผู้รับบริการในขณะที่หน่วยบริการมีเตียง มีห้องสามัญที่เพียงพอ ห้ามหน่วยบริการเรียกเก็บค่าใช้จ่ายจากผู้รับบริการ เว้นแต่ผู้รับบริการแสดงความประสงค์จะพักในห้องพิเศษ ให้หน่วยบริการเรียกเก็บเงินค่าใช้จ่ายเฉพาะค่าห้องพิเศษในส่วนที่เกินจากค่าห้องค่าเตียงสามัญได้เท่านั้น
            </div>
            <div class="text-1">
                5.3 ให้บริการสาธารณสุขแก่ผู้มีสิทธิตลอดเวลาที่เปิดทำการ และให้บริการแก่ผู้มีสิทธิในกรณีอุบัติเหตุ หรือกรณีเจ็บป่วยฉุกเฉิน หรือกรณีมีเหตุสมควร รวมทั้งผู้มีสิทธิตามมาตรา 8 แห่งพระราชบัญญัติหลักประกันสุขภาพแห่งชาติ พ.ศ. 2545
            </div>
            <div class="text-1">
                5.4 ตรวจสอบรายชื่อผู้มีสิทธิในรูปอิเล็กทรอนิกส์ที่ลงทะเบียนเลือกหน่วยบริการ ตามเอกสารแนบท้ายข้อตกลงผนวก 1 ให้เป็นปัจจุบัน  จากแหล่งข้อมูลอิเล็กทรอนิกส์ Web site  ของสำนักงานหลักประกันสุขภาพแห่งชาติ และให้ถือว่าหน่วยบริการทราบจำนวนผู้มีสิทธิดังกล่าวแล้ว
            </div>
            <div class="text-1">
                5.5 ส่งรายงาน ข้อมูล สถิติการให้บริการสาธารณสุขของหน่วยงานบริการ ตามที่สำนักงานกำหนดในเอกสารแนบท้ายข้อตกลงผนวก 8  ภายในสิ้นเดือนของเดือนถัดไป เว้นแต่ข้อมูล OP/PP Individual กำหนดส่งทุกสิ้นเดือน
            </div>
            <div class="text-1">
                5.6  ปรับปรุงและบันทึกข้อมูลพื้นฐานหน่วยบริการและเครือข่ายหน่วยบริการ ตามเอกสารแนบท้ายข้อตกลงผนวก 4 ให้เป็นปัจจุบัน
            </div>
            <div class="text-1">
                5.7 ให้หน่วยบริการที่ให้บริการผู้ป่วยใน ส่งข้อมูลการให้บริการผู้ป่วยในทุกรายตามโปรแกรม E-CLALM ของสำนักงาน ภายใน 30 วัน หลังจากจำหน่ายผู้ป่วย
            </div>
            <div class="text-1">
                5.8 กรณีมีการเปลี่ยนแปลงสถานพยาบาลหรือสถานบริการหรือหน่วยบริการที่ร่วมให้บริการด้านต่างๆจากเดิมที่แจ้งไว้ ในข้อ  3.1 วรรคแรกและหรือวรรคสอง หน่วยบริการมีหน้าที่แจ้งให้สำนักงานทราบ
                โดยเร็ว และหน่วยบริการมีหน้าที่ปิดประกาศประชาสัมพันธ์ให้ผู้มีสิทธิทราบล่วงหน้าไม่น้อยกว่า 15 (สิบห้า)วัน ก่อนการเปลี่ยนแปลงดังกล่าวด้วย
            </div>
            <div class="text-1">

            </div>

        </div>
        <div class="footer-page size-12">
            <div class="float-left w-50 text-left">(ลงชื่อ)...............................................สำนักงานหรือพยาน</div>
            <div class="float-left w-50 text-right">(ลงชื่อ)...............................................หน่วยบริการ</div>
            <div class="text-center size-10">แบบข้อตกลงให้บริการสาธารณสุข สำนักกฎหมาย  สำนักงานหลักประกันสุขภาพแห่งชาติ</div>
            <div class="float-left w-33 text-left">FM-403 02-003</div>
            <div class="float-left w-33 text-center">หน้า 8/16</div>
            <div class="float-left w-33 text-right">วันที่ 1 ตุลาคม 2562</div>
        </div>
    </div>
</section>

<section>
    <div class="main-page size-16">
        <div class="header-page ">
            <p class="text-right">เลขที่อ้างอิง XXXXXX</p>
        </div>
        <div class="content-page ">
            <br />
            <div class="text-1">
                5.9  แจ้งให้สำนักงานทราบล่วงหน้าไม่น้อยกว่า 3 (สาม) เดือน กรณีที่หน่วยบริการจะเปลี่ยนหน่วยบริการที่รับการส่งต่อ  หากหน่วยบริการไม่แจ้งล่วงหน้าตามที่กำหนด สำนักงานมีสิทธิไม่ยินยอมให้เปลี่ยนหน่วยบริการที่รับการส่งต่อได้ อย่างไรก็ตามการเปลี่ยนหน่วยบริการที่รับการส่งต่อ  หน่วยบริการต้องเสียค่าใช้จ่ายตามข้อ 9.3 (1)(ข) ด้วย
            </div>
            <div class="text-1">
                5.10 ติดตั้งป้ายสัญลักษณ์หรือป้ายประชาสัมพันธ์ที่แสดงถึงการเป็นหน่วยบริการในระบบหลักประกันสุขภาพแห่งชาติ โดยใช้วัสดุและรูปแบบของป้าย รวมถึงสถานที่ติดตั้ง ตามที่สำนักงานกำหนด
            </div>
            <div class="text-1">
                กรณีที่หน่วยบริการจะย้ายที่ตั้งใหม่ ให้หน่วยบริการแจ้งเป็นหนังสือมายังสำนักงานก่อนวันที่จะย้ายที่ตั้ง ไม่น้อยกว่า 3 (สาม) เดือน และต้องได้รับความยินยอมเป็นหนังสือจากสำนักงานก่อน เมื่อได้รับความยินยอมจากสำนักงานแล้ว หน่วยบริการต้องปิดประกาศและประชาสัมพันธ์ให้ประชาชนทราบ หากหน่วยบริการไม่แจ้งล่วงหน้าตามที่กำหนด สำนักงานขอสงวนสิทธิที่จะไม่ยินยอมให้ย้ายที่ตั้งใหม่ได้ และหากเกิดความเสียหายใดๆที่เกิดจากการที่หน่วยบริการย้ายที่ตั้งใหม่หน่วยบริการต้องรับผิดชอบความเสียหายที่เกิดขึ้นทั้งสิ้นโดยไม่โต้แย้งใดๆ
            </div>
            <div class="text-1">
                ทั้งนี้หากหน่วยบริการฝ่าฝืนข้อ 5.1 ถึงข้อ 5.10 สำนักงานมีสิทธิชะลอการจ่ายเงินและหรือหักค่าใช้จ่ายตามข้อ 9 ได้ด้วย
            </div>
            <div class="text-1">
                5.11 ให้หน่วยบริการที่รับการส่งต่อเฉพาะทางหรือเฉพาะด้าน มีหน้าที่ตามข้อ 5.1 และข้อ 3.1 (3) วรรคสี่
            </div>
            <br />
            <div class="text-1">
                <b>ข้อ 6 ค่าใช้จ่ายเพื่อบริการสาธารณสุขของหน่วยบริการ</b>
            </div>
            <div class="text-1">
                6.1 หน่วยบริการประจำ มีสิทธิได้รับค่าใช้จ่ายเพื่อบริการสาธารณสุขในลักษณะเหมาจ่ายรายหัวและหรือค่าใช้จ่ายเพื่อบริการสาธารณสุขอื่นจากกองทุน หรือจากสำนักงานหรือจากหน่วยบริการอื่น  เพื่อให้บริการสาธารณสุขแก่ผู้มีสิทธิ  ตามประเภทของหน่วยบริการ ในข้อ 3.1 (1)
            </div>
            <div class="text-1">
                ค่าใช้จ่ายเพื่อบริการสาธารณสุขที่หน่วยบริการประจำมีสิทธิได้รับตลอดอายุของข้อตกลงนี้ ซึ่งคำนวณจากจำนวนผู้มีสิทธิคูณอัตราค่าใช้จ่ายรายหัวต่อผู้มีสิทธิหนึ่งคนตามที่คณะกรรมการกำหนด   และสำนักงานจะจ่ายค่าใช้จ่ายเพื่อบริการสาธารณสุขให้แก่หน่วยบริการต่อเมื่อสำนักงานได้ตรวจสอบความถูกต้องจำนวนผู้มีสิทธิตามเอกสารแนบท้ายข้อตกลงผนวก 1 เรียบร้อยแล้ว
            </div>
            <div class="text-1">
                ทั้งนี้ค่าใช้จ่ายรายหัวที่หน่วยบริการได้รับจริง ต้องเป็นไปตามที่คณะกรรมการปรับเพิ่มหรือลดตามความแตกต่างของโครงสร้างอายุ  กลุ่มผู้รับบริการ  ภารกิจของหน่วยบริการและหรือขนาดของพื้นที่บริการที่หน่วยบริการรับผิดชอบและหรือตามที่คณะกรรมการหรือสำนักงานกำหนด
            </div>
            <div class="text-1">
                6.2 หน่วยบริการปฐมภูมิ  มีสิทธิได้รับค่าใช้จ่ายเพื่อบริการสาธารณสุขจากหน่วยบริการประจำหรือจากกองทุนหรือจากสำนักงาน ตามที่คณะกรรมการหรือสำนักงานกำหนด
            </div>
            <div class="text-1">
                6.3  หน่วยบริการที่รับการส่งต่อ  มีสิทธิได้รับค่าใช้จ่ายเพื่อบริการสาธารณสุขจากหน่วยบริการประจำ
                หรือจากกองทุน ตามที่คณะกรรมการหรือสำนักงานกำหนด
            </div>
        </div>
        <div class="footer-page size-12">
            <div class="float-left w-50 text-left">(ลงชื่อ)...............................................สำนักงานหรือพยาน</div>
            <div class="float-left w-50 text-right">(ลงชื่อ)...............................................หน่วยบริการ</div>
            <div class="text-center size-10">แบบข้อตกลงให้บริการสาธารณสุข สำนักกฎหมาย  สำนักงานหลักประกันสุขภาพแห่งชาติ</div>
            <div class="float-left w-33 text-left">FM-403 02-003</div>
            <div class="float-left w-33 text-center">หน้า 9/16</div>
            <div class="float-left w-33 text-right">วันที่ 1 ตุลาคม 2562</div>
        </div>
    </div>
</section>

<section>
    <div class="main-page size-16">
        <div class="header-page ">
            <p class="text-right">เลขที่อ้างอิง XXXXXX</p>
        </div>
        <div class="content-page ">
            <br />
            <div class="text-1">
                6.4 สำหรับการให้บริการกรณีอุบัติเหตุ  หรือกรณีเจ็บป่วยฉุกเฉิน  หรือกรณีมีเหตุสมควร หรือกรณีที่มีค่าใช้จ่ายสูง  หรือกรณีอื่นใด  ให้ได้รับค่าใช้จ่ายตามที่คณะกรรมการหรือสำนักงานกำหนด
            </div>
            <div class="text-1">
                6.5  หน่วยบริการร่วมให้บริการ  มีสิทธิได้รับค่าใช้จ่ายเพื่อบริการสาธารณสุขจากหน่วยบริการประจำ  ตามข้อตกลงระหว่างหน่วยบริการร่วมให้บริการกับหน่วยบริการประจำ หรือตามที่คณะกรรมการหรือสำนักงานกำหนด
            </div>
            <div class="text-1">
                6.6  หน่วยบริการมีสิทธิได้รับค่าใช้จ่ายอื่นๆเพิ่มเติมได้  ตามข้อตกลง ข้อ 3.4 แล้วแต่กรณี
            </div>
            <div class="text-1">
                6.7 เพื่อให้การจ่ายค่าใช้จ่ายเพื่อบริการสาธารณสุขมีความรวดเร็วและหรือเพื่อไม่ให้หน่วยบริการขาดสภาพคล่องในการจัดบริการสาธารณสุขแก่ผู้มีสิทธิ  สำนักงานอาจจ่ายค่าใช้จ่ายเพื่อบริการสาธารณสุขล่วงหน้าเป็นงวดๆให้หน่วยบริการ  แต่ภายหลังจากที่สำนักงานได้ตรวจสอบความถูกต้องแล้ว ถ้าค่าใช้จ่ายไม่ครบตามสิทธิที่ได้รับ  สำนักงานจะจ่ายให้ครบถ้วน แต่หากสำนักงานตรวจสอบพบว่าจ่ายค่าใช้จ่ายล่วงหน้าและหรือค่าใช้จ่ายเพื่อบริการสาธารณสุข แต่ละงวดหรือแต่ละครั้งเกินกว่าสิทธิที่หน่วยบริการพึงได้รับจริง สำนักงานสงวนสิทธิหรือมีสิทธิหักคืนจากค่าใช้จ่ายในงวดถัดไปได้จนครบถ้วนตามจำนวน
            </div>
            <div class="text-1">
                หลักเกณฑ์การคำนวณการจ่ายค่าใช้จ่ายเพื่อบริการสาธารณสุขให้เป็นไปตามที่คณะกรรมการหรือคณะอนุกรรมการหลักประกันสุขภาพแห่งชาติระดับพื้นที่ หรือสำนักงานกำหนด
            </div>
            <div class="text-1">
                6.8 หน่วยบริการยินยอมให้สำนักงานทำหน้าที่หักเงินค่าใช้จ่ายเพื่อบริการสาธารณสุขให้กับหน่วยบริการอื่น ( Clearing House) ในกรณีที่ผู้มีสิทธิของหน่วยบริการเข้ารับบริการ ณ หน่วยบริการอื่นหรือสถานบริการอื่นตามสิทธิที่บัญญัติไว้ในกฎหมายว่าด้วยหลักประกันสุขภาพแห่งชาติ
            </div>
            <div class="text-1">
                กรณีที่หน่วยบริการมีหนี้ค่าใช้จ่ายเพื่อบริการสาธารณสุขที่ค้างชำระแก่หน่วยบริการอื่น อยู่ก่อนที่ข้อตกลงนี้มีผลใช้บังคับ  สำนักงานมีสิทธิหักเงินที่พึงจ่ายให้หน่วยบริการนั้น เพื่อจ่ายให้กับหน่วยบริการอื่นได้
            </div>
            <div class="text-1">
                6.9 สำหรับในพื้นที่กรุงเทพมหานคร คณะกรรมการ หรือคณะอนุกรรมการ หรือสำนักงาน มีสิทธิกันเงินค่าใช้จ่ายเพื่อบริการสาธารณสุขที่พึงจ่ายให้หน่วยบริการตามที่กำหนดได้ โดยกันเงินค่าใช้จ่ายไว้ที่สำนักงานหลักประกันสุขภาพแห่งชาติเขต 13 กรุงเทพมหานคร หรือสำนักงานหลักประกันสุขภาพแห่งชาติเขตพื้นที่กรุงเทพมหานคร  เพื่อสำหรับใช้ในวัตถุประสงค์แต่ละกรณี ดังต่อไปนี้
            </div>
            <div class="text-2">
                (1) เพื่อจ่ายให้หน่วยบริการหรือสถานบริการสาธารณสุข ดังนี้
            </div>
            <div class="text-3">
                ก. ผู้ป่วยกรณีอุบัติเหตุ กรณีเจ็บป่วยฉุกเฉิน เครือข่ายเดียวกันในกรุงเทพมหานคร ซึ่งเครือข่ายเดียวกันในที่นี้หมายถึงหน่วยบริการประจำที่ส่งต่อโรงพยาบาลตามโครงการพัฒนาระบบบริการเพื่อลดความแออัดผู้ป่วยนอก
            </div>
            <div class="text-3">
                ข. กรณีส่งต่อผู้ป่วยนอก (OP refer)
            </div>
            <div class="text-3">
                ค. จ่ายค่าบริการผู้ป่วยนอก กรณีพิการ
            </div>
            <div class="text-2">
                (2) กรณีผู้ป่วยเรื้อรังเดิมที่รับบริการรักษาพยาบาลที่โรงพยาบาลตามโครงการพัฒนาระบบบริการเพื่อลดความแออัดผู้ป่วยนอกก่อนที่ข้อตกลงนี้มีผลใช้บังคับ
            </div>
            <div class="text-1">

            </div>
            <div class="text-1">

            </div>
            <div class="text-1">

            </div>

        </div>
        <div class="footer-page size-12">
            <div class="float-left w-50 text-left">(ลงชื่อ)...............................................สำนักงานหรือพยาน</div>
            <div class="float-left w-50 text-right">(ลงชื่อ)...............................................หน่วยบริการ</div>
            <div class="text-center size-10">แบบข้อตกลงให้บริการสาธารณสุข สำนักกฎหมาย  สำนักงานหลักประกันสุขภาพแห่งชาติ</div>
            <div class="float-left w-33 text-left">FM-403 02-003</div>
            <div class="float-left w-33 text-center">หน้า 10/16</div>
            <div class="float-left w-33 text-right">วันที่ 1 ตุลาคม 2562</div>
        </div>
    </div>
</section>

<section>
    <div class="main-page size-16">
        <div class="header-page ">
            <p class="text-right">เลขที่อ้างอิง XXXXXX</p>
        </div>
        <div class="content-page ">
            <br />
            <div class="text-1">
                (3) หักไม่เกินร้อยละ 1 (หนึ่ง) ของงบประมาณเงินเหมาจ่ายรายหัวที่จัดสรรให้แก่หน่วยบริการสำหรับการกำกับเชิงพัฒนาและการแก้ไขปัญหาระบบส่งต่อตามโครงการพัฒนาระบบเพื่อลดความแออัดผู้ป่วยนอก
            </div>
            <div class="text-1">
                ภายหลังจากลงนามในข้อตกลงนี้แล้ว ต่อมาคณะกรรมการ หรือคณะอนุกรรมการ หรือสำนักงาน ใช้สิทธิกันเงินค่าใช้จ่ายเพื่อบริการสาธารณสุขที่พึงจ่ายให้หน่วยบริการตามที่กำหนดได้ โดยกันเงินค่าใช้จ่ายไว้ที่สำนักงานหลักประกันสุขภาพแห่งชาติเขต 13 กรุงเทพมหานคร หรือสำนักงานหลักประกันสุขภาพแห่งชาติเขตพื้นที่กรุงเทพมหานคร  เพื่อสำหรับใช้ในวัตถุประสงค์แต่ละกรณีเพิ่มเติม นอกเหนือจาก (1) ถึง (3) ตามวรรคหนึ่ง และหน่วยบริการตกลงยินยอมปฏิบัติตาม กฎ ระบียบ ข้อบังคับ ประกาศ มติ คำสั่ง หลักเกฑ์ คู่มือหรือแนวทางปฏิบัติ และเงื่อนไข ที่คณะกรรมการ หรือคณะอนุกรรมการ หรือสำนักงานกำหนด
            </div>
            <br />
            <div class="text-1">
                <b>ข้อ 7  การรับเงินค่าบริการทางการแพทย์ที่เบิกจ่ายในลักษณะงบลงทุน</b>
            </div>
            <div class="text-1">
                หน่วยบริการ มีสิทธิได้รับเงินค่าบริการทางการแพทย์ที่เบิกจ่ายในลักษณะงบลงทุนหรือที่เรียกชื่อเป็นอย่างอื่น เป็นค่าใช้จ่าย สนับสนุน และส่งเสริมการจัดบริการสาธารณสุข ซึ่งเป็นการเบิกจ่ายในลักษณะงบลงทุน โดยขอบเขตบริการหรือการจ่ายให้หน่วยบริการเป็นไปตาม กฎ ระเบียบ ข้อบังคับ ประกาศ มิติ คำสั่ง หลักเกณฑ์ เงื่อนไข คู่มือหรือแนวปฏิบัติ ที่เกี่ยวกับหลักเกณฑ์การดำเนินงานและการบริหารจัดการกองทุนหลักประกันสุขภาพแห่งชาติ หรือที่เรียกชื่อเป็นอย่างอื่น ตามที่คณะกรรมการ หรือสำนักงาน กำหนด ในแต่ละปีงบประมาณ
            </div>
            <div class="text-1">
                ภายในระยะเวลา 1 (หนึ่ง) ปี นับแต่วันที่ได้รับจัดสรรในแต่ละปีงบประมาณ หากหน่วยบริการไม่ถูกเพิกถอนการเป็นหน่วยบริการ หรือไม่กระทำผิดเงื่อนไขการรับเงินค่าบริการทางการแพทย์ที่เบิกจ่ายในลักษณะงบลงทุนในปีงบประมาณนั้นๆ หน่วยบริการไม่ต้องคืนเงินในส่วนนี้ให้แก่สำนักงาน
            </div>
            <div class="text-1">
                ในกรณีหน่วยบริการผิดเงื่อนไขแห่งข้อตกลง หรือถูกเพิกถอนการขึ้นทะเบียนหรือถูกยกเลิกการขึ้นทะเบียนเป็นหน่วยบริการ หรือมีเหตุอื่นใดที่ทำให้หน่วยบริการไม่ได้เป็นหน่วยบริการ หน่วยบริการต้องคืนเงินที่ได้รับจัดสรรค่าบริการทางการแพทย์ที่เบิกจ่ายในลักษณะงบลงทุนตามวรรคหนึ่ง ภายใต้อายุการใช้งานปรับลดด้วยอัตรา ค่าเสื่อมราคาของครุภัณฑ์ พร้อมด้วยดอกเบี้ยในอัตราร้อยละ 15 (สิบห้า) ต่อปี ให้แก่สำนักงานภายใน 25 (สิบห้า) วัน นับถัดจากวันที่มีเหตุให้คืนเงิน
            </div>
            <div class="text-1">
                กรณีที่หน่วยบริการไม่คืนเงินภายในกำหนดตามวรรคสาม หน่วยบริการยินยอมให้สำนักงานคิดดอกเบี้ยผิดนัดได้ในอัตราร้อยละ 15 (สิบห้า) ต่อปี นับแต่วันที่ผิดนัด และให้สำนักงานมีสิทธิหักค่าใช้จ่ายเพื่อบริการสาธารณสุขที่หน่วยบริการพึงได้รับจากสำนักงานทุกกรณี และหรือไม่ว่ากรณีใดๆ ได้ทั้งสิ้น เพื่อชำระหนี้ได้ด้วย
            </div>
            <div class="text-1">

            </div>
            <div class="text-1">

            </div>
            <div class="text-1">

            </div>

        </div>
        <div class="footer-page size-12">
            <div class="float-left w-50 text-left">(ลงชื่อ)...............................................สำนักงานหรือพยาน</div>
            <div class="float-left w-50 text-right">(ลงชื่อ)...............................................หน่วยบริการ</div>
            <div class="text-center size-10">แบบข้อตกลงให้บริการสาธารณสุข สำนักกฎหมาย  สำนักงานหลักประกันสุขภาพแห่งชาติ</div>
            <div class="float-left w-33 text-left">FM-403 02-003</div>
            <div class="float-left w-33 text-center">หน้า 11/16</div>
            <div class="float-left w-33 text-right">วันที่ 1 ตุลาคม 2562</div>
        </div>
    </div>
</section>

<section>
    <div class="main-page size-16">
        <div class="header-page ">
            <p class="text-right">เลขที่อ้างอิง XXXXXX</p>
        </div>
        <div class="content-page ">
            <br />
            <div class="text-1">
                <b>ข้อ 8  กำหนดเวลาการให้บริการสาธารณสุข</b>
            </div>
            <div class="text-1">
                ให้ยกเลิกข้อตกลงให้บริการสาธารณสุข ตามกฎหมายว่าด้วยหลักประกันสุขภาพแห่งชาติ ระหว่างสำนักงาน กับหน่วยบริการที่มีอยู่ก่อนหน้านี้โดยให้ใช้ข้อตกลงนี้แทน และให้ข้อตกลงนี้เริ่มกำหนดระยะเวลาการให้บริการสาธารณสุขต่อเนื่องกัน  ดังต่อไปนี้
            </div>
            <div class="text-1">
                8.1  หน่วยบริการตกลงเริ่มให้บริการสาธารณสุขแก่ผู้มีสิทธิ  ตั้งแต่วันที่ {75@71} เดือน {76@72} พ.ศ. {77@73} สิ้นสุดวันที่ {78@74} เดือน {79@75} พ.ศ. {80@76}
            </div>
            <div class="text-1">
                หน่วยบริการจะขอถอนตัวหรือบอกเลิกข้อตกลงก่อนครบกำหนดระยะเวลาปฏิบัติตามข้อตกลงดังกล่าวในวรรคหนึ่งไม่ได้ เว้นแต่จะได้รับความยินยอมเป็นหนังสือจากสำนักงาน
            </div>
            <div class="text-1">
                8.2 โดยปกติเมื่อถึงกำหนดเวลาสิ้นสุดข้อตกลงตามข้อ 8.1 วรรคหนึ่ง หากสำนักงานหรือหน่วยบริการมิได้บอกเลิกข้อตกลง ให้ถือว่าระยะเวลาการให้บริการสาธารณสุขตามข้อตกลงนี้ ขยายออกไปอีกทุกๆหนึ่งปีงบประมาณ โดยให้ข้อตกลงมีผลบังคับใช้ต่อไป เริ่มต้นนับตั้งแต่วันที่ 1 ตุลาคม ถึง วันที่ 30 กันยายน  ของแต่ละปีงบประมาณนั้น เป็นต้นไปทุกๆปี เว้นแต่กรณีที่หน่วยบริการถูกเพิกถอน หรือถูกยกเลิกการเป็นหน่วยบริการ หรือถูกสำนักงานบอกเลิกข้อตกลงก่อนครบกำหนดเวลาตามข้อ 8.1  ให้ข้อตกลงนี้สิ้นสุดลง ตามประกาศของสำนักงาน
            </div>
            <div class="text-1">
                8.3 ในกรณีผู้มีสิทธิได้เข้าทำการรักษาพยาบาลจากหน่วยบริการตั้งแต่เวลาที่ข้อตกลงนี้มีผลใช้บังคับต่อเนื่องจนถึงวันสิ้นสุดข้อตกลงตามข้อ 8.1 แต่ปรากฏว่าการให้บริการสาธารณสุขในครั้งนั้นยังไม่สิ้นสุดการรักษา หน่วยบริการยังคงต้องมีหน้าที่ให้บริการสาธารณสุขแก่ผู้มีสิทธิต่อไปจนสิ้นสุดการรักษา
            </div>
            <div class="text-1">
                การวินิจฉัยว่าการให้บริการสาธารณสุขแก่ผู้มีสิทธิได้สิ้นสุดแล้วหรือไม่  แพทย์ผู้ให้การรักษาพยาบาลของหน่วยบริการจะต้องใช้ความรู้และวิจารณญาณตามหลักวิชาการทางการแพทย์ในการวินิจฉัยอย่างเต็มความสามารถ เช่นเดียวกับที่หน่วยบริการได้ให้บริการสาธารณสุขแก่ผู้ป่วยหรือผู้ได้รับการตรวจวินิจฉัยคนอื่น ซึ่งได้เข้าทำการรักษาพยาบาลในหน่วยบริการนั้น
            </div>
            <div class="text-1">
                8.4 การที่หน่วยบริการยังคงให้บริการสาธารณสุขแก่ผู้มีสิทธิจนสิ้นสุดการรักษาในครั้งนั้นไม่เป็นเหตุให้หน่วยบริการจะอ้างสิทธิใดๆ ในการต่ออายุข้อตกลงนี้หรือเพื่อให้สำนักงานเข้าทำข้อตกลงเพื่อให้ผู้มีสิทธิเข้าทำการรับบริการสาธารณสุขในหน่วยบริการนั้นต่อไป แต่ประการใด
            </div>
            <br />
            <div class="text-1">
                <b>ข้อ 9  การให้สถานบริการอื่นรับช่วงการให้บริการสาธารณสุข</b>
            </div>
            <div class="text-1">
                9.1 หน่วยบริการต้องไม่เอาการให้บริการสาธารณสุขทั้งหมดหรือแต่บางส่วนไปให้สถานบริการอื่นรับช่วงการให้บริการอีกทอดหนึ่ง เว้นแต่การให้บริการสาธารณสุข แต่บางส่วนจะได้รับความยินยอมเป็นหนังสือจากสำนักงานแล้ว แต่ทั้งนี้การให้สถานบริการอื่นรับช่วงการให้บริการดังกล่าวต้องเป็นไปเพื่อประโยชน์ของผู้มีสิทธิและเพื่อให้ผู้มีสิทธิได้รับบริการสาธารณสุขที่ดียิ่งขึ้นเท่านั้น
            </div>
            <div class="text-1">
                9.2 กรณีให้สถานบริการอื่นรับช่วงการให้บริการสาธารณสุขแต่บางส่วนดังกล่าวตามข้อ 9.1 ไม่เป็นเหตุให้หน่วยบริการหลุดพ้นจากความรับผิด หรือพันธะหน้าที่ตามข้อตกลงนี้ และหน่วยบริการยังคงต้องรับผิดในความผิดและความประมาทเลินเล่อของสถานบริการหรือตัวแทนหรือลูกจ้างของสถานบริการที่รับช่วงการให้บริการสาธารณสุขทุกประการ
            </div>

        </div>
        <div class="footer-page size-12">
            <div class="float-left w-50 text-left">(ลงชื่อ)...............................................สำนักงานหรือพยาน</div>
            <div class="float-left w-50 text-right">(ลงชื่อ)...............................................หน่วยบริการ</div>
            <div class="text-center size-10">แบบข้อตกลงให้บริการสาธารณสุข สำนักกฎหมาย  สำนักงานหลักประกันสุขภาพแห่งชาติ</div>
            <div class="float-left w-33 text-left">FM-403 02-003</div>
            <div class="float-left w-33 text-center">หน้า 12/16</div>
            <div class="float-left w-33 text-right">วันที่ 1 ตุลาคม 2562</div>
        </div>
    </div>
</section>

<section>
    <div class="main-page size-16">
        <div class="header-page ">
            <p class="text-right">เลขที่อ้างอิง XXXXXX</p>
        </div>
        <div class="content-page ">
            <br />
            <div class="text-1">
                9.3  หากหน่วยบริการไม่ปฏิบัติตามข้อ 9.1 สำนักงานมีสิทธิบอกเลิกข้อตกลงหรือระงับการจ่ายค่าใช้จ่ายเพื่อบริการสาธารณสุขตามข้อ 6 ไว้ก่อน จนกว่าหน่วยบริการจะได้ปฏิบัติให้ถูกต้องตามข้อตกลงนี้
            </div>
            <br />
            <div class="text-1">
                <b>ข้อ 10 ความรับผิดในความบกพร่อง การบอกเลิกข้อตกลงและการหักค่าใช้จ่ายเพื่อบริการสาธารณสุข</b>
            </div>
            <div class="text-1">
                10.1  กรณีหน่วยบริการเรียกเก็บเงินค่าบริการหรือค่าใช้จ่ายใดๆ ซึ่งผู้มีสิทธิพึงควรได้รับ ตามสิทธิประโยชน์ ประเภทและขอบเขตของบริการสาธารณสุข หรือตามเงื่อนไขของข้อตกลงนี้ หรือหน่วยบริการปฏิบัติโดยฝ่าฝืนข้อตกลงนี้ หรือบทบัญญัติแห่งกฎหมาย ผู้มีสิทธิสามารถเรียกเงินคืนได้ หรือเมื่อคณะกรรมการควบคุมคุณภาพและมาตรฐานบริการสาธารณสุข มีคำสั่งให้หน่วยบริการคืนเงิน หน่วยบริการต้องคืนเงินให้ผู้มีสิทธิ โดยไม่ชักช้า พร้อมดอกเบี้ยร้อยละ 15 (สิบห้า) ต่อปี นับแต่วันที่หน่วยบริการเก็บค่าบริการนั้นจนถึงวันที่จ่ายเงินคืน หากหน่วยบริการไม่คืนเงิน สำนักงานสงวนสิทธิหรือมีสิทธิหักเงินต้นพร้อมดอกเบี้ย จากค่าใช้จ่ายเพื่อบริการสาธารณสุขที่พึงจะจ่ายให้หน่วยบริการ เพื่อคืนให้แก่ผู้มีสิทธิได้
            </div>
            <div class="text-1">
                10.2 กรณีหน่วยบริการละทิ้งงาน หรือถูกสั่งปิดสถานบริการ หรือเพิกเฉยไม่ปฏิบัติตามคำสั่งของคณะกรรมการ  หรือคณะกรรมการควบคุมคุณภาพและมาตรฐาน หรือสำนักงาน ไม่ว่าด้วยเหตุใดๆก็ตาม  หรือกรณีที่หน่วยบริการผิดข้อตกลงข้อหนึ่งข้อใด  เว้นแต่ข้อ 10.3 สำนักงานสงวนสิทธิหรือมีสิทธิหักค่าใช้จ่ายเพื่อบริการสาธารณสุขที่พึงจ่ายให้หน่วยบริการ  เป็นรายวันนับแต่วันที่มีหนังสือแจ้งให้หน่วยบริการปฏิบัติให้ถูกต้องตามข้อตกลงนี้ โดยหักในอัตราร้อยละ 0.10 (ศูนย์จุดหนึ่งศูนย์) ของค่าใช้จ่ายเพื่อบริการสาธารณสุขตามข้อ 6 (1) จนถึงวันที่หน่วยบริการได้ปฏิบัติให้ถูกต้องตามข้อตกลงนี้  หรือสำนักงานใช้สิทธิบอกเลิกข้อตกลง  การที่สำนักงานไม่ใช้สิทธิบอกเลิกข้อตกลงไม่เป็นเหตุให้หน่วยบริการนั้นพ้นจากความรับผิดตามข้อตกลงนี้
            </div>
            <div class="text-1">
                10.3 สำนักงานสงวนสิทธิหรือมีสิทธิหักค่าใช้จ่ายเพื่อบริการสาธารณสุขที่พึงจ่ายให้หน่วยบริการ
                ในกรณีหน่วยบริการไม่ปฏิบัติตามข้อตกลงนี้ หรือหน่วยบริการดำเนินการ ดังต่อไปนี้
            </div>
            <div class="text-2">
                (1) หน่วยบริการย้ายสถานที่ตั้ง หรือเปลี่ยนหน่วยบริการที่รับการส่งต่อในแต่ละครั้งสำนักงานมีสิทธิหักค่าใช้จ่ายหรือให้หน่วยบริการนำเงินมาชำระ  เพื่อเป็นค่าดำเนินการใดๆที่สำนักงานจำเป็นต้องจ่ายในอัตราดังนี้
            </div>
            <div class="text-3">
                (ก) ย้ายสถานที่ตั้ง   หักค่าใช้จ่ายในอัตรา  4  (สี่) บาท ต่อผู้มีสิทธิหนึ่งคน
            </div>
            <div class="text-3">
                (ข) เปลี่ยนหน่วยบริการที่รับการส่งต่อ  หักค่าใช้จ่ายในอัตรา  7 (เจ็ด) บาท ต่อผู้มีสิทธิหนึ่งคน
            </div>
            <div class="text-2">
                (2) หน่วยบริการเรียกเก็บค่าใช้จ่ายเพื่อบริการสาธารณสุขจากสำนักงานเกินจริงหรืออันเป็นเท็จ  เป็นการฝ่าฝืน กฎ ระเบียบ ข้อบังคับ ประกาศ ที่คณะกรรมการหรือสำนักงานกำหนด สำนักงานจะหักค่าใช้จ่ายที่เรียกเก็บเกินจริงหรืออันเป็นเท็จดังกล่าวคืนได้ทันทีหรือหักในงวดถัดไป
            </div>
            <div class="text-2">
                (3) หน่วยบริการไม่เปิดทำการและให้บริการตามวันเวลาที่แจ้งไว้ตามข้อตกลง ข้อ 3.2
            </div>
            <div class="text-2">
                (4) สำนักงานเข้าตรวจสอบหน่วยบริการตามข้อตกลงในข้อ 4 แล้วผลการตรวจสอบไม่พบผู้ให้บริการตามข้อตกลงนี้  ในข้อ 3.3
            </div>
        </div>
        <div class="footer-page size-12">
            <div class="float-left w-50 text-left">(ลงชื่อ)...............................................สำนักงานหรือพยาน</div>
            <div class="float-left w-50 text-right">(ลงชื่อ)...............................................หน่วยบริการ</div>
            <div class="text-center size-10">แบบข้อตกลงให้บริการสาธารณสุข สำนักกฎหมาย  สำนักงานหลักประกันสุขภาพแห่งชาติ</div>
            <div class="float-left w-33 text-left">FM-403 02-003</div>
            <div class="float-left w-33 text-center">หน้า 12/16</div>
            <div class="float-left w-33 text-right">วันที่ 1 ตุลาคม 2562</div>
        </div>
    </div>
</section>

<section>
    <div class="main-page size-16">
        <div class="header-page ">
            <p class="text-right">เลขที่อ้างอิง XXXXXX</p>
        </div>
        <div class="content-page ">
            <br />
            <div class="text-2">
                (5) ลงทะเบียนเลือกหน่วยบริการให้แก่ผู้มีสิทธิ โดยพลการ โดยใช้กลฉ้อฉล หรือไม่ได้รับความยินยอมจากผู้มีสิทธิ ซึ่งขัดกับ กฎ ระเบียบ ข้อบังคับ ประกาศ มติ คำสั่ง คู่มือ เงื่อนไข หรือแนวทางปฏิบัติ ที่คณะกรรมการหรือสำนักงานกำหนด
            </div>
            <div class="text-2">
                (6) หน่วยบริการไม่รับลงทะเบียนหรือไม่รับคำขอลงทะเบียนหรือคำขอเปลี่ยนแปลงหน่วยบริการประจำ ของผู้มีสิทธิที่ยื่นคำขอตามเงื่อนไขในผนวก 7
            </div>
            <div class="text-1">
                กรณีตาม (2) ถึง (5) สำนักงานมีสิทธิหักค่าใช้จ่ายที่พึงจ่ายให้หน่วยบริการในอัตราไม่เกินร้อยละ  50 ของค่าใช้จ่ายที่พึงจ่ายให้หน่วยบริการในเดือนที่พบเหตุนั้นๆ  จนกว่าจะมีหลักเกณฑ์การหักค่าใช้จ่ายเพื่อบริการสาธารณสุขใหม่ ตามที่คณะกรรมการหรือสำนักงานกำหนด
            </div>
            <div class="text-1">
                10.4 ไม่ถ่ายโอนข้อมูล ไม่ส่งข้อมูล สถิติ  และรายงาน  ภายในเวลาที่กำหนดตามข้อ 5.5 และข้อ 5.7 สำนักงานมีสิทธิชะลอการจ่ายเงินค่าใช้จ่ายเพื่อบริการสาธารณสุขในเดือนนั้นๆ ที่ตรวจพบจนถึงวันที่ที่ได้ดำเนินการตามเงื่อนไขของข้อตกลงนี้ถูกต้องครบถ้วนแล้ว
            </div>
            <div class="text-1">
                10.5  หากหน่วยบริการให้บริการสาธารณสุขแก่ผู้มีสิทธิไม่ถูกต้องตามหลักวิชาการทางการแพทย์ หรือหลักวิชาการทางสาธารณสุข หรือเกิดความเสียหายใดๆอันเนื่องมาจากความบกพร่องของหน่วยบริการจากการใช้วัสดุทางการแพทย์หรือเวชภัณฑ์หรืออุปกรณ์ในการรักษาไม่ได้มาตรฐาน หรือแพทย์ พยาบาล เจ้าหน้าที่สาธารณสุข หรือบุคลากรของหน่วยบริการ ปฏิบัติหน้าที่ด้วยความประมาทเลินเล่อ หรือเกิดเพราะเหตุสุดวิสัยอันมิใช่ความผิดของสำนักงาน  หน่วยบริการจะต้องรับผิดชอบค่าเสียหายต่างๆ ที่เกิดขึ้นกับผู้มีสิทธิเองทั้งหมด  โดยไม่เกี่ยวข้องและไม่เรียกร้องค่าเสียหายใดๆจากสำนักงานทั้งสิ้น
            </div>
            <div class="text-1">
                10.6 สำนักงานไม่ต้องรับผิดชอบในความเสียหายใดๆ ตามข้อ 10.5 อันเกิดขึ้นกับหน่วยบริการ กับคนงาน หรือพนักงาน ผู้ปฏิบัติงาน หรือบุคลากรของหน่วยบริการที่ปฏิบัติหน้าที่ตามข้อตกลงนี้ ทุกประการ
            </div>
            <div class="text-1">
                10.7 ในกรณีที่ข้อตกลงนี้สิ้นสุดลงเพราะเหตุที่หน่วยบริการถอนตัวหรือบอกเลิกข้อตกลงก่อนกำหนดเวลาตาม 8.1 หรือกรณีที่หน่วยบริการถูกเพิกถอนหรือถูกยกเลิกการขึ้นทะเบียนเป็นหน่วยบริการตามข้อ 8.2 หรือกรณีสำนักงานใช้สิทธิบอกเลิกข้อตกลงตามข้อ 9.3 หรือข้อ 10 สำนักงาน มีสิทธิ ดังต่อไปนี้
            </div>
            <div class="text-2">
                (1) ระงับหรือชะลอการจ่ายค่าใช้จ่ายเพื่อบริการสาธารณสุขในงวดต่อๆไป
            </div>
            <div class="text-2">
                (2) เรียกร้องค่าเสียหายอันพึงมีจากหน่วยบริการ โดยมีสิทธิหักจากค่าใช้จ่ายเพื่อบริการสาธารณสุขที่พึงจ่ายให้หน่วยบริการได้ด้วย
            </div>
            <div class="text-1">

            </div>

        </div>
        <div class="footer-page size-12">
            <div class="float-left w-50 text-left">(ลงชื่อ)...............................................สำนักงานหรือพยาน</div>
            <div class="float-left w-50 text-right">(ลงชื่อ)...............................................หน่วยบริการ</div>
            <div class="text-center size-10">แบบข้อตกลงให้บริการสาธารณสุข สำนักกฎหมาย  สำนักงานหลักประกันสุขภาพแห่งชาติ</div>
            <div class="float-left w-33 text-left">FM-403 02-003</div>
            <div class="float-left w-33 text-center">หน้า 14/16</div>
            <div class="float-left w-33 text-right">วันที่ 1 ตุลาคม 2562</div>
        </div>
    </div>
</section>
<section>
    <div class="main-page size-16">
        <div class="header-page ">
            <p class="text-right">เลขที่อ้างอิง XXXXXX</p>
        </div>
        <div class="content-page ">
            <br />
            <div class="text-1">
                <b>ข้อ 11 ขอบเขตแห่งสิทธิของผู้มีสิทธิ</b>
            </div>
            <div class="text-1">
                ในกรณีที่ผู้มีสิทธิประสบอันตรายหรือเจ็บป่วย และมีสิทธิได้รับบริการสาธารณสุขจากทางอื่นนอกเหนือจากข้อตกลงนี้  โดยมีหน่วยงานหรือบุคคลใด เป็นผู้รับผิดชอบเกี่ยวกับค่าใช้จ่ายในการรับบริการสาธารณสุขแทนผู้มีสิทธิ ไม่ว่าสิทธิที่ได้รับนั้นจะเกิดจากสัญญา ละเมิด หรือเพราะเหตุอื่นก็ตาม  ผู้มีสิทธิจะเลือกใช้สิทธิในการรับบริการสาธารณสุขในทางใดก็ได้  ถ้าผู้มีสิทธิขอใช้สิทธิจากทางอื่น  หน่วยบริการจะต้องให้ผู้มีสิทธิแสดงความจำนงไว้เป็นหนังสือ  และหากผู้มีสิทธิเลือกใช้สิทธิในฐานะเป็นผู้มีสิทธิตามข้อตกลงนี้  หน่วยบริการต้องให้บริการสาธารณสุขแก่ผู้มีสิทธิตามข้อตกลงนี้  โดยจะกำหนดเงื่อนไขใดๆแก่ผู้มีสิทธิมิได้
            </div>
            <br />
            <div class="text-1">
                <b>ข้อ 12  การตีความ</b>
            </div>
            <div class="text-1">
                ทั้งสองฝ่ายมีความเข้าใจตรงกันว่าข้อตกลงนี้กำหนดขึ้นเพื่อให้ทั้งสองฝ่ายปฏิบัติให้เป็นไปตามพระราชบัญญัติ หลักประกันสุขภาพแห่งชาติ พ.ศ. 2545 และกฎหมายอื่นที่เกี่ยวข้องได้ถูกต้องครบถ้วน  ข้อความใดในข้อตกลงนี้ซึ่งขัดหรือแย้ง หรือไม่สอดคล้องกับกฎ ระเบียบ ข้อบังคับ ประกาศ มติ คำสั่ง หลักเกณฑ์ หรือแนวปฏิบัติ ของคณะกรรมการ หรือคณะกรรมการควบคุมคุณภาพมาตรฐาน หรือสำนักงานกำหนดขึ้น ให้ถือว่าข้อความในข้อตกลงนี้ไม่มีผลบังคับ และให้ถือบังคับตามกฎหมายว่าด้วยหลักประกันสุขภาพแห่งชาติ
            </div>
            <br />
            <div class="text-1">
                <b>ข้อ 13 การวินิจฉัยชี้ขาด</b>
            </div>
            <div class="text-1">
                กรณีที่มีปัญหาในการปฏิบัติตามข้อตกลงนี้ ให้สำนักงานเป็นผู้มีอำนาจวินิจฉัยชี้ขาด คำวินิจฉัยของสำนักงาน ให้ถือเป็นเด็ดขาด
            </div>
            <br />
            <div class="text-1">
                <b>ข้อ 14 การบอกกล่าว</b>
            </div>
            <div class="text-1">
                การบอกกล่าวใดที่คู่สัญญาฝ่ายหนึ่งจะต้องแจ้งให้คู่สัญญาอีกฝ่ายหนึ่งทราบตามข้อตกลงนี้จะต้องทำเป็นหนังสือส่งไปยังที่อยู่ของคู่สัญญาที่ระบุไว้ในข้อตกลงนี้ หากคู่สัญญาเปลี่ยนแปลงที่อยู่ ต้องแจ้งให้คู่สัญญาอีกฝ่ายหนึ่งทราบภายใน {1@97} วัน นับแต่วันเปลี่ยนแปลงที่อยู่ หากไม่แจ้งและคู่สัญญาฝ่ายใดฝ่ายหนึ่งได้ส่งหนังสือบอกกล่าวแก่คู่สัญญา ณ ที่อยู่ตามที่ระบุไว้ในข้อตกลงนี้ ให้ถือว่าได้ส่งโดยชอบแล้ว
            </div>
            <div class="text-1">

            </div>
            <div class="text-1">

            </div>

        </div>
        <div class="footer-page size-12">
            <div class="float-left w-50 text-left">(ลงชื่อ)...............................................สำนักงานหรือพยาน</div>
            <div class="float-left w-50 text-right">(ลงชื่อ)...............................................หน่วยบริการ</div>
            <div class="text-center size-10">แบบข้อตกลงให้บริการสาธารณสุข สำนักกฎหมาย  สำนักงานหลักประกันสุขภาพแห่งชาติ</div>
            <div class="float-left w-33 text-left">FM-403 02-003</div>
            <div class="float-left w-33 text-center">หน้า 15/16</div>
            <div class="float-left w-33 text-right">วันที่ 1 ตุลาคม 2562</div>
        </div>
    </div>
</section>

<section>
    <div class="main-page size-16">
        <div class="header-page ">
            <p class="text-right">เลขที่อ้างอิง XXXXXX</p>
        </div>
        <div class="content-page ">
            <br />
            <div class="text-1">

            </div>
            <div class="text-1">
                ข้อตกลงนี้ทำขึ้นสองฉบับ  มีข้อความถูกต้องตรงกันทั้งสองฝ่ายได้อ่านและเข้าใจข้อความโดยละเอียดตลอดแล้ว จึงได้ลงลายมือชื่อพร้อมประทับตรา (ถ้ามี) ไว้เป็นสำคัญต่อหน้าพยาน และทั้งสองฝ่ายต่างยึดถือไว้ฝ่ายละหนึ่งฉบับ
            </div>
            <br />
            <br />
            <br />
            <br />
            <div class="float-left w-25 text-right">ลงชื่อ</div>
            <div class="float-left w-50 text-left">&nbsp;</div>
            <div class="float-left w-25 text-left">สำนักงาน</div>
            <br />
            <br />
            <br />
            <br />
            <div class="float-left w-25 text-right">ลงชื่อ</div>
            <div class="float-left w-50 text-left">&nbsp;</div>
            <div class="float-left w-25 text-left">หน่วยบริการ</div>
            <br />
            <br />
            <br />
            <br />
            <div class="float-left w-25 text-right">ลงชื่อ</div>
            <div class="float-left w-50 text-left">&nbsp;</div>
            <div class="float-left w-25 text-left">พยาน</div>
            <br />
            <br />
            <br />
            <br />
            <div class="float-left w-25 text-right">ลงชื่อ</div>
            <div class="float-left w-50 text-left">&nbsp;</div>
            <div class="float-left w-25 text-left">พยาน</div>
        </div>
        <div class="footer-page size-12">
            <br />
            <div class="text-center size-10">แบบข้อตกลงให้บริการสาธารณสุข สำนักกฎหมาย  สำนักงานหลักประกันสุขภาพแห่งชาติ</div>
            <div class="float-left w-33 text-left">FM-403 02-003</div>
            <div class="float-left w-33 text-center">หน้า 16/16</div>
            <div class="float-left w-33 text-right">วันที่ 1 ตุลาคม 2562</div>
        </div>
    </div>
</section>

@section Scripts {
    <script src="~/js/FM.js" asp-append-version="true"></script>
}