
@model SmartContract.Infrastructure.Resources.ContractTypeVendor.TAllMasterVendorView

@{
    ViewData["Title"] = "FM_CONTRACT_T05";
    Layout = "~/Views/Shared/_LayoutFM.cshtml";
    var lookUp = Model.CTVendor.GetLookUp;
    var indataCon = Model.InfoContract;
    var indataNhso = Model.InfoContractNhso;
    var indataVendor = Model.InfoPartnersOfContract;
    var indataConstation = Model.ContractStation;
    var conDetail = Model.InfoConDetail.ContractDetail05;
}

<link rel="stylesheet" href="~/css/font.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/FM.css" asp-append-version="true" />

<section>
    <div class="main-page size-15">
        <div class="content-page ">
            <div class="text-right ">เลขที่อ้างอิง <span class="para">@indataCon.RefId</span></div>
            <div class="text-center">
                <img src="../images/logo/NHSO.png" alt="Mountain">
            </div>
            <h3 class="text-center size-17 mt-1">ข้อตกลงการดำเนินงานและบริหารจัดการกองทุนฟื้นฟูสมรรถภาพที่จำเป็นต่อสุขภาพ</h3>
            <div class="text-right ">สัญญาเลขที่ @(indataCon.ContractId != null ? indataCon.ContractId : "..........")</div>
            <div class="text-1">
                สัญญาฉบับนี้ทำขึ้น <span class="para">@indataNhso.NhsoAddress.Header</span> ตั้งอยู่เลขที่ {2@04} ถนน {3@05} แขวงตำบล {4@06} เขต/อำเภอ {5@07} จังหวัด {6@08} เมื่อวันที่{7@09}เดือน{8@10}พ.ศ.{9@11} ระหว่างสำนักงานหลักประกันสุขภาพแห่งชาติ  โดย {10@12} ซึ่งต่อไปในข้อตกลงนี้เรียกว่า “สำนักงาน” ฝ่ายหนึ่ง กับ {11@13} ตั้งอยู่เลขที่ {12@14} ถนน {13@15} แขวง/ตำบล {14@16} เขต/อำเภอ {15@17} จังหวัด {16@18} โดย {17@19} ได้รับมอบอำนาจจาก {18@20} เป็นผู้มีอำนาจลงนามผูกพันปรากฎตามหนังสือ {19@21} เลขที่ {20@22} ลงวันที่ {21@23} เดือน {22@24} พ.ศ. {23@25} แนบท้ายข้อตกลงนี้  ซึ่งต่อไปในข้อตกลงนี้เรียกว่า “องค์การบริหารส่วนจังหวัด” อีกฝ่ายหนึ่ง ทั้งสองฝ่ายได้ตกลงกันโดยมีข้อความดังต่อไปนี้
            </div>
            <br />
            <div class="text-1">
                <b>ข้อ 1 การดำเนินงาน</b>
            </div>
            <div class="text-1">
                ทั้งสองฝ่ายตกลงร่วมกันสนับสนุนและส่งเสริมการจัดระบบบริการฟื้นฟูสมรรถภาพเพื่อให้ผู้มีสิทธิได้รับการฟื้นฟูสมรรถภาพ เข้าถึงบริการฟื้นฟูสมรรถภาพที่จำเป็นต่อสุขภาพและการดำรงชีวิต ได้อย่างทั่วถึงและมีประสิทธิภาพมากยิ่งขึ้น โดยผูกพันตามประกาศคณะกรรมการหลักประกันสุขภาพแห่งชาติ ว่าด้วยหลักเกณฑ์การดำเนินงานและบริหารจัดการกองทุนฟื้นฟูสมรรถภาพ ระดับจังหวัด

            </div>
            <br />
            <div class="text-1">
                <b>ข้อ 2 ภาระหน้าที่ </b>
            </div>
            <div class="text-1">
                (1) องค์การบริหารส่วนจังหวัด เป็นผู้ดำเนินงานและบริหารจัดการระบบหลักประกันสุขภาพในระดับท้องถิ่นหรือพื้นที่ โดยมีกองทุนฟื้นฟูสมรรถภาพสนับสนุนส่งเสริมระบบบริการฟื้นฟูสมรรถภาพขององค์การบริหารส่วนจังหวัด องค์กรปกครองส่วนท้องถิ่นอื่น สถานบริการ หน่วยบริการ หน่วยงานสาธารณสุข หน่วยงานอื่น กลุ่มคนพิการ กลุ่มผู้สูงอายุ หรือองค์กรอื่น เพื่อให้ผู้มีสิทธิได้รับการฟื้นฟูสมรรถภาพ เข้าถึงบริการฟื้นฟูสมรรถภาพที่จำเป็นต่อสุขภาพและการดำรงชีวิต ได้อย่างทั่วถึงและมีประสิทธิภาพมากยิ่งขึ้น ภายใต้หลักเกณฑ์ตามประกาศคณะกรรมการหลักประกันสุขภาพแห่งชาติ ว่าด้วยหลักเกณฑ์การดำเนินงานและบริหารจัดการกองทุนฟื้นฟูสมรรถภาพ ระดับจังหวัด

            </div>
            <div class="text-1">
                (2) สำนักงานจะจัดสรรเงินเป็นค่าใช้จ่ายตามประกาศคณะกรรมการหลักประกันสุขภาพแห่งชาติ ว่าด้วยหลักเกณฑ์การดำเนินงานและการบริหารจัดการกองทุนหลักประกันสุขภาพแห่งชาติ และหลักเกณฑ์ วิธีการ และเงื่อนไขการรับค่าใช้จ่ายเพื่อบริการสาธารณสุขของหน่วยบริการที่กำหนดในแต่ละปีงบประมาณ

            </div>
            <div class="text-1">
                (3) องค์การบริหารส่วนจังหวัด จะสมทบเงินเข้ากองทุนฟื้นฟูสมรรถภาพภายใต้หลักเกณฑ์ตามประกาศคณะกรรมการหลักประกันสุขภาพแห่งชาติ ว่าด้วยหลักเกณฑ์การดำเนินงานและบริหารจัดการกองทุนฟื้นฟูสมรรถภาพ ระดับจังหวัด

            </div>
            <div class="text-1">
                (4) สำนักงานจะดำเนินการเพื่อแก้ปัญหาให้แก่กองทุนฟื้นฟูสมรรถภาพอันเกิดจากการดำเนินงานและบริหารจัดการให้ลุล่วงไปด้วยความรวดเร็ว ไม่เป็นอุปสรรคต่อการดำเนินงานตามภารกิจที่ตกลงกัน

            </div>
            <div class="text-1">
                (5) สำนักงานสามารถตรวจสอบบัญชีกองทุนฟื้นฟูสมรรถภาพได้

            </div>
            <div class="text-1">
                (6) องค์การบริหารส่วนจังหวัดต้องปฏิบัติตามข้อบังคับ ระเบียบ ประกาศ หลักเกณฑ์ มติคำสั่ง หรือแนวปฏิบัติของคณะกรรมการหลักประกันสุขภาพแห่งชาติหรือสำนักงานที่กำหนดขึ้นก่อนหรือระหว่างที่ข้อตกลงนี้มีผลใช้บังคับ และให้ถือว่าข้อบังคับ ระเบียบ ประกาศ หลักเกณฑ์ มติ คำสั่ง หรือแนวปฏิบัติดังกล่าวนั้น เป็นส่วนหนึ่งของข้อตกลงนี้

            </div>
            <br />
            <div class="text-1">
                <b>ข้อ 3 ระยะเวลาดำเนินงาน</b>
            </div>
            <div class="text-1">
                องค์การบริหารส่วนจังหวัด เริ่มดำเนินงานตามข้อตกลงนี้ ตั้งแต่ วันที่ {24@41} เดือน {25@42} พ.ศ. {26@43}  และสิ้นสุดในวันที่ {27@44} เดือน {28@45} พ.ศ. {29@46}
            </div>
            <div class="text-1">
                เมื่อถึงกำหนดระยะเวลาสิ้นสุดข้อตกลงตามวรรคหนึ่ง ถ้าสำนักงานหรือองค์การบริหาร
                ส่วนจังหวัด มิได้บอกเลิกข้อตกลง ให้ถือว่าระยะเวลาดำเนินงานตามข้อตกลงนี้ขยายออกไปอีกทุก ๆ หนึ่งปี ปีงบประมาณ โดยให้ข้อตกลงนี้มีผลบังคับใช้ต่อไป เริ่มต้นนับตั้งแต่วันที่ 1 ตุลาคม ถึง วันที่ 30 กันยายน ของแต่ละปีงบประมาณนั้น เป็นต้นไปทุก ๆ ปี

            </div>
            <br />
            <div class="text-1">
                <b>
                    ข้อ 4 การบอกเลิกข้อตกลง
                </b>
            </div>
            <div class="text-1">
                กรณีองค์การบริหารส่วนจังหวัดไม่ประสงค์จะดำเนินงานในปีงบประมาณใดต่อไปอีก ให้แจ้งความประสงค์เป็นหนังสือต่อสำนักงานก่อนข้อตกลงสิ้นสุดลงไม่น้อยกว่าเก้าสิบวัน
            </div>
            <div class="text-1">
                เมื่อข้อตกลงสิ้นสุดลงให้เงินและทรัพย์สินของกองทุนฟื้นฟูสมรรถภาพเป็นไปตามความตกลงของทั้งสองฝ่าย

            </div>
        </div>
    </div>
</section>
<section>
    <partial name="/Views/FM/SignatureLast.cshtml" model="Model" />
</section>

@section Scripts {
    <script src="~/js/FM.js" asp-append-version="true"></script>
}


