
@inject SmartContract.Infrastructure.Interfaces.Authenticate.IUserService UserService
@using Microsoft.AspNetCore.Http


@{
    Layout = null;
}


<style>
    .fa, .fas, .far, .fal, .fad, .fab {
        /*font-family: 'Font Awesome 5 Free';*/
        font-weight: 100;
        font-style: normal;
        font-variant: normal;
        /*text-rendering: auto;*/
        /*line-height: 2;*/
    }
</style>

<section id="topbar" class="d-flex align-items-center bg-primary text-light">
    <div class="col-md-12">
        <div class="d-flex justify-content-center justify-content-md-between">
            <div class="contact-info d-flex align-items-center mt-3 mb-3">
                <i class="fas fa-user mr-3"><span class="ml-1">@UserService.GetUserFullName()</span></i>
                <i class="fas fa-id-card mr-3"><span class="ml-1">@UserService.GetVendorName()</span></i>
                <i class="fas fa-star mr-3"><span class="ml-1">@UserService.GetRoleFullName()</span></i>
            </div>
        </div>
    </div>
</section>